{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "ShallDo" %}</title>

    <link rel="stylesheet" href="/static/assets/ai_chat_test/css/normalize.css">

    {#		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>#}
    <link rel='stylesheet prefetch' href='/static/assets/ai_chat_test/js/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="/static/assets/ai_chat_test/css/style.css">
    <script src="/static/assets/ai_chat_test/js/jquery-latest.js"></script>
</head>

<body id="page_body">

<div class="chat">
    <div class="chat-title">
        <h1>中文聊天机器人</h1>
        <h2>咱们唠个五毛钱的天呗</h2>
        <figure class="avatar">
            <img src="/static/assets/ai_chat_test/res/easybot.png"/></figure>
    </div>
    <div class="messages">
        <div class="messages-content"></div>
    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">{% trans "Send" %}</button>
    </div>

</div>
<div class="bg"></div>
<script src='/static/assets/ai_chat_test/js/jquery.min.js'></script>
<script src='/static/assets/ai_chat_test/js/jquery.mCustomScrollbar.concat.min.js'></script>

<script src={% static "/assets/ai_chat_test/js/index.js" %}></script>

</body>
</html>
