{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'assets/css_for_shop/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'assets/css_for_shop/custom.css' %}" rel="stylesheet">

    <!-- SPECIFIC JS -->
    <script src="{% static 'assets/chat_js/gun.js' %}"></script>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <style>html, body, textarea {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }</style>
    <textarea id="paste" placeholder="paste here!"></textarea>
    <script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
    <script>
        gun = Gun(['http://localhost:8765/gun', 'https://gun-manhattan.herokuapp.com/gun']);
        copy = gun.get('test').get('paste');
        paste.oninput = () => {
            copy.put(paste.value)
        };
        copy.on((data) => {
            paste.value = data
        });
    </script>


{% endblock %}