{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'assets/css_for_shop/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'assets/css_for_shop/custom.css' %}" rel="stylesheet">
        <link href="{% static 'assets/chat_css/chat.css' %}" rel="stylesheet">


    {#        <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/bootstrap.min.css' %}">#}
    <script src="{% static 'assets/chat_js/static/js/jquery.min.js' %}"></script>
    {#    <script src="{% static 'assets/chat_js/static/js/bootstrap.min.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/font-awesome.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/litewebchat.css' %}"/>


    <!-- SPECIFIC JS -->
    {#    <script src="{% static 'assets/chat_js/gun.js' %}"></script>#}
{% endblock %}

{% block content %}


    <div class="container-fluid h-100">

        <div class="card-header">
            <h1>Welcome to ChatApp
                <small>Pick a user and start chatting!</small>
            </h1>
        </div>
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts_body">
                            <div id="user-list" class="contacts">
                                {# Users go here #}
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <h4 class="card-title">Chat</h4>
                    </div>
                    <div id="messages" class="card-body msg_card_body">
                        {# Messages go here #}
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i
                                        {#                                        class="fas fa-paperclip"#}
                                >File</i></span>
                            </div>
                            <input id="chat-input" type="text"
                                   class="form-control type_msg"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"><i
                                        {#                                        class="fas fa-location-arrow"#}
                                        id="btn-send">Send</i></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    </div>

    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    <script>
        let currentRecipient = '';
        let chatInput = $('#chat-input');
        let chatButton = $('#btn-send');
        let userList = $('#user-list');
        let messageList = $('#messages');
        let chat_history = 0;

        function updateUserList() {
            $.getJSON('/api/user/', function (data) {
                userList.children('.user').remove();
                for (let i = 0; i < data.length; i++) {
                    const userItem = `



<a href="#" class="user user_info">${data[i]['username']}<br />

						</a>


`;
                    $(userItem).appendTo('#user-list');
                }
                $('.user').click(function () {
                    userList.children('.active').removeClass('active');
                    let selected = event.target;
                    $(selected).addClass('active');
                    setCurrentRecipient(selected.text);
                });
            });
        }

        function drawMessage(message) {
            let position = 'start';
            let position_new = 'cleft';
            let messageItem = '';
            const date = new Date(message.timestamp);
            if (message.user === currentUser) position = 'end';
            if (message.user === currentUser) position_new = 'cright';
            if (message.user === currentUser) {
                messageItem = `
            <div class="message d-flex justify-content-${position} mb-4 ">
				<div class="msg_cotainer">${message.body}<br>
					<span class="msg_time">${date}</span>
				</div>
                <div class="img_cont_msg">${message.user}</div>
            </div>`;
            } else {
                messageItem = `
            <div class="message d-flex justify-content-${position} mb-4 ">
                <div class="img_cont_msg">${message.user}</div>
				<div class="msg_cotainer_send">${message.body}<br>
					<span class="msg_time">${date}</span>
				</div>
            </div>`;
            }
            $(messageItem).appendTo('#messages');
        }


        function getConversation(recipient) {
            $.getJSON(`/api/message/?target=${recipient}`, function (data) {
                if (data['results'].length != chat_history) {
                    chat_history = data['results'].length;
                    messageList.children('.message').remove();
                    for (let i = data['results'].length - 1; i >= 0; i--) {
                        drawMessage(data['results'][i]);
                    }
                    messageList.animate({scrollTop: messageList.prop('scrollHeight')});
                }

            });

        }

        function getMessageById(message) {
            id = JSON.parse(message).message
            $.getJSON(`/api/message/${id}/`, function (data) {
                if (data.user === currentRecipient ||
                    (data.recipient === currentRecipient && data.user == currentUser)) {
                    drawMessage(data);
                }
                messageList.animate({scrollTop: messageList.prop('scrollHeight')});
            });
        }

        function sendMessage(recipient, body) {
            $.post('/api/message/', {
                recipient: recipient,
                body: body
            }).fail(function () {
                alert('Error! Check console!');
            });
        }

        function setCurrentRecipient(username) {
            currentRecipient = username;
            getConversation(currentRecipient);
            enableInput();
        }


        function enableInput() {
            chatInput.prop('disabled', false);
            chatButton.prop('disabled', false);
            chatInput.focus();
        }

        function disableInput() {
            chatInput.prop('disabled', true);
            chatButton.prop('disabled', true);
        }

        $(document).ready(function () {
                updateUserList();
                disableInput();

                chatInput.keypress(function (e) {
                    if (e.keyCode == 13)
                        chatButton.click();
                });

                chatButton.click(function () {
                    if (chatInput.val().length > 0) {
                        sendMessage(currentRecipient, chatInput.val());
                        chatInput.val('');
                    }
                });

                setInterval(function () {
                    if (currentRecipient.length > 0) {
                        getConversation(currentRecipient);
                    }
                }, 500);

            }
        );


    </script>
{% endblock %}


