{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'assets/css_for_shop/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'assets/css_for_shop/custom.css' %}" rel="stylesheet">
    <link href="{% static 'assets/chat_css/chat.css' %}" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/fontawesome-free-5.15.4-web/css/fontawesome.css' %}" rel="stylesheet">
    {#        <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/bootstrap.min.css' %}">#}
    <script src="{% static 'assets/chat_js/static/js/jquery.min.js' %}"></script>
    {#    <script src="{% static 'assets/chat_js/static/js/bootstrap.min.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/font-awesome.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/chat_js/static/css/litewebchat.css' %}"/>


    <!-- SPECIFIC JS -->
    {#    <script src="{% static 'assets/chat_js/gun.js' %}"></script>#}
{% endblock %}

{% block content %}


    <div class="container-fluid h-100">

        <div class="card-header">
            <h1>Welcome to ChatApp
                <small>Pick a user and start chatting!</small>
            </h1>
        </div>
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts_body">
                            <div id="user-list" class="contacts">
                                {# Users go here #}
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont head">

                                <img id="user-image"
                                     style="border-radius: 100%; border: 2px solid #FFF; max-width: 37px;"
                                     src=""
                                     alt="'s Photo"/>
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                Chat with <span id="chat_with"></span>
                                <p>1767 Messages(temp)</p>
                            </div>
                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div id="messages" class="card-body msg_card_body">
                        {# Messages go here #}
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i
                                        {#                                        class="fas fa-paperclip"#}
                                >File</i></span>
                            </div>
                            <input id="chat-input" type="text"
                                   class="form-control type_msg"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <div class="input-group-append">
                                <span class="input-group-text send_btn"><i
                                        {#                                        class="fas fa-location-arrow"#}
                                        id="btn-send">Send</i></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    </div>

    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    <script>
        let currentRecipient = '';
        let chatInput = $('#chat-input');
        let chatButton = $('#btn-send');
        let userList = $('#user-list');
        let messageList = $('#messages');
        let chat_history = 0;
        let chat_with;
        let chat_with_current;
        let current_user_id;

        function select(id) {
            current_user_id = id;
            $('.active').removeClass('active');
            let selected = event.target;
            {#console.log(selected);#}
            $(selected).addClass('active');
            chat_with_current = $(selected).attr('value');
            setCurrentRecipient(chat_with_current);
            $('#chat_with').text(chat_with_current);
            $.getJSON(`../api/user/${id}`, function (user) {
                {#console.log(user);#}
                $.getJSON(`../api/profile/?user=${user.id}`, function (profile) {
                    $('#user-image').attr('src', profile[0].image);
                    {#$('#chat_avatar').attr('src', profile[0].image);#}
                });
            });
        }

        function updateUserList() {
            $.getJSON('/api/user/', function (data) {
                userList.children('.user').remove();
                for (let i = 0; i < data.length; i++) {
                    $.getJSON(`/api/profile/?user=${data[i]['id']}`, function (profile) {
                        const userItem = `

                        <li class="user" value=${data[i]['username']} onclick=select(${data[i]['id']})>
							<div class="d-flex bd-highlight" style="pointer-events: none">
								<div class="img_cont">
									<img src=${profile[0]['image']} class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span>${data[i].username}</span>
									<p>${data[i].email}</p>
								</div>
							</div>
						</li>
`;
                        $(userItem).appendTo('#user-list');
                        (data[i].username);
                    })

                }
                {#$('.user').click(function () {#}
                {#    $('.active').removeClass('active');#}
                {#    let selected = event.target;#}
                {#    console.log(selected);#}
                {#    $(selected).addClass('active');#}
                {#    chat_with_current = $(selected).attr('value');#}
                {#    setCurrentRecipient(chat_with_current);#}
                {#    $('#chat_with').text(chat_with_current);});#}


            });
        }

        function drawMessage(message) {
            let position = 'start';
            let position_new = 'cleft';
            let messageItem = '';
            let date = new Date(message.timestamp);
            date = date.toLocaleString();
            if (message.user === currentUser) position = 'end';
            if (message.user === currentUser) position_new = 'cright';
            if (message.user === currentUser) {
                messageItem = `
            <div class="message d-flex justify-content-${position} mb-4 ">
				<div class="msg_cotainer_send">${message.body}<br>
					<span class="msg_time">${date}</span>
				</div>
                <div class="img_cont_msg">
                                <img style="border-radius: 100%; border: 2px solid #FFF; max-width: 37px;"
                                     src="/media/{{ request.user.profile.image }}"
                                     alt="{{ request.user.username }}'s Photo"/>				</div>
            </div>`;
            } else {
                messageItem = `
            <div class="message d-flex justify-content-${position} mb-4 ">
                <div class="img_cont_msg">
					<img id="chat_avatar" src="" class="rounded-circle user_img_msg">
				</div>
				<div class="msg_cotainer">${message.body}<br>
					<span class="msg_time">${date}</span>
				</div>
            </div>`;
            }
            $(messageItem).appendTo('#messages');

            $.getJSON(`../api/user/${current_user_id}`, function (user) {
                $.getJSON(`../api/profile/?user=${user.id}`, function (profile) {
                    $('#chat_avatar').attr('src', profile[0].image);
                });
            });
        }


        function getConversation(recipient) {
            $.getJSON(`/api/message/?target=${recipient}`, function (data) {

                if (chat_with != chat_with_current || data['results'].length != chat_history) {
                    {#console.log(chat_with);#}
                    {#console.log(chat_with_current);#}
                    chat_with_current = chat_with;
                    {#console.log(data['results'].length)#}
                    {#console.log(chat_history)#}
                    chat_history = data['results'].length;
                    messageList.children('.message').remove();
                    for (let i = data['results'].length - 1; i >= 0; i--) {
                        drawMessage(data['results'][i]);
                    }
                    messageList.animate({scrollTop: messageList.prop('scrollHeight')});
                }

            });

        }

        function getMessageById(message) {
            id = JSON.parse(message).message
            $.getJSON(`/api/message/${id}/`, function (data) {
                if (data.user === currentRecipient ||
                    (data.recipient === currentRecipient && data.user == currentUser)) {
                    drawMessage(data);
                }
                messageList.animate({scrollTop: messageList.prop('scrollHeight')});
            });
        }

        function sendMessage(recipient, body) {
            $.post('/api/message/', {
                recipient: recipient,
                body: body
            }).fail(function () {
                alert('Error! Check console!');
            });
        }

        function setCurrentRecipient(username) {
            currentRecipient = username;
            console.log(currentRecipient)
            getConversation(currentRecipient);

            enableInput();
        }


        function enableInput() {
            chatInput.prop('disabled', false);
            chatButton.prop('disabled', false);
            chatInput.focus();
        }

        function disableInput() {
            chatInput.prop('disabled', true);
            chatButton.prop('disabled', true);
        }

        $(document).ready(function () {
                updateUserList();
                disableInput();

                chatInput.keypress(function (e) {
                    if (e.keyCode == 13)
                        chatButton.click();
                });

                chatButton.click(function () {
                    if (chatInput.val().length > 0) {
                        sendMessage(currentRecipient, chatInput.val());
                        chatInput.val('');
                    }
                });

                setInterval(function () {
                    if (currentRecipient.length > 0) {
                        getConversation(currentRecipient);
                    }
                }, 500);

            }
        );
        $(document).ready(function () {
            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });
        });

    </script>
{% endblock %}


