{% extends 'management_templates/base.html' %}

{% load i18n %}
{% load static %}

    {% block location %}
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
        </ul><!-- /.breadcrumb -->
    {% endblock %}

    {% block page_header %}
        <div class="page-header">
            <h1>
                Home
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>

                </small>
            </h1>
        </div>
    {% endblock %}

{% block content %}



{% endblock %}

{% block scripts %}



{% endblock %}
