{% extends 'management_templates/base.html' %}

{% load i18n %}
{% load static %}

{% block location %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
    </ul><!-- /.breadcrumb -->
{% endblock %}

{% block page_header %}
    <div class="row page-header">
        <h1 class="col-md-10">
            Profile
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div id="user-profile-1" class="user-profile row">
            <div class="col-xs-12 col-sm-3 center">
                <div>

                    <span class="profile-picture">

                        <img class="editable img-responsive" alt="Alex's Avatar"
                             id="avatar2"
                             src="/media/{{ profile.image }}"/>
                    </span>

                    <div class="space-4"></div>

                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                        <div class="inline position-relative">
                            <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                <i class="ace-icon fa fa-circle light-green"></i>
                                &nbsp;
                                <span class="white">{{ request.user.username }}</span>
                            </a>

                            <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                <li class="dropdown-header"> Change Status</li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle green"></i>
                                        &nbsp;
                                        <span class="green">Available</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle red"></i>
                                        &nbsp;
                                        <span class="red">Busy</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle grey"></i>
                                        &nbsp;
                                        <span class="grey">Invisible</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="space-6"></div>

                <div class="profile-contact-info">
                    <div class="profile-contact-links align-left">
                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                            Add as a friend
                        </a>

                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                            Send a message
                        </a>

                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-globe bigger-125 blue"></i>
                            www.alexdoe.com
                        </a>
                    </div>

                    <div class="space-6"></div>

                    <div class="profile-social-links align-center">
                        <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                            <i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
                        </a>

                        <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                            <i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
                        </a>

                        <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                            <i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
                        </a>
                    </div>
                </div>

                <div class="hr hr12 dotted"></div>

                <div class="clearfix">
                    <div class="grid2">
                        <span class="bigger-175 blue">25</span>

                        <br/>
                        Followers
                    </div>

                    <div class="grid2">
                        <span class="bigger-175 blue">12</span>

                        <br/>
                        Following
                    </div>
                </div>

                <div class="hr hr16 dotted"></div>
            </div>

            <div class="col-xs-12 col-sm-9">
                <div class="center">
												<span class="btn btn-app btn-sm btn-light no-hover">
													<span class="line-height-1 bigger-170 blue"> 1,411 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Views </span>
												</span>

                    <span class="btn btn-app btn-sm btn-yellow no-hover">
													<span class="line-height-1 bigger-170"> 32 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Followers </span>
												</span>

                    <span class="btn btn-app btn-sm btn-pink no-hover">
													<span class="line-height-1 bigger-170"> 4 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Projects </span>
												</span>

                    <span class="btn btn-app btn-sm btn-grey no-hover">
													<span class="line-height-1 bigger-170"> 23 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Reviews </span>
												</span>

                    <span class="btn btn-app btn-sm btn-success no-hover">
													<span class="line-height-1 bigger-170"> 7 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Albums </span>
												</span>

                    <span class="btn btn-app btn-sm btn-primary no-hover">
													<span class="line-height-1 bigger-170"> 55 </span>

													<br/>
													<span class="line-height-1 smaller-90"> Contacts </span>
												</span>
                </div>

                <div class="space-12"></div>

                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Username</div>

                        <div class="profile-info-value">
                            <span class="editable" id="username">{{ request.user.username }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> First Name</div>

                        <div class="profile-info-value">
                            <span class="editable" id="first_name">{{ request.user.first_name }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last Name</div>

                        <div class="profile-info-value">
                            <span class="editable" id="last_name">{{ request.user.last_name }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Joined</div>

                        <div class="profile-info-value">
                            <span class="editable" id="signup">{{ request.user.date_joined }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last Online</div>

                        <div class="profile-info-value">
                            <span class="editable" id="login">{{ request.user.last_login }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email</div>

                        <div class="profile-info-value">
                            <span class="editable" id="email">{{ request.user.email }}</span>
                        </div>
                    </div>
                </div>

                <div class="space-20"></div>

                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title blue smaller">
                            <i class="ace-icon fa fa-rss orange"></i>
                            Recent Activities
                        </h4>

                        <div class="widget-toolbar action-buttons">
                            <a href="#" data-action="reload">
                                <i class="ace-icon fa fa-refresh blue"></i>
                            </a>
                            &nbsp;
                            <a href="#" class="pink">
                                <i class="ace-icon fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <div id="profile-feed-1" class="profile-feed">
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar"
                                             src="assets/images/avatars/avatar5.png"/>
                                        <a class="user" href="#"> Alex Doe </a>
                                        changed his profile photo.
                                        <a href="#">Take a look</a>

                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            an hour ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Susan Smith's avatar"
                                             src="assets/images/avatars/avatar1.png"/>
                                        <a class="user" href="#"> Susan Smith </a>

                                        is now friends with Alex Doe.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            2 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        joined
                                        <a href="#">Country Music</a>

                                        group.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            5 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        uploaded a new photo.
                                        <a href="#">Take a look</a>

                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            5 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="David Palms's avatar"
                                             src="assets/images/avatars/avatar4.png"/>
                                        <a class="user" href="#"> David Palms </a>

                                        left a comment on Alex's wall.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            8 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        published a new blog post.
                                        <a href="#">Read now</a>

                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            11 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar"
                                             src="assets/images/avatars/avatar5.png"/>
                                        <a class="user" href="#"> Alex Doe </a>

                                        upgraded his skills.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            12 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>

                                        logged in.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            12 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>

                                        logged out.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            16 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>

                                        logged in.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            16 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr hr2 hr-double"></div>

                <div class="space-6"></div>

                <div class="center">
                    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                        <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                        <span class="bigger-110">View more activities</span>

                        <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--[if !IE]> -->
    <script src="/static/assets/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <script src="/static/assets/js/jquery-ui.custom.min.js"></script>
    <script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/assets/js/jquery.gritter.min.js"></script>
    <script src="/static/assets/js/bootbox.js"></script>
    <script src="/static/assets/js/jquery.easypiechart.min.js"></script>
    <script src="/static/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/js/jquery.hotkeys.index.min.js"></script>
    <script src="/static/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/assets/js/select2.min.js"></script>
    <script src="/static/assets/js/spinbox.min.js"></script>
    <script src="/static/assets/js/bootstrap-editable.min.js"></script>
    <script src="/static/assets/js/ace-editable.min.js"></script>
    <script src="/static/assets/js/jquery.maskedinput.min.js"></script>

    <!-- ace scripts -->
    <script src="/static/assets/js/ace-elements.min.js"></script>
    <script src="/static/assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {

            //editables on first profile page
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>' +
                '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';

            //editables

            //text editable
            $('#username')
                .editable({
                    type: 'text',
                    name: 'username',
                    success: function (response, newValue) {
                        $.ajax({
                            url: "/api/user/{{ request.user.id }}/",
                            method: "PATCH",
                            headers: {
                                'X-CSRFTOKEN': '{{ csrf_token }}'
                            },
                            data: {
                                username: newValue
                            },
                            success: function (res) {
                                $.ajax({
                                    url: "#",
                                    method: "GET",
                                    success: function (res) {
                                        $('.user-name').html(newValue);

                                    }
                                });
                            }
                        })
                    }
                });

            $('#first_name')
                .editable({
                    type: 'text',
                    name: 'first_name',
                    success: function (response, newValue) {
                        $.ajax({
                            url: "/api/user/{{ request.user.id }}/",
                            method: "PATCH",
                            headers: {
                                'X-CSRFTOKEN': '{{ csrf_token }}'
                            },
                            data: {
                                first_name: newValue
                            },
                            success: function (res) {

                            }
                        })
                    }
                });

            $('#last_name')
                .editable({
                    type: 'text',
                    name: 'last_name',
                    success: function (response, newValue) {
                        $.ajax({
                            url: "/api/user/{{ request.user.id }}/",
                            method: "PATCH",
                            headers: {
                                'X-CSRFTOKEN': '{{ csrf_token }}'
                            },
                            data: {
                                last_name: newValue
                            },
                            success: function (res) {

                            }
                        })
                    }
                });

            $('#email')
                .editable({
                    type: 'email',
                    name: 'email',
                    success: function (response, newValue) {
                        $.ajax({
                            url: "/api/user/{{ request.user.id }}/",
                            method: "PATCH",
                            headers: {
                                'X-CSRFTOKEN': '{{ csrf_token }}'
                            },
                            data: {
                                email: newValue
                            },
                            success: function (res) {

                            }
                        })
                    }
                });


            //select2 editable
            {#var countries = [];#}
            {#$.each({#}
            {#    "CA": "Canada",#}
            {#    "IN": "India",#}
            {#    "NL": "Netherlands",#}
            {#    "TR": "Turkey",#}
            {#    "US": "United States"#}
            //}, function (k, v) {
            {#    countries.push({id: k, text: v});#}
            //});
            {##}
            {#var cities = [];#}
            {#cities["CA"] = [];#}
            {#$.each(["Toronto", "Ottawa", "Calgary", "Vancouver"], function (k, v) {#}
            {#    cities["CA"].push({id: v, text: v});#}
            //});
            {#cities["IN"] = [];#}
            {#$.each(["Delhi", "Mumbai", "Bangalore"], function (k, v) {#}
            {#    cities["IN"].push({id: v, text: v});#}
            //});
            {#cities["NL"] = [];#}
            {#$.each(["Amsterdam", "Rotterdam", "The Hague"], function (k, v) {#}
            {#    cities["NL"].push({id: v, text: v});#}
            //});
            {#cities["TR"] = [];#}
            {#$.each(["Ankara", "Istanbul", "Izmir"], function (k, v) {#}
            {#    cities["TR"].push({id: v, text: v});#}
            //});
            {#cities["US"] = [];#}
            {#$.each(["New York", "Miami", "Los Angeles", "Chicago", "Wysconsin"], function (k, v) {#}
            {#    cities["US"].push({id: v, text: v});#}
            //});
            {##}
            {#var currentValue = "NL";#}
            {#$('#country').editable({#}
            {#    type: 'select2',#}
            {#    value: 'NL',#}
            {#    //onblur:'ignore',#}
            {#    source: countries,#}
            {#    select2: {#}
            {#        'width': 140#}
            {#    },#}
            {#    success: function (response, newValue) {#}
            {#        if (currentValue == newValue) return;#}
            {#        currentValue = newValue;#}
            {##}
            {#        var new_source = (!newValue || newValue == "") ? [] : cities[newValue];#}
            {##}
            {#        //the destroy method is causing errors in x-editable v1.4.6+#}
            {#        //it worked fine in v1.4.5#}
            {#        /**#}
            {#         $('#city').editable('destroy').editable({#}
			{#				type: 'select2',#}
			{#				source: new_source#}
			{#			}).editable('setValue', null);#}
            {#         */#}
            {##}
            {#            //so we remove it altogether and create a new element#}
            {#        var city = $('#city').removeAttr('id').get(0);#}
            {#        $(city).clone().attr('id', 'city').text('Select City').editable({#}
            {#            type: 'select2',#}
            {#            value: null,#}
            {#            //onblur:'ignore',#}
            {#            source: new_source,#}
            {#            select2: {#}
            {#                'width': 140#}
            {#            }#}
            {#        }).insertAfter(city);//insert it after previous instance#}
            {#        $(city).remove();//remove previous instance#}
            {##}
            {#    }#}
            //});
            {##}
            {#$('#city').editable({#}
            {#    type: 'select2',#}
            {#    value: 'Amsterdam',#}
            {#    //onblur:'ignore',#}
            {#    source: cities[currentValue],#}
            {#    select2: {#}
            {#        'width': 140#}
            {#    }#}
            //});
            {##}
            {##}
            {#//custom date editable#}
            {#$('#signup').editable({#}
            {#    type: 'adate',#}
            {#    date: {#}
            {#        //datepicker plugin options#}
            {#        format: 'yyyy/mm/dd',#}
            {#        viewformat: 'yyyy/mm/dd',#}
            {#        weekStart: 1#}
            {##}
            {#        //,nativeUI: true//if true and browser support input[type=date], native browser control will be used#}
            {#        //,format: 'yyyy-mm-dd',#}
            {#        //viewformat: 'yyyy-mm-dd'#}
            {#    }#}
            //})
            {##}
            {#$('#age').editable({#}
            {#    type: 'spinner',#}
            {#    name: 'age',#}
            {#    spinner: {#}
            {#        min: 16,#}
            {#        max: 99,#}
            {#        step: 1,#}
            {#        on_sides: true#}
            {#        //,nativeUI: true//if true and browser support input[type=number], native browser control will be used#}
            {#    },#}
            {#    success: function (response, newValue) {#}
            {#        $.ajax({#}
            {#            url: "/api/user/{{ request.user.id }}/",#}
            {#            method: "PATCH",#}
            {#            headers: {#}
            {#                'X-CSRFTOKEN': '{{ csrf_token }}'#}
            {#            },#}
            {#            data: {#}
            {#                age: newValue#}
            {#            },#}
            {#            success: function (res) {#}
            {#                $.ajax({#}
            {#                    url: "#",#}
            {#                    method: "GET",#}
            {#                    success: function (res) {#}
            {#                        $('#management_body').html($(res).find('#management_body')[0].html())#}
            {##}
            {#                    }#}
            {#                });#}
            {#            }#}
            {#        })#}
            {#    }#}
            //});
            {##}
            {##}
            {#$('#login').editable({#}
            {#    type: 'slider',#}
            {#    name: 'login',#}
            {##}
            {#    slider: {#}
            {#        min: 1,#}
            {#        max: 50,#}
            {#        width: 100#}
            {#        //,nativeUI: true//if true and browser support input[type=range], native browser control will be used#}
            {#    },#}
            {#    success: function (response, newValue) {#}
            {#        if (parseInt(newValue) == 1)#}
            {#            $(this).html(newValue + " hour ago");#}
            {#        else $(this).html(newValue + " hours ago");#}
            {#    }#}
            //});
            {##}
            {#$('#about').editable({#}
            {#    mode: 'inline',#}
            {#    type: 'wysiwyg',#}
            {#    name: 'about',#}
            {##}
            {#    wysiwyg: {#}
            {#        //css : {'max-width':'300px'}#}
            {#    },#}
            {#    success: function (response, newValue) {#}
            {#    }#}
            //});


            // *** editable avatar *** //


            //another option is using modals
            $('#avatar2').on('click', function () {
                var modal =
                    '<div class="modal fade">\
					  <div class="modal-dialog">\
					   <div class="modal-content">\
						<div class="modal-header">\
							<button type="button" class="close" data-dismiss="modal">&times;</button>\
							<h4 class="blue">Change Avatar</h4>\
						</div>\
						\
						<form action="/management/profile/" method="POST" enctype="multipart/form-data">\
						    {% csrf_token %}\
                            <input name="photo" type="file" accept="image/*" >\
						\
						 <div class="modal-footer center">\
							<button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Submit</button>\
							<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
						 </div>\
						</form>\
					  </div>\
					 </div>\
					</div>';

                var modal = $(modal);
                modal.modal("show").on("hidden", function () {
                    modal.remove();
                });

                var working = false;

                var form = modal.find('form:eq(0)');
                var file = form.find('input[type=file]').eq(0);
                file.ace_file_input({
                    style: 'well',
                    btn_choose: 'Click to choose new avatar',
                    btn_change: null,
                    no_icon: 'ace-icon fa fa-picture-o',
                    thumbnail: 'small',
                    before_remove: function () {
                        //don't remove/reset files while being uploaded
                        return !working;
                    },
                    allowExt: ['jpg', 'jpeg', 'png', 'gif'],
                    allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
                });

                {#form.on('submit', function () {#}
                {#    if (!file.data('ace_input_files')) return false;#}
                {##}
                {#    file.ace_file_input('disable');#}
                {#    form.find('button').attr('disabled', 'disabled');#}
                {#    form.find('.modal-body').append("<div class='center'><i class='ace-icon fa fa-spinner fa-spin bigger-150 orange'></i></div>");#}
                {##}
                {#    var deferred = new $.Deferred;#}
                {#    working = true;#}
                {#    deferred.done(function () {#}
                {#        form.find('button').removeAttr('disabled');#}
                {#        form.find('input[type=file]').ace_file_input('enable');#}
                {#        form.find('.modal-body > :last-child').remove();#}
                {##}
                {#        modal.modal("hide");#}
                {##}
                {#        var thumb = file.next().find('img').data('thumb');#}
                {#        if (thumb) $('#avatar2').get(0).src = thumb;#}
                {##}
                {#        working = false;#}
                {#    });#}
                {##}
                {##}
                {#    setTimeout(function () {#}
                {#        deferred.resolve();#}
                {#    }, parseInt(Math.random() * 800 + 800));#}
                {##}
                {#    return true;#}
               // });

            });


            //////////////////////////////
            $('#profile-feed-1').ace_scroll({
                height: '250px',
                mouseWheelLock: true,
                alwaysVisible: true
            });

            $('a[ data-original-title]').tooltip();

            $('.easy-pie-chart.percentage').each(function () {
                var barColor = $(this).data('color') || '#555';
                var trackColor = '#E2E2E2';
                var size = parseInt($(this).data('size')) || 72;
                $(this).easyPieChart({
                    barColor: barColor,
                    trackColor: trackColor,
                    scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: parseInt(size / 10),
                    animate: false,
                    size: size
                }).css('color', barColor);
            });


            ////////////////////
            //change profile
            $('[data-toggle="buttons"] .btn').on('click', function (e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                $('.user-profile').parent().addClass('hide');
                $('#user-profile-' + which).parent().removeClass('hide');
            });


            /////////////////////////////////////
            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove remaining elements before leaving page
                try {
                    $('.editable').editable('destroy');
                } catch (e) {
                }
                $('[class*=select2]').remove();
            });
        });
    </script>
{% endblock %}