{% extends 'management_templates/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block location %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">{% trans "Home" %}</a>
        </li>
        <li>
            <a href="#">{% trans "Update Instrument" %}</a>
        </li>
    </ul><!-- /.breadcrumb -->
{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{% trans "Cart Management" %}<small>
                <i class="ace-icon fa fa-angle-double-right"></i>{% trans "Update Instrument" %}</small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    {{ form.errors }}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Submit' %}</button>

    </form>

    <script>
        $("label:contains(Image)").each(function (){
                let that = $(this);
                let url = that.parent().find("a")[0].href;
                if (url.indexOf("/media/default.jpg") === -1) {
                    that.parent().append("<br />");
                    that.parent().append("<img alt='' class='preview-image' width='300rem' src="+url+" />");
                }
                let input = that.parent().find(".form-control-file");
                console.log(input)
                input.change(function () {
                    that.parent().find(".preview-image").attr("src",URL.createObjectURL(input[0].files[0]));
                });
            });
    </script>

{% endblock %}