{% extends 'management_templates/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block location %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">{% trans "Home" %}</a>
        </li>
        <li>
            <a href="#">{% trans "Update Posts" %}</a>
        </li>
    </ul><!-- /.breadcrumb -->
{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{% trans "Post Management" %}<small>
                <i class="ace-icon fa fa-angle-double-right"></i>{% trans "Update Post" %}</small>
        </h1>
    </div>
{% endblock %}

{% block content %}
    {{ form.errors }}
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Submit' %}</button>

    </form>

    <script src="{% static '/assets/js_for_shop/wangEditor.min.js' %} "></script>
    <script src="{% static '/assets/js_for_shop/weditor.js' %} "></script>
    <script>

        $(document).ready(function () {
            initEditor('#id_body', 500);
        });

    </script>

{% endblock %}