asgiref==3.5.0
beautifulsoup4==4.11.1
bootstrap4==0.1.0
Django==4.0.2
django_bootstrap4==21.2
django_filter==21.1
django_seed==0.3.1
djangorestframework==3.13.1
drf_yasg==1.20.0
fontawesomefree==6.0.0
imageio==2.17.0
numpy==1.19.5
rasa_sdk==3.1.1
requests==2.27.1
scipy==1.8.0
torch==1.10.1
torchvision==0.11.2
opencv-python==4.5.5.64
