@import url("../js_for_model/google_font_used.css");
@import url("../css_for_shop/Sofia/font-sofia.css");
@import url("../css_for_shop/font-texgyreadventor/font-texgyreadventor.css");
@import url("../css_for_shop/font-texgyreadventor-bold/font-texgyreadventor-bold.css");


.wrapper-hidden {
    display: none;
}

.model_design_controls .model-img-list-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 0;
    height: 57%;
    text-align: left;
    padding: 10px 0 0;
    background-color: #fff;
}

.model_design_controls .model-img-list-wrapper .cart-product-image img {
    width: 100%;
}

.model_design_controls .model-img-list-wrapper ul {
    padding: 0 20px;
}

.model_design_controls .model-img-list-wrapper li {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}

.model_design_controls .model-img-list-wrapper li a {
    margin-right: 20px;
}

.model_design_controls .model-img-list-wrapper li:last-child {
    border-bottom: none;
}


.bottom_checks {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.model_design_controls .model-img-list-wrapper .bottom_checks .return-design, .model-checkout {
    display: inline-block;
    width: 50%;
    padding: 20px 0px;
    text-align: center;
    background: #000;
    color: #ba933e;
    text-transform: uppercase;
    font-size: 18px;
}

.model_design_controls .model-img-list-wrapper .bottom_checks .return-design:hover, .model-checkout {
    background: #ba933e;
    color: #fff;
}

.model_design_controls .model-img-list-wrapper a {
    display: inline-block;
    position: relative;
}


/* hidden part */
.wrapper-hidden {
    display: none;
}

/* progress */
.progress-wrapper {
    align-items: center;
    background: #cbccce;
    width: 97%;
    height: 92.3%;
    position: absolute;
    z-index: 9;
}

.model_design_controls .model-img-list-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 92px;
    height: 64%;
    text-align: left;
    padding: 0;
    background-color: #fff;
}

.model_design_controls .model-img-list-wrapper .cart-product-image img {
    width: 100%;
}

.model_design_controls .model-img-list-wrapper ul {
    padding: 0 20px;
}

.model_design_controls .model-img-list-wrapper li {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}

.model_design_controls .model-img-list-wrapper li a {
    margin-right: 20px;
}

.model_design_controls .model-img-list-wrapper li:last-child {
    border-bottom: none;
}


.bottom_checks {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.model_design_controls .model-img-list-wrapper .bottom_checks .return-design, .model-checkout {
    display: inline-block;
    width: 50%;
    padding: 20px 0px;
    text-align: center;
    background: #000;
    color: #ba933e;
    text-transform: uppercase;
    font-size: 18px;
}

.model_design_controls .model-img-list-wrapper .bottom_checks .return-design:hover, .model-checkout {
    background: #ba933e;
    color: #fff;
}

.model_design_controls .model-img-list-wrapper a {
    display: inline-block;
    position: relative;
}


.title-product-model .model-products::after {
    content: "";
    background: #ba933e;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 3px;
    position: absolute;
}

.title-product-model .model-products span {
    font-size: 25px;
    padding: 0 20px;
}

.title-product-model .model-products a {
    font-size: 25px;
}

.title-product-model {
    margin-bottom: 20px;
    margin-top: 100px;
    text-align-last: center;
}

.design-master .tabs {
    text-align-last: center;
}
