{% extends 'layouts/default/shopper_base2.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}  <title>{% trans "Blog" %}</title> {% endblock %}
{% block style %}
    <!-- Favicon and touch Icons -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {#    <link href="{% static '/assets/img_for_shop/images/favicon.png' %}" rel="shortcut icon" type="image/png">#}
    {#    <link href="{% static '/assets/img_for_shop/images/apple-touch-icon.png' %}" rel="apple-touch-icon">#}
    <link href="{% static '/assets/img_for_shop/images/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon"
          sizes="72x72">
    <link href="{% static '/assets/img_for_shop/images/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon"
          sizes="114x114">
    <link href="{% static '/assets/img_for_shop/images/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon"
          sizes="144x144">
    <!-- Lead Style -->
    <link href="{% static '/assets/css_for_shop/google_font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/assets/css_for_shop/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static '/assets/css_for_shop/css/ionicons/css/ionicons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/assets/css_for_shop/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/assets/css_for_shop/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/assets/plugins/aos/aos.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/assets/plugins/swiper/swiper.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static '/assets/js_for_shop/js/jquery-3.2.1.min.js' %} "></script>
    <style>
        #header .currencies-login .cart-login-search ul li .cart {
            padding-right: 15px;
        }
    </style>
    <style>
        .modal-content table,
        .modal-content table td,
        .modal-content table th {
            border: 0px !important;
        }
    </style>
{% endblock %}

{% block content %}

    {#		<div id="preloader" class="loader_show">#}
    {#			<div class="loader-wrap">#}
    {#			<div class="loader">#}
    {#				<div class="loader-inner"></div>#}
    {#			</div>#}
    {#			</div>#}
    {#		</div>#}

    <!-- pointer start -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <div class="content">
        <div class="top_part">
            <!-- Start Header -->
            {#				<header id="header" class="header_1 header">#}
            {#					<div class="navigation">#}
            {#						<nav id="flexmenu">#}
            {#							<div class="logo">#}
            {#								<a href="index.html"><img src="images/logo.png" alt="logo"></a>#}
            {#							</div>#}
            {#							<div class="nav-inner">#}
            {#								<div id="mobile-toggle" class="mobile-btn"></div>#}
            {#								<ul class="main-menu">#}
            {#									<li class="menu-item active"><a href="index.html">{% trans "Home" %}</a>#}
            {#										<ul class="sub-menu">#}
            {#											<li class="menu-item active"><a href="index-2.html">{% trans "Home 2" %}</a></li>#}
            {#											<li class="menu-item"><a href="index-3.html">{% trans "Home 3" %}</a></li>#}
            {#										</ul>#}
            {#									</li>#}
            {#									<li class="menu-item"><a href="#">{% trans "Posts" %}</a>#}
            {#										<ul class="sub-menu">#}
            {#											<li class="menu-item"><a href="blog-details.html">{% trans "Blog Details" %}</a></li>#}
            {#											<li class="menu-item"><a href="blog-details-fullwidth.html">{% trans "Blog Details Fullwidth" %}</a></li>#}
            {#										</ul>#}
            {#									</li>#}
            {#									<li class="menu-item"><a href="about.html">{% trans "About Author" %}</a></li>#}
            {#									<li class="menu-item"><a href="contact.html">{% trans "Contact Us" %}</a></li>#}
            {#								</ul>#}
            {#							</div>#}
            {#						</nav>#}
            {#					</div>#}
            {#		        </header>#}

            <div class="top-social-1 social_links">
                <ul class="top-social">
                    <li><a href="{% url 'blog:post' %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                    <li id="scroll_category" onclick="scrollCategory()"><a><i class="ion-social-instagram"></i></a></li>
                    <li onclick="scrollBlogs()"><a><i class="fa fa-th" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="theme_slider_1">
                <div class="slider_inner_content">
                    <div class="slider_text">
                        <div class="swiper-container slider_posts">
                            <div class="swiper-wrapper">
                                {% for post in index_posts %}
                                    <div class="swiper-slide">
                                        <article class="blog_post">
                                            <div class="post_img">
                                                <div class="calendar">
                                                    <a href="{% url 'blog:view' post_id=post.id %}"><span class="date">{{ post.created_on.day }}</span><br
                                                    >{{ post.created_on | date:"M" }}</a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <div class="post_header">
                                                    <h2 class="post_title" data-swiper="overlay-left">
                                                        <a href="{% url 'blog:view' post_id=post.id %}">{{ post.title | truncatechars:46 }}</a>
                                                    </h2>
                                                </div>
                                                <div class="post_intro">
                                                    <p>
                                                        {{ post.body | truncatechars:150 }}</p>
                                                </div>
                                                <div class="post_footer">
                                                    <div class="read_more">
                                                        <a href="{% url 'blog:view' post_id=post.id %}">{% trans "Continue Reading" %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                {% endfor %}

                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="slider_images">
                        <div class="swiper-container slider_posts">
                            <div class="swiper-wrapper">
                                {% for post in index_posts %}
                                <div class="swiper-slide">
                                    <div class="slide_img" data-swiper="overlay-left">
                                        <img style="max-width: 42rem;" src="{{ post.main_image.url }}" alt="img">
                                    </div>
                                </div>
{#                                <div class="swiper-slide">#}
{#                                    <div class="slide_img" data-swiper="overlay-left">#}
{#                                        <img src="{% static 'assets/images/home_1/blog/blog13.jpg' %}" alt="img">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="swiper-slide">#}
{#                                    <div class="slide_img" data-swiper="overlay-left">#}
{#                                        <img src="{% static 'assets/images/home_1/blog/blog14.jpg' %}" alt="img">#}
{#                                    </div>#}
{#                                </div>#}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured_category bg_image_1" data-aos="fade-up" data-aos-duration="700" id="blog_categories">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="featured_category_item cursor-pointer" data-aos="fade-up" data-aos-duration="600"
                             id="category__0">
                            <img src="{% static 'assets/images/all_blogs.jpg' %}" alt="img">
                            <div class="featured_category_info">
                                <h6 class="featured_category_heading"><a href="#">All</a></h6>
                                <p class="featured_category_number"><span>{{ posts.count }}</span> Posts</p>
                            </div>
                        </div>
                    </div>
                    {% for category, count in category_number.items %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="featured_category_item cursor-pointer" data-aos="fade-up"
                                 data-aos-duration="600"
                                 id="category__{{ category.id }}">
                                <img src="{{ category.image.url }}" alt="img">
                                <div class="featured_category_info">
                                    <h6 class="featured_category_heading"><a href="#">{{ category.category }}</a></h6>
                                    <p class="featured_category_number"><span>{{ count }}</span> Posts</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="main-wrapper" id="main_blogs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        {#							<div class="blog_list" data-aos="fade-up" data-aos-duration="700">#}
                        {#								<article class="blog_post">#}
                        {#									<div class="post_img" data-aos="overlay-left">#}
                        {#										<a href="#"><img src="images/blog/1.jpg" alt="blog"></a>#}
                        {#										<div class="calendar">#}
                        {#											<a href="#"><span class="date">{% trans "30</span><br>May" %}</a>#}
                        {#										</div>#}
                        {#									</div>#}
                        {#									<div class="post_content">#}
                        {#										<div class="post_header">#}
                        {#											<div class="author"><a href="#"><i class="ion-android-create"></i> By Partricia Doe</a></div>#}
                        {#											<h2 class="post_title">#}
                        {#												<a href="#">{% trans "Live with no excuses & travel with no regrets" %}</a>#}
                        {#											</h2>#}
                        {#										</div>#}
                        {#										<div class="post_intro">#}
                        {#											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore #}
                        {#												et dolore magina aliqua. Quis ipsum suspendise ultrces gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis... </p>#}
                        {#										</div>#}
                        {#										<div class="post_footer">#}
                        {#											<div class="read_more" data-aos="fade-up" data-aos-duration="700">#}
                        {#												<a href="blog-details.html">{% trans "Continue Reading" %}</a>#}
                        {#											</div>#}
                        {#											<div class="post_share">#}
                        {#												<ul class="share_list">#}
                        {#													<li data-aos="fade-up" data-aos-duration="500"><a href="#"><i class="ion-social-facebook"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="700"><a href="#"><i class="ion-social-twitter"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="900"><a href="#"><i class="ion-social-rss"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="1100"><a href="#"><i class="ion-social-instagram"></i></a></li>#}
                        {#												</ul>#}
                        {#											</div>#}
                        {#										</div>#}
                        {#									</div>#}
                        {#								</article>#}
                        {#								#}
                        {#								<article class="blog_post">#}
                        {#									<div class="post_img" data-aos="overlay-right">#}
                        {#										<a href="#"><img src="images/blog/2.jpg" alt="blog"></a>#}
                        {#										<div class="calendar">#}
                        {#											<a href="#"><span class="date">{% trans "27</span><br>May" %}</a>#}
                        {#										</div>#}
                        {#									</div>#}
                        {#									<div class="post_content">#}
                        {#										<div class="post_header">#}
                        {#											<div class="author"><a href="#"><i class="ion-android-create"></i> By Partricia Doe</a></div>#}
                        {#											<h2 class="post_title">#}
                        {#												<a href="#">{% trans "50 travel essentials you must have" %}</a>#}
                        {#											</h2>#}
                        {#										</div>#}
                        {#										<div class="post_intro">#}
                        {#											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore #}
                        {#												et dolore magina aliqua. Quis ipsum suspendise ultrces gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis... </p>#}
                        {#										</div>#}
                        {#										<div class="post_footer">#}
                        {#											<div class="read_more" data-aos="fade-up" data-aos-duration="700">#}
                        {#												<a href="blog-details.html">{% trans "Continue Reading" %}</a>#}
                        {#											</div>#}
                        {#											<div class="post_share">#}
                        {#												<ul class="share_list">#}
                        {#													<li data-aos="fade-up" data-aos-duration="500"><a href="#"><i class="ion-social-facebook"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="700"><a href="#"><i class="ion-social-twitter"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="900"><a href="#"><i class="ion-social-rss"></i></a></li>#}
                        {#													<li data-aos="fade-up" data-aos-duration="1100"><a href="#"><i class="ion-social-instagram"></i></a></li>#}
                        {#												</ul>#}
                        {#											</div>#}
                        {#										</div>#}
                        {#									</div>#}
                        {#								</article>#}
                        {#							</div>#}

                        {#							<div class="newsletter bg_image_2" data-aos="fade-up" data-aos-duration="700">#}
                        {#								<div class="row">#}
                        {#									<div class="col-lg-10 offset-lg-1">#}
                        {#										<form class="newsletter_form" method="post" action="subscription.php">#}
                        {#											<div class="newsletter_header">#}
                        {#												<p><i class="ion-email"></i>{% trans "Subscribe to newsletter" %}</p>#}
                        {#												<h3>{% trans "Get each & every new blogs through your e-mail" %}</h3>#}
                        {#											</div>#}
                        {#											<div class="form_group">#}
                        {#												<input class="form-control" type="email" placeholder="Your Email Address" name="ne" required="">#}
                        {#												<input type="submit" class="button" value="Subscribe">#}
                        {#											</div>#}
                        {#										</form>#}
                        {#									</div>#}
                        {#								</div>#}
                        {#							</div>#}

                        <div class="more_posts">
                            <div class="row">

                                {% for post in posts %}

                                    <div class="col-lg-4 col-md-4">
                                        <article class="blog_post" data-aos="fade-up" data-aos-duration="700">
                                            <div class="post_img" data-aos="overlay-left">
                                                <a href="{% url 'blog:view' post_id=post.id %}"><img
                                                        src="{{ post.main_image.url }}" alt="blog"></a>
                                                <div class="calendar">
                                                    <a href="{% url 'blog:view' post_id=post.id %}"><span
                                                            class="date">{{ post.created_on.day }}</span><br>{{ post.created_on | date:"M" }}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post_content">
                                                <div class="post_header">
                                                    <div class="author" style="display: inline-block;">
                                                        <a href="javascript:void(0)" class="login js-call-popup-login">
                                                            <div class="dropdown dropdown-access">
                                                                <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                                                                <a href="#"><i
                                                                        class="ion-android-create"></i>{% trans "By" %} {{ post.author }}
                                                                </a>

                                                                <div class="dropdown-menu" id="account-menu"
                                                                     style="left: 3rem">
                                                                    <a href="{% url "chat:index_new" to=post.author.id %}"
                                                                       class="btn btn-primary"
                                                                       style="display: block;">{% trans "Chat with him/her" %}</a>
                                                                </div>

                                                            </div>

                                                        </a>
                                                    </div>
                                                    <h2 class="post_title">
                                                        <a href="{% url 'blog:view' post_id=post.id %}">{{ post.title }}</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>

                        <div class="pagination-div">
                            <ul class="pagination">
                                {% for pg in part_pages %}
                                    {% if pg == posts.number %}
                                        <li><a class="page-number current cursor-pointer">{{ pg }}</a></li>
                                    {% else %}
                                        <li><a class="page-number cursor-pointer">{{ pg }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <script src="{% static 'assets/js/add_url.js' %}"></script>
                        <script src="{% static '/assets/plugins/swiper/swiper.min.js' %} "></script>
                        <script src="{% static '/assets/plugins/aos/aos.js' %} "></script>
                        <script src="{% static '/assets/js_for_shop/js/custom.js' %} "></script>
                        <script>
                            $(".page-number").on('click', function (res) {
                                let newUrl = addUrlPara(window.location.href, "page", $(this).text());
                                $.ajax({
                                    url: newUrl,
                                    method: "GET",
                                    success: function (res) {
                                        history.replaceState(null, null, newUrl);
                                        $('#main_blogs').html($(res).find('#main_blogs')[0].innerHTML);
                                    }
                                });
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}


    <script src="{% static '/assets/js_for_shop/js/bootstrap.min.js' %} "></script>
    <script src="{% static '/assets/js_for_shop/js/menu.js' %} "></script>


    <script>
        function scrollCategory() {
            let scrollOffset = $('#blog_categories').offset();
            $("body,html").animate({
                scrollTop: scrollOffset.top
            }, 0);
        }

        function scrollBlogs() {
            let scrollOffset = $('#main_blogs').offset();
            $("body,html").animate({
                scrollTop: scrollOffset.top
            }, 0);
        }

        $(function () {
            $(".featured_category_item").on("click", function () {
                let categoryId = $(this).attr("id").split("__")[1];
                {#window.location.href = addUrlPara(window.location.href, "category", categoryId);#}
                let newUrl = addUrlPara(window.location.href, "category", categoryId);
                $.ajax({
                    url: newUrl,
                    method: "GET",
                    success: function (res) {
                        history.replaceState(null, null, newUrl);
                        $('#main_blogs').html($(res).find('#main_blogs')[0].innerHTML);
                    }
                });
            });
        })
    </script>

{% endblock %}
