{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'assets/css_for_shop/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'assets/css_for_shop/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="bg_gray">

        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
                <h1>Create a New Account</h1>
            </div>
            <!-- /page_header -->
            <div class="row justify-content-center">
                {#			<div class="col-xl-6 col-lg-6 col-md-8">#}
                {#                <form action="/accounts/signup" method="post">#}
                {#                    {% csrf_token %}#}
                {#				<div class="box_account">#}
                {#					<h3 class="client">Already Client</h3>#}
                {#					<div class="form_container">#}
                {#						<div class="row no-gutters">#}
                {#							<div class="col-lg-6 pr-lg-1">#}
                {#								<a href="#0" class="social_bt facebook">Login with Facebook</a>#}
                {#							</div>#}
                {#							<div class="col-lg-6 pl-lg-1">#}
                {#								<a href="#0" class="social_bt google">Login with Google</a>#}
                {#							</div>#}
                {#						</div>#}
                {#						<div class="divider"><span>Or</span></div>#}
                {#						<div class="form-group">#}
                {#							<input type="email" class="form-control" name="email" id="email" placeholder="Email*" required>#}
                {#						</div>#}
                {#						<div class="form-group">#}
                {#							<input type="password" class="form-control" name="password_in" id="password_in" value="" placeholder="Password*" required>#}
                {#						</div>#}
                {#						<div class="clearfix add_bottom_15">#}
                {#							<div class="checkboxes float-start">#}
                {#								<label class="container_check">Remember me#}
                {#									<input type="checkbox">#}
                {#									<span class="checkmark"></span>#}
                {#								</label>#}
                {#							</div>#}
                {#							<div class="float-end"><a id="forgot" href="javascript:void(0);">Lost Password?</a></div>#}
                {#						</div>#}
                {#						<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>#}
                {#						<div id="forgot_pw">#}
                {#							<div class="form-group">#}
                {#								<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">#}
                {#							</div>#}
                {#							<p>A new password will be sent shortly.</p>#}
                {#							<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>#}
                {#						</div>#}
                {#					</div>#}
                {#					<!-- /form_container -->#}
                {#				</div>#}
                {#                </form>#}
                {#				<!-- /box_account -->#}
                {#				<div class="row">#}
                {#					<div class="col-md-6 d-none d-lg-block">#}
                {#						<ul class="list_ok">#}
                {#							<li>Find Locations</li>#}
                {#							<li>Quality Location check</li>#}
                {#							<li>Data Protection</li>#}
                {#						</ul>#}
                {#					</div>#}
                {#					<div class="col-md-6 d-none d-lg-block">#}
                {#						<ul class="list_ok">#}
                {#							<li>Secure Payments</li>#}
                {#							<li>H24 Support</li>#}
                {#						</ul>#}
                {#					</div>#}
                {#				</div>#}
                {#				<!-- /row -->#}
                {#			</div>#}
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="box_account">
                        <div class="form_container">
                            <div class="private box">
                                <form method="post">

                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {{ form.errors }}

                                    <div class="form-group">
                                <label class="container_check">Accept <a href="#0">Terms and conditions</a>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="text-center"><input type="submit" value="{% trans "Register" %}" class="btn_1 full-width">
                            </div>

                                </form>
                                <!-- /row -->

                            </div>
                            <hr>
                        </div>
                        <!-- /form_container -->
                    </div>
                    <!-- /box_account -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--/footer-->
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->
{% endblock %}

{% block foot_link %}
    <script src="{% static "/assets/js_for_shop/common_scripts.min.js" %}"></script>
    <script src="{% static "/assets/js_for_shop/main.js" %}"></script>

{% endblock %}