{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static 'assets/css_for_shop/account.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'assets/css_for_shop/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="bg_gray">

        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
                <h1>{% trans 'Confirm your restore operation' %}</h1>
            </div>
            <!-- /page_header -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="box_account">
                        <div class="form_container">
                            <div class="private box">
                                <h4>{% trans 'Restore password' %}</h4>

                                {% if validlink %}

                                    <p>
                                        {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
                                    </p>

                                    <form method="post">

                                        {% csrf_token %}
                                        {% bootstrap_form form %}

                                        <button class="btn btn-success">{% trans 'Change' %}</button>

                                    </form>

                                {% else %}

                                    <div class="alert alert-danger">
                                        {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
                                    </div>

                                {% endif %}

                            </div>
                            <hr>
                        </div>
                        <!-- /form_container -->
                    </div>
                    <!-- /box_account -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--/footer-->
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->
{% endblock %}

{% block foot_link %}
    <script src="{% static "/assets/js_for_shop/common_scripts.min.js" %}"></script>
    <script src="{% static "/assets/js_for_shop/main.js" %}"></script>
    <script>
        {#$(document).ready(function () {#}
        {#    $('#submit').on('click', function (e) {#}
        {#        if ($('#checkbox').is(':checked')) {#}
        {#            return true;#}
        {#        } else {#}
        {#            e.preventDefault();#}
        {#            $('#hide_message').removeClass('text-hide');#}
        {#            console.log('not checked');#}
        {#            return false;#}
        {#        }#}
        {#    });#}
    </script>

{% endblock %}
