{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="/static/assets/css_for_shop/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/static/assets/css_for_shop/style.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    {#    <link href="/static/assets/css_for_shop/listing.css" rel="stylesheet">#}

    <link rel="stylesheet" href="{% static "assets/css_for_shop/listing.css" %}">
{% endblock %}

{% block content %}
    <main class="content-page">
        <div class="top_banner">
            <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Category</a></li>
                            <li>Page active</li>
                        </ul>
                    </div>
                    <h1>Shoes - Grid listing</h1>
                </div>
            </div>
            <img src="../static/assets/img_for_shop/bg_cat_shoes.jpg" class="img-fluid" alt="">
        </div>
        <!-- /top_banner -->
        <div id="stick_here"></div>

        <!-- /toolbox -->
        <div class="row shop_control">
            <div class="col-lg-8 col-md-6">
                <div class="filter_sortby title_filter d-none d-xl-block">
                    <a class="filter d-inline-flex js-draw-filter-btn" href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="393pt" viewBox="-4 0 393 393.99003"
                             width="393pt">
                            <path d="m368.3125 0h-351.261719c-6.195312-.0117188-11.875 3.449219-14.707031 8.960938-2.871094 5.585937-2.3671875 12.3125 1.300781 17.414062l128.6875 181.28125c.042969.0625.089844.121094.132813.183594 4.675781 6.3125 7.203125 13.957031 7.21875 21.816406v147.796875c-.027344 4.378906 1.691406 8.582031 4.777344 11.6875 3.085937 3.105469 7.28125 4.847656 11.65625 4.847656 2.226562 0 4.425781-.445312 6.480468-1.296875l72.3125-27.574218c6.480469-1.976563 10.78125-8.089844 10.78125-15.453126v-120.007812c.011719-7.855469 2.542969-15.503906 7.214844-21.816406.042969-.0625.089844-.121094.132812-.183594l128.683594-181.289062c3.667969-5.097657 4.171875-11.820313 1.300782-17.40625-2.832032-5.511719-8.511719-8.9726568-14.710938-8.960938zm-131.53125 195.992188c-7.1875 9.753906-11.074219 21.546874-11.097656 33.664062v117.578125l-66 25.164063v-142.742188c-.023438-12.117188-3.910156-23.910156-11.101563-33.664062l-124.933593-175.992188h338.070312zm0 0"></path>
                        </svg>
                        <p class="mb-0">filter</p>
                    </a>
                </div>
                <div class="filter_sortby title_filter pl-0 d-flex d-xl-none">
                    <a class="filter d-inline-flex js_filter " href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="393pt" viewBox="-4 0 393 393.99003"
                             width="393pt">
                            <path d="m368.3125 0h-351.261719c-6.195312-.0117188-11.875 3.449219-14.707031 8.960938-2.871094 5.585937-2.3671875 12.3125 1.300781 17.414062l128.6875 181.28125c.042969.0625.089844.121094.132813.183594 4.675781 6.3125 7.203125 13.957031 7.21875 21.816406v147.796875c-.027344 4.378906 1.691406 8.582031 4.777344 11.6875 3.085937 3.105469 7.28125 4.847656 11.65625 4.847656 2.226562 0 4.425781-.445312 6.480468-1.296875l72.3125-27.574218c6.480469-1.976563 10.78125-8.089844 10.78125-15.453126v-120.007812c.011719-7.855469 2.542969-15.503906 7.214844-21.816406.042969-.0625.089844-.121094.132812-.183594l128.683594-181.289062c3.667969-5.097657 4.171875-11.820313 1.300782-17.40625-2.832032-5.511719-8.511719-8.9726568-14.710938-8.960938zm-131.53125 195.992188c-7.1875 9.753906-11.074219 21.546874-11.097656 33.664062v117.578125l-66 25.164063v-142.742188c-.023438-12.117188-3.910156-23.910156-11.101563-33.664062l-124.933593-175.992188h338.070312zm0 0"></path>
                        </svg>
                        <p class="mb-0">filter</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="change_prod">
                    <div class="change_collum">
                        <div class="icon_change">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 version="1.1" id="Capa_1" x="0px" y="0px" width="276.167px" height="276.167px"
                                 viewBox="0 0 276.167 276.167" style="enable-background:new 0 0 276.167 276.167;"
                                 xml:space="preserve">
                  <g>
                    <g>
                      <path d="M33.144,2.471C15.336,2.471,0.85,16.958,0.85,34.765s14.48,32.293,32.294,32.293s32.294-14.486,32.294-32.293    S50.951,2.471,33.144,2.471z"></path>
                        <path d="M137.663,2.471c-17.807,0-32.294,14.487-32.294,32.294s14.487,32.293,32.294,32.293c17.808,0,32.297-14.486,32.297-32.293    S155.477,2.471,137.663,2.471z"></path>
                        <path d="M243.873,67.059c17.804,0,32.294-14.486,32.294-32.293S261.689,2.471,243.873,2.471s-32.294,14.487-32.294,32.294    S226.068,67.059,243.873,67.059z"></path>
                        <path d="M32.3,170.539c17.807,0,32.297-14.483,32.297-32.293c0-17.811-14.49-32.297-32.297-32.297S0,120.436,0,138.246    C0,156.056,14.493,170.539,32.3,170.539z"></path>
                        <path d="M136.819,170.539c17.804,0,32.294-14.483,32.294-32.293c0-17.811-14.478-32.297-32.294-32.297    c-17.813,0-32.294,14.486-32.294,32.297C104.525,156.056,119.012,170.539,136.819,170.539z"></path>
                        <path d="M243.038,170.539c17.811,0,32.294-14.483,32.294-32.293c0-17.811-14.483-32.297-32.294-32.297    s-32.306,14.486-32.306,32.297C210.732,156.056,225.222,170.539,243.038,170.539z"></path>
                        <path d="M33.039,209.108c-17.807,0-32.3,14.483-32.3,32.294c0,17.804,14.493,32.293,32.3,32.293s32.293-14.482,32.293-32.293    S50.846,209.108,33.039,209.108z"></path>
                        <path d="M137.564,209.108c-17.808,0-32.3,14.483-32.3,32.294c0,17.804,14.487,32.293,32.3,32.293    c17.804,0,32.293-14.482,32.293-32.293S155.368,209.108,137.564,209.108z"></path>
                        <path d="M243.771,209.108c-17.804,0-32.294,14.483-32.294,32.294c0,17.804,14.49,32.293,32.294,32.293    c17.811,0,32.294-14.482,32.294-32.293S261.575,209.108,243.771,209.108z"></path>
                    </g>
                  </g>
                </svg>
                        </div>
                        <div class="prod_per">
                            <a href="javascript:void(0)" class="size_2">2</a>
                            <a href="javascript:void(0)" class="size_3">3</a>
                            <a href="javascript:void(0)" class="size_4 active">4</a>
                            <a href="javascript:void(0)" class="size_5">5</a>
                        </div>
                    </div>
                    <div class="style_layout_prod  justify-content-md-end justify-content-center ">
                        <!-- /snippets/collection-sorting.liquid -->
                        <div class="collection-sorting form-horizontal form-group pull-right text-right">
                            <div class="dropdown">
                                <button class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink">
                                    <span class="dropdown-label">Featured</span>
                                </button>
                                <ul class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="active"><a href="manual">Featured</a></li>
                                    <li><a href="best-selling">Best Selling</a></li>
                                    <li><a href="title-ascending">Alphabetically, A-Z</a></li>
                                    <li><a href="price-descending">Price, high to low</a></li>
                                    <li><a href="price-ascending">Price, low to high</a></li>
                                    <li><a href="created-ascending">Date, old to new</a></li>
                                    <li><a href="created-descending">Date, new to old</a></li>
                                </ul>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('#SortBy')
                                    .val('title-ascending')
                                    .bind('change', function () {
                                            Shopify.queryParams.sort_by = jQuery(this).val();
                                            location.search = jQuery.param(Shopify.queryParams);
                                        }
                                    );
                                $('#showby')
                                    .val('12')
                                    .bind('change', function () {
                                            Shopify.queryParams.view = jQuery(this).val();
                                            location.search = jQuery.param(Shopify.queryParams);
                                        }
                                    );
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-v1 margin_30">
            <div class="row">
                <div class="col-lg-3 trans_product js-draw-filter draw_filter">
                    <div class="filter_sidebar_general d-none d-lg-block ">
                        <div style="overflow: hidden" class=" engoj-collection-sidebar engoc_sw_filter_tag">
                            <div class="widget widget-category filter-category">
                                <div class="widget-title">
                                    <h2 class=" mb-0">Categories</h2>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-category-toggle toggle-tab list-none">
                                        <li class="item-toggle-tab"><a href="/">Guitar Accessory </a></li>
                                        <li class="item-toggle-tab"><a href="/">Portable Keyboards</a></li>
                                        <li class="item-toggle-tab"><a href="/">Digital Upright Pianos</a></li>
                                        <li class="item-toggle-tab"><a href="/">Electric Double Basses</a></li>
                                        <li class="item-toggle-tab"><a href="/">Guitar Amp Heads</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-color widget widget-category widget_product_categories filter-tag">
                                <div class="widget-title">
                                    <h2 class="mb-0">Color Option</h2>
                                </div>
                                <ul class="list-none list_color">
                                    <li class="cat-item">
                                        <input type="checkbox" value="black">
                                        <a href="javascript:void(0)" title="Black" style="background: Black" class=" ">
                                        </a>
                                    </li>
                                    <li class="cat-item">
                                        <input type="checkbox" value="brown">
                                        <a href="javascript:void(0)" title="Brown" style="background: Brown" class=" ">
                                        </a>
                                    </li>
                                    <li class="cat-item">
                                        <input type="checkbox" value="burlywood">
                                        <a href="javascript:void(0)" title="BurlyWood" style="background: BurlyWood"
                                           class=" ">
                                        </a>
                                    </li>
                                    <li class="cat-item">
                                        <input type="checkbox" value="gold">
                                        <a href="javascript:void(0)" title="Gold" style="background: Gold" class=" ">
                                        </a>
                                    </li>


                                    <li class="cat-item">
                                        <input type="checkbox" value="maroon">
                                        <a href="javascript:void(0)" title="Maroon" style="background: Maroon"
                                           class=" ">
                                        </a>
                                    </li>


                                    <li class="cat-item">
                                        <input type="checkbox" value="white">
                                        <a href="javascript:void(0)" title="White" style="background: White" class=" ">
                                        </a>
                                    </li>


                                </ul>

                                <!-- /.product-categories -->
                            </div>


                            <section class="filter-price filter-tag">
                                <div class="widget-title">
                                    <h2 class="mb-0">Price Filter</h2>
                                </div>

                                <ul class="list-none list-price">


                                    <li class="cat-item">
                                        <input type="checkbox" value="50-100">
                                        <a href="javascript:void(0)" title="$50-$100" class=" ">$50-$100</a>
                                    </li>


                                    <li class="cat-item">
                                        <input type="checkbox" value="100-150">
                                        <a href="javascript:void(0)" title="$100-$150" class=" ">$100-$150</a>
                                    </li>


                                    <li class="cat-item">
                                        <input type="checkbox" value="150-200">
                                        <a href="javascript:void(0)" title="$150-$200" class=" ">$150-$200</a>
                                    </li>


                                    <li class="cat-item">
                                        <input type="checkbox" value="200-250">
                                        <a href="javascript:void(0)" title="$200-$250" class=" ">$200-$250</a>
                                    </li>

                                </ul>
                                <!-- /.product-categories -->
                            </section>


                            <div class="widget widget-tags filter-tag">
                                <div class="widget-title">
                                    <h2 class=" mb-0 ">Tags</h2>
                                </div>
                                <ul class="list-none wg-list-tags list-tag">


                                    <li>
                                        <input type="checkbox" value="100-150">
                                        <a href="javascript:void(0)" title="$100-$150" class=" ">$100-$150</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="150-200">
                                        <a href="javascript:void(0)" title="$150-$200" class=" ">$150-$200</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="200-250">
                                        <a href="javascript:void(0)" title="$200-$250" class=" ">$200-$250</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="50-100">
                                        <a href="javascript:void(0)" title="$50-$100" class=" ">$50-$100</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="black">
                                        <a href="javascript:void(0)" title="Black" class=" ">Black</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="brown">
                                        <a href="javascript:void(0)" title="Brown" class=" ">Brown</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="burlywood">
                                        <a href="javascript:void(0)" title="BurlyWood" class=" ">BurlyWood</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="gold">
                                        <a href="javascript:void(0)" title="Gold" class=" ">Gold</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="maroon">
                                        <a href="javascript:void(0)" title="Maroon" class=" ">Maroon</a>


                                    </li>


                                    <li>
                                        <input type="checkbox" value="white">
                                        <a href="javascript:void(0)" title="White" class=" ">White</a>


                                    </li>

                                </ul>
                            </div>


                            <div class="banner_sidebar ">
                                <a href="/collections/frontpage">
                                    <img class="w-100"
                                         src=" //cdn.shopify.com/s/files/1/0518/3173/4459/files/banner_sidebar.jpg?v=1606661716 ">
                                </a>
                            </div>


                        </div>
                        <!-- #secondary -->
                    </div>
                </div>
                <div class="col-lg-9 product-list-ajax">
                    {% for instrument in instruments %}
                        <div class="row row_item">
                            <div class="col-sm-4">
                                <figure>
                                    <span class="ribbon off">-30%</span>
                                    <a href="{% url "shop:product_details" product_id=instrument.id %}">
                                        <img class="img-fluid lazy"
                                             src="{{ instrument.image.url }}"
                                             data-src="{{ instrument.image.url }}" alt="">
                                    </a>
                                    <div data-countdown="2019/05/15" class="countdown"></div>
                                </figure>
                            </div>
                            <div class="col-sm-8">
                                <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                        class="icon-star voted"></i><i class="icon-star voted"></i><i
                                        class="icon-star"></i>
                                </div>
                                <a href="{% url "shop:product_details" product_id=instrument.id %}">
                                    <h3>{{ instrument.name }}</h3>
                                </a>
                                <p>{{ instrument.details }}</p>
                                <div class="price_box">
                                    <span class="new_price">{{ instrument.price }}</span>
                                    <span class="old_price">{{ instrument.old_price }}</span>
                                </div>
                                <ul>
                                    <li><a href="#0" class="btn_1">Add to cart</a></li>
                                    <li><a href="#0" class="btn_1 gray tooltip-1" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Add to favorites"><i
                                            class="ti-heart"></i><span>Add to favorites</span></a>
                                    </li>
                                    <li><a href="#0" class="btn_1 gray tooltip-1" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Add to compare"><i
                                            class="ti-control-shuffle"></i><span>Add to compare</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    {#                    <div class="row row_item">#}
                    {#                        <div class="col-sm-4">#}
                    {#                            <figure>#}
                    {#                                <span class="ribbon off">-30%</span>#}
                    {#                                <a href="product-detail-1.html">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="../static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="../static/assets/img_for_shop/products/shoes/1.jpg" alt="">#}
                    {#                                </a>#}
                    {#                                <div data-countdown="2019/05/15" class="countdown"></div>#}
                    {#                            </figure>#}
                    {#                        </div>#}
                    {#                        <div class="col-sm-8">#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product-detail-1.html">#}
                    {#                                <h3>Armor Air x Fear</h3>#}
                    {#                            </a>#}
                    {#                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat#}
                    {#                                nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$48.00</span>#}
                    {#                                <span class="old_price">$60.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="btn_1">Add to cart</a></li>#}
                    {#                                <li><a href="#0" class="btn_1 gray tooltip-1" data-bs-toggle="tooltip"#}
                    {#                                       data-bs-placement="top" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a>#}
                    {#                                </li>#}
                    {#                                <li><a href="#0" class="btn_1 gray tooltip-1" data-bs-toggle="tooltip"#}
                    {#                                       data-bs-placement="top" title="Add to compare"><i class="ti-control-shuffle"></i><span>Add to compare</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <!-- /row_item -->
                    <div class="pagination__wrapper">
                        <ul class="pagination">
                            <li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
                            <li>
                                <a href="#0" class="active">1</a>
                            </li>
                            <li>
                                <a href="#0">2</a>
                            </li>
                            <li>
                                <a href="#0">3</a>
                            </li>
                            <li>
                                <a href="#0">4</a>
                            </li>
                            <li><a href="#0" class="next" title="next page">&#10095;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!-- /main -->
    <div style="display: none" class="备份在这里 ">
        <div class="toolbox elemento_stick">
            <div class="container">
                <ul class="clearfix">
                    <li>
                        <div class="sort_select">
                            <select name="sort" id="sort">
                                <option value="popularity" selected="selected">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to
                            </select>
                        </div>
                    </li>
                    <li>
                        <a href="#0"><i class="ti-view-grid"></i></a>
                        <a href="product-search.html"><i class="ti-view-list"></i></a>
                    </li>
                    <li>
                        <a href="#0" class="open_filters">
                            <i class="ti-filter"></i><span>Filters</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <aside class="col-lg-3" id="sidebar_fixed">
            <div class="filter_col">
                <div class="inner_bt"><a href="#" class="open_filters"><i class="ti-close"></i></a></div>
                <div class="filter_type version_2">
                    <h4><a href="#filter_1" data-bs-toggle="collapse" class="opened">Wide Categories</a>
                    </h4>
                    <div class="collapse show category_search" id="filter_1">
                        <ul>
                            {% for category, count in categories.items %}
                                <li>
                                    <label class="container_check">{{ category.name }}<small>{{ count }}</small>
                                        <input type="checkbox" class="category-checkbox"
                                               id="category__{{ category.id }}">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            {% endfor %}
                            <li>
                                <label class="container_check">String
                                    Instruments<small>12</small>
                                    <input type="checkbox" name="category_1" id="category_1" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Woodwind
                                    Instruments<small>24</small>
                                    <input type="checkbox" name="category_2" id="category_2" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Percussion Instruments <small>23</small>
                                    <input type="checkbox" name="category_3" id="category_3" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Keyboard Instruments<small>11</small>
                                    <input type="checkbox" name="category_4" id="category_4" checked>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container_check"> Brass Instruments<small>11</small>
                                    <input type="checkbox" name="category_5" id="category_5" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!-- /filter_type -->
                </div>
                <div class="filter_type version_2">
                    <h4><a href="#filter_2" data-bs-toggle="collapse" class="opened">Specific Categories</a>
                    </h4>
                    <div class="collapse show" id="filter_2">
                        <ul>
                            <li>
                                <label class="container_check">Guitar <small>12</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Piano <small>24</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Violin <small>23</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Bass<small>11</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!-- /filter_type -->
                </div>
                <!-- /filter_type -->
                <div class="filter_type version_2">
                    <h4><a href="#filter_3" data-bs-toggle="collapse" class="opened">Color</a></h4>
                    <div class="collapse show" id="filter_3">
                        <ul>
                            <li>
                                <label class="container_check">Blue <small>06</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Red <small>12</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Orange <small>17</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Black <small>43</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /filter_type -->
                <div class="filter_type version_2">
                    <h4><a href="#filter_4" data-bs-toggle="collapse" class="closed">Brands</a></h4>
                    <div class="collapse" id="filter_4">
                        <ul>
                            <li>
                                <label class="container_check">Adidas <small>11</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Nike <small>08</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Vans <small>05</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">Puma <small>18</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /filter_type -->
                <div class="filter_type version_2">
                    <h4><a href="#filter_5" data-bs-toggle="collapse" class="closed">Price</a></h4>
                    <div class="collapse" id="filter_5">
                        <ul>
                            <li>
                                <label class="container_check">$0 — $50<small>11</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">$50 — $100<small>08</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">$100 — $150<small>05</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container_check">$150 — $200<small>18</small>
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /filter_type -->
                <div class="buttons">
                    <a href="#0" class="btn_1">Filter</a> <a href="#0" class="btn_1 gray">Reset</a>
                </div>
            </div>
        </aside>
        <!-- /col -->
    </div>
{% endblock %}

{% block foot_link %}
    <!-- SPECIFIC SCRIPTS -->
    <script src="../static/assets/js_for_shop/sticky_sidebar.min.js"></script>
    <script src="../static/assets/js_for_shop/specific_listing.js"></script>
    <script>
        jQuery(function ($) {
            $('#search_form').on('submit', function (e) {
                window.location.href = addUrlPara(window.location.href, 'search', $('#search_text').val());
                return false;
            });
        })
    </script>
    <script src="{% static "assets/js_for_shop/product_search.js" %}"></script>

{% endblock %}

