#footer {
    margin-top: 70px;
}

.footer-newsletter {
    background: rgba(0, 0, 0, 0) url("../images/home_1/parallax_02.png") no-repeat scroll center bottom;
    padding: 70px 0 60px;
}

.footer-newsletter, .from-our-blog, .list-designer {
    background-attachment: fixed;
}

.newsletter-intro p {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

.newsletter-intro {
    float: left;
}

.newsletter-form {
    float: right;
}

.envalope-icon {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin-right: 27px;
    margin-top: 5px;
    vertical-align: top;
}

.newsletter-form input[type="text"] {
    border: medium none;
    height: 60px;
    padding: 0 30px;
    text-transform: uppercase;
    width: 570px;
    color: #999;
}

.newsletter-form input[type="submit"] {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 60px;
    margin-left: 7px;
    text-transform: uppercase;
    width: 125px;
    transition: all 0.5s ease-out 0s;
}

.newsletter-form input[type="submit"]:hover {
    background: #ffc229;
}

.footer-quick-search {
    background: #292929 none repeat scroll 0 0;
    padding: 20px 0;
}

.content-quick-search > label {
    color: #fff;
    margin: 0;
}

.content-quick-search {
    text-transform: uppercase;
}

.content-quick-search > a {
    color: #b4b2b0;
    margin-left: 27px;
}

.content-quick-search > a:hover {
    color: #fff;
}

.footer {
    background: #333 none repeat scroll 0 0;
    color: #ccc;
    padding: 70px 0;
}

.footer a {
    color: #ccc;
}

.social-footer a {
    font-size: 18px;
    margin-left: 27px;
}

.social-footer {
    text-align: right;
}

.social-footer a:hover {
    color: #ffc229;
}

.copy-right {
    padding-top: 15px;
}

.privacy-policy {
    margin-left: 15px;
    padding-left: 20px;
    position: relative;
}

.privacy-policy:hover {
    color: #fff;
}

.privacy-policy::before {
    background: #717171 none repeat scroll 0 0;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 1px;
}