
#header {
    padding: 25px 0;
}

#header .logo svg {
    max-width: 100%;
    height: auto;
}

#header .menu ul .nav-item {
    margin-left: 18px;
    margin-right: 18px;
}

#header .menu ul .nav-item:last-child {
    padding-right: 0px;
}

#header .menu ul .nav-item .nav-link {
    text-decoration: none;
    font-size: 17px;
    font-family: SofiaPro;
    font-weight: 500;
    text-transform: unset;
}

#header .menu ul .nav-item .nav-link:after {
    border-bottom: 1px solid #ff5a00;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    transition: width .4s linear 0s;
    width: 0;
}

#header .menu ul .nav-item .nav-link:hover, #header .menu ul .nav-item .nav-link:focus, #header .menu ul .nav-item .nav-link.active {
    color: #ff5a00;
}

#header .menu ul .nav-item .nav-link:hover:after, #header .menu ul .nav-item .nav-link:focus:after, #header .menu ul .nav-item .nav-link.active:after {
    left: 0;
    width: 100%;
}

#header .menu ul .nav-item .list-home {
    height: auto;
    padding: 0 30px 30px 30px;
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border: none;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: #fff;
    width: 950px;
    background-size: cover;
    background-position: center center;
    left: -425px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#header .menu ul .nav-item .list-woman {
    width: 950px;
    background-color: #fff;
    height: auto;
    padding: 30px;
    -webkit-box-shadow: 7px 6px 40px 0px rgba(204, 204, 223, 0.16);
    -moz-box-shadow: 7px 6px 40px 0px rgba(204, 204, 223, 0.16);
    box-shadow: 7px 6px 40px 0px rgba(204, 204, 223, 0.16);
    border-radius: 0;
    border: none;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    left: -425px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#header .menu ul .nav-item .list-woman .list-clothing .title h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1PX;
    font-weight: 600;
    margin-bottom: 20px;
}

#header .menu ul .nav-item .list-woman .list-clothing .title h5 a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    color: #000000;
}

#header .menu ul .nav-item .list-woman .list-clothing .title h5 a:after {
    content: '';
    display: block;
    height: 1px;
    width: 55px;
    background-color: #e09654;
    margin-top: 17px;
}

#header .menu ul .nav-item .list-woman .list-clothing .title h5 a:hover {
    color: #e09654;
}

#header .menu ul .nav-item .list-woman .list-clothing ul li {
    line-height: 24px;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    padding: 5px 0;
}

#header .menu ul .nav-item .list-woman .list-clothing ul li a {
    text-decoration: none;
    font-size: 15px !important;
    font-family: SofiaPro;
    color: #000000;
    font-weight: 500;
    text-transform: unset;
    letter-spacing: unset;
}

#header .menu ul .nav-item .list-woman .list-clothing ul li a:after {
    border-bottom: 1px solid #e09654;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    transition: width .4s linear 0s;
    width: 0;
}

#header .menu ul .nav-item .list-woman .list-clothing ul li a:hover, #header .menu ul .nav-item .list-woman .list-clothing ul li a:focus, #header .menu ul .nav-item .list-woman .list-clothing ul li a:active {
    color: #e09654;
}

#header .menu ul .nav-item .list-woman .list-clothing ul li a:hover:after, #header .menu ul .nav-item .list-woman .list-clothing ul li a:focus:after, #header .menu ul .nav-item .list-woman .list-clothing ul li a:active:after {
    left: 0;
    width: 100%;
}

#header .menu ul .nav-item .list-woman.shop {
    left: -450px;
}

#header .menu ul .nav-item .list-woman.shop .col-lg-6:nth-child(3) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.shop .col-lg-6:nth-child(4) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.shop .menu_lv2 {
    text-decoration: none;
    font-size: 17px;
    font-family: SofiaPro;
    color: #000000;
    font-weight: 500;
    text-transform: unset;
    padding-bottom: 10px;
    margin-bottom: 14px !important;
    margin-top: 15px;
}

#header .menu ul .nav-item .list-woman.shop .menu_lv2:after {
    border-bottom: 1px solid #e09654;
    bottom: 0;
    content: "";
    position: absolute;
    left: 0;
    transition: width .4s linear 0s;
    width: 50%;
}

#header .menu ul .nav-item .list-woman.shop .menu_lv2:hover, #header .menu ul .nav-item .list-woman.shop .menu_lv2:focus, #header .menu ul .nav-item .list-woman.shop .menu_lv2:active {
    color: #e09654;
}

#header .menu ul .nav-item .list-woman.shop .menu_lv3 {
    text-decoration: none;
    font-size: 15px !important;
    font-family: SofiaPro;
    color: #7d7b7b;
    font-weight: 500;
    line-height: 28px;
    text-transform: unset;
    letter-spacing: unset;
}

#header .menu ul .nav-item .list-woman.shop .menu_lv3:hover, #header .menu ul .nav-item .list-woman.shop .menu_lv3:focus, #header .menu ul .nav-item .list-woman.shop .menu_lv3:active {
    color: #e09654;
}

#header .menu ul .nav-item .list-woman.featured .col-lg-4:nth-child(4) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.featured .col-lg-4:nth-child(5) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.featured .col-lg-4:nth-child(6) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.featured .col-lg-4:nth-child(7) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.style_3 {
    width: 600px;
    left: -300px;
}

#header .menu ul .nav-item .list-woman.style_3 .col-lg-4:nth-child(4) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.style_3 .col-lg-4:nth-child(5) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.style_3 .col-lg-4:nth-child(6) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.style_3 .col-lg-4:nth-child(7) {
    padding-top: 20px;
}

#header .menu ul .nav-item .list-woman.page {
    width: auto;
    left: 0;
    min-width: 200px;
    padding: 30px 0px;
    overflow: unset;
}

#header .menu ul .nav-item .list-woman.page .dropdownmenu_lv2 {
    overflow: unset;
}

#header .menu ul .nav-item .list-woman.page .dropdownmenu_lv2 .menu_lv2 {
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: .3s;
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border: none;
    min-width: 180px;
}

#header .menu ul .nav-item .list-woman.page .dropdownmenu_lv2:hover .menu_lv2 {
    opacity: 1;
    visibility: visible;
    transform: none;
}

#header .menu ul li.dropdown:hover .list-home {
    margin-top: 1px;
    opacity: 1;
    visibility: visible;
}

#header .menu ul li.dropdown:hover .list-woman {
    margin-top: 1px;
    opacity: 1;
    visibility: visible;
}

#header .menu .eveland-demolink img {
    transition: box-shadow .2s ease-out;
}

#header .menu .eveland-demolink img:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
}

#header .menu .eveland-demolink .title {
    font-size: 12px;
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
}

#header .currencies-login {
    display: flex !important;
    justify-content: flex-end !important;
    flex-wrap: wrap;
}

#header .currencies-login .cart-login-search ul .login_hd {
    font-size: 14px;
    font-weight: 600;
}

#header .currencies-login .cart-login-search ul .login_hd:after {
    content: '';
    border-bottom: 2px solid #000000;
    display: block;
}

#header .currencies-login .cart-login-search ul li {
    vertical-align: top;
    margin-right: 13px !important;
}

#header .currencies-login .cart-login-search ul li:last-child {
    margin-right: 0px !important;
}

#header .currencies-login .cart-login-search ul li a {
    text-decoration: none;
    color: #000000;
}

#header .currencies-login .cart-login-search ul li a i {
    font-size: 20px;
}

#header .currencies-login .cart-login-search ul li a svg {
    width: 24px;
    height: 24px;
    fill: white;
}

#header .currencies-login .cart-login-search ul li .cart {
    position: relative;
}

#header .currencies-login .cart-login-search ul li .cart .number-cart.active {
    position: absolute;
    bottom: -7px;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #fff !important;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    background: #ff5a00;
}

.header-absolute {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 3;
}

.header-v1-h1 {
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    z-index: 3;
}

.header-v1-h1.menu_scroll_v1 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

#header.header-v2-h2 {
    padding: 0 0;
}

#header.header-v2-h2 .menu ul li .list-home {
    left: 0px;
}

#header.header-v2-h2 .menu ul li .list-woman {
    left: -150px;
}

#header.header-v2-h2 .menu ul li .list-woman.shop {
    left: 0px;
}

#header.header-v2-h2 .menu ul li .list-woman.style_3 {
    left: -200px;
}

#header.header-v2-h2 .menu ul li .list-woman.page {
    left: 0;
}

.header-v2-h2 {
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
}

.header-v2-h2.menu_scroll_v2 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

.header-v3-h3 {
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
}

.header-v3-h3.menu_scroll_v3 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

#header.header-v4-h4 {
    padding: 28px 0;
}

#header.header-v4-h4 .menu ul li .list-home {
    left: 0px;
}

#header.header-v4-h4 .menu ul li .list-woman {
    left: -150px;
}

#header.header-v4-h4 .menu ul li .list-woman.shop {
    left: 0px;
}

#header.header-v4-h4 .menu ul li .list-woman.style_3 {
    left: -200px;
}

#header.header-v4-h4 .menu ul li .list-woman.page {
    left: 0;
}

.header-v4-h4 {
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    z-index: 3;
}

.header-v4-h4.menu_scroll_v4 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

.header-v5-h5 {
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
}

.header-v5-h5.menu_scroll_v5 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

.header-v5-h5 .model_menu {
    font-size: 14px;
    color: #000000;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.header-v5-h5 .model_menu .model-menu-icon {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
}

.header-v5-h5 .model_menu .model-menu-icon span {
    text-align: left;
    display: block;
    width: 23px;
    height: 2px;
    background: #000000;
    margin-bottom: 4px;
}

.header-v5-h5 .model_menu .model-menu-icon span:nth-child(2) {
    width: 12px;
}

.header-v5-h5 .model_menu .model-menu-icon span:nth-child(3) {
    width: 17px;
}

.header-v5-h5 .model_menu .model-menu-title {
    margin-left: 7px;
    font-size: 11px;
    letter-spacing: .2em;
    font-weight: 600;
}

.header-v5-h5 .model_menu:hover {
    cursor: pointer;
}

.header-v6-h6 {
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
}

.header-v6-h6.menu_scroll_v6 {
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: mations 1s ease;
    transition: background-color 0.5s ease 0s, padding 0.5s ease 0s;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: none;
}

.header-v6-h6 .model_menu {
    margin-left: 40px;
    margin-top: 8px;
}

.header-v6-h6 .model_menu .model-menu-icon {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
}

.header-v6-h6 .model_menu .model-menu-icon span {
    text-align: left;
    display: block;
    width: 35px;
    height: 2px;
    background: #000000;
    margin-bottom: 6px;
}

.header-v6-h6 .model_menu .model-menu-icon span:nth-child(2) {
    width: 16px;
}

.header-v6-h6 .model_menu:hover {
    cursor: pointer;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

/*OTHERS */
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

#header.header-v4-h4 {
    padding: 0 0;
}

/*OTHER2*/
.effect-snow {
    animation: snow 20s linear infinite;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

.snow-image {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.snow-image1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.snow-image2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.snow-image3 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.snow-image4 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.lookbook-pages2 .title {
    font-size: 40px;
    color: #000000;
    line-height: 60px;
    text-align: center;
}

.lookbook-pages2 .des {
    color: #898989;
    font-size: 14px;
}

.lookbook-pages2 .style_lookbook {
    margin-top: 104px;
}

.lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n + 2) {
    margin-top: 150px;
}

@media (min-width: 1400px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n + 2) {
        padding: 0 55px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n + 2) {
        margin-top: 0;
        padding: 0 5px;
    }
}

@media (max-width: 576px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n + 2) {
        margin-top: 0;
        padding: 0 5px;
    }
}

@media (min-width: 1400px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  1) {
        padding-right: 110px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  1) {
        padding: 0 5px;
    }
}

@media (max-width: 576px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  1) {
        padding: 0 5px;
    }
}

@media (min-width: 1400px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  3) {
        padding-left: 110px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  3) {
        padding: 0 5px;
    }
}

@media (max-width: 576px) {
    .lookbook-pages2 .style_lookbook .slide_lookbook:nth-child(3n +  3) {
        padding: 0 5px;
    }
}

.lookbook-pages2 .style_lookbook .slide_lookbook .pin_lookbook .pin_button .icon2 {
    width: 24px;
    height: 24px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: #323232;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.page_instagram .slide_lookbook .pin_lookbook .pin_button .icon2 {
    width: 24px;
    height: 24px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: #323232;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.page_instagram .img_head {
    padding: 50px 0px 120px 0px;
}

.topbar {
    position: relative;
}

.topbar .image_topbar {
    position: absolute;
    top: 0;
}

.topbar .image_topbar img {
    height: 65px;
    object-fit: cover;
}

.topbar .curent-language {
    display: flex;
    padding: 10px 0 20px 0;
}

.topbar .curent-language .engoc_currencies {
    margin-right: 10px;
    position: relative;
}

.topbar .curent-language .engoc_currencies .currency-picker {
    color: #fff;
}

.topbar .curent-language .engoc_currencies:after {
    color: #fff;
}

.topbar .curent-language .box-change-langue {
    margin-right: 30px;
    position: relative;
}

.topbar .curent-language .box-change-langue .top-lanngue a {
    color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    font-size: 10px;
    display: block;
    padding: 0px 8px;
    letter-spacing: 1px;
    font-family: SofiaPro;
    font-weight: 600;
    height: 35px;
    width: 90px;
    line-height: 35px;
    position: relative;
}

.topbar .curent-language .box-change-langue .top-lanngue a:after {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 0px;
    z-index: 1;
    color: #fff;
}

.topbar .curent-language .box-change-langue #collapseExample {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2;
    background: #fff;
    padding: 8px;
    width: 100%;
}

.topbar .curent-language .box-change-langue #collapseExample ul li {
    line-height: 24px;
}

.topbar .curent-language .box-change-langue #collapseExample ul li a {
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

.topbar .curent-language .box-change-langue #collapseExample ul li a:hover {
    color: #ff5a00;
}

.topbar .menu_topbar {
    padding: 10px 0 20px 0;
}

.topbar .menu_topbar ul li {
    display: inline-block;
    padding-left: 10px;
}

.topbar .menu_topbar ul li:first-child {
    padding-left: 0;
}

.topbar .menu_topbar ul li a {
    font-size: 14px;
    color: #fff;
}

.topbar .menu_topbar ul li a:hover {
    color: #ff5a00;
}

@media (min-width: 576px) and (max-width: 767px) {
    .topbar .menu_topbar ul li a {
        font-size: 12px;
    }
}

.icon1 {
    font-family: 'aweicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.products_menu .menu-title {
    font-size: 17px;
    font-weight: 500;
    color: black;
    font-family: SofiaPro;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 14px;
    text-transform: none;
}

.products_menu .menu-title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid #ff5a00;
}

.products_menu .prod_sidebar_menu {
    padding-left: 0;
}

.products_menu .prod_sidebar_menu .product_info {
    overflow: hidden;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0;
    position: relative;
}

.products_menu .prod_sidebar_menu .product_info img {
    width: 100%;
    float: left;
    max-width: 80px;
    margin-right: 15px;
    border: 1px solid #e4e6ec;
}

.products_menu .prod_sidebar_menu .product_info .title-product a {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.products_menu .prod_sidebar_menu .product_info .title-product a:hover {
    color: #ff5a00;
}

.products_menu .prod_sidebar_menu .product_info .price-product .price-old {
    font-family: SofiaPro;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}

.products_menu .prod_sidebar_menu .product_info .price-product .price {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.products_menu .slick-brand-prev, .products_menu .slick-brand-next {
    z-index: 1;
    color: #000;
    top: -35px;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    transition: .3s;
    right: 0;
}

.products_menu .slick-brand-prev {
    margin-right: 30px;
}

.zoom-image {
    overflow: hidden;
    cursor: zoom-in;
}

.cursor-default {
    cursor: default;
}

.br-bottom {
    border-bottom: 1px solid #ccc;
}

.set-16-svg svg {
    width: 16px;
    height: 16px;
    fill: black;
}

.set-16-svg.fill-white svg {
    fill: #fff;
}

.set-16-svg:hover svg {
    fill: #ff5a00;
}

.set-12-svg svg {
    width: 12px;
    height: 12px;
    fill: black;
}

.set-12-svg.fill-white svg {
    fill: #fff;
}

.set-12-svg:hover svg {
    fill: #ff5a00;
}

.set-14-svg svg {
    width: 14px;
    height: 14px;
    fill: black;
}

.set-14-svg.fill-white svg {
    fill: #fff;
}

.set-14-svg:hover svg {
    fill: #ff5a00;
}

.set-18-svg svg {
    width: 18px;
    height: 18px;
    fill: black;
}

.set-18-svg.fill-white svg {
    fill: #fff;
}

.set-18-svg:hover svg {
    fill: #ff5a00;
}

.set-20-svg svg {
    width: 20px;
    height: 20px;
    fill: black;
}

.set-20-svg.fill-white svg {
    fill: #fff;
}

.set-20-svg:hover svg {
    fill: #ff5a00;
}

.set-22-svg svg {
    width: 22px;
    height: 22px;
    fill: black;
}

.set-22-svg.fill-white svg {
    fill: #fff;
}

.set-22-svg:hover svg {
    fill: #ff5a00;
}

.set-24-svg svg {
    width: 24px;
    height: 24px;
    fill: black;
}

.set-24-svg.fill-white svg {
    fill: #fff;
}

.set-24-svg:hover svg {
    fill: #ff5a00;
}

.set-26-svg svg {
    width: 26px;
    height: 26px;
    fill: black;
}

.set-26-svg.fill-white svg {
    fill: #fff;
}

.set-26-svg:hover svg {
    fill: #ff5a00;
}

.set-28-svg svg {
    width: 28px;
    height: 28px;
    fill: black;
}

.set-28-svg.fill-white svg {
    fill: #fff;
}

.set-28-svg:hover svg {
    fill: #ff5a00;
}

.set-30-svg svg {
    width: 30px;
    height: 30px;
    fill: black;
}

.set-30-svg.fill-white svg {
    fill: #fff;
}

.set-30-svg:hover svg {
    fill: #ff5a00;
}

/* SET */

/*============================================================================
	#Images and Iframes
==============================================================================*/
img {
    border: 0 none;
}

svg:not(:root) {
    overflow: hidden;
}

img,
iframe {
    max-width: 100%;
}

.video-wrapper {
    /*	position: relative; */
    overflow: hidden;
    max-width: 100%;
    /*	padding-bottom: 56.25%; */
    height: 0;
    height: auto;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*============================================================================
	#Forms
==============================================================================*/
form {
    margin-bottom: 0;
}

.form-vertical {
    margin-bottom: 15px;
}

/*================ Prevent zoom on touch devices in active inputs ================*/
@media screen and (max-width: 768px) {
    input,
    textarea {
        font-size: 16px;
    }
}

input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button,
input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0;
}

fieldset {
    border: 1px solid white;
    padding: 15px;
}

legend {
    border: 0;
    padding: 0;
}

button,
input[type="submit"] {
    cursor: pointer;
}

input,
textarea,
select {
    border: 1px solid white;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #e6e6e6;
}

input[disabled], input.disabled,
textarea[disabled],
textarea.disabled,
select[disabled],
select.disabled {
    cursor: default;
    background-color: #f6f6f6;
    border-color: #b6b6b6;
}

input.input-full,
textarea.input-full,
select.input-full {
    width: 100%;
}

textarea {
    min-height: 100px;
}

#account-menu {
    border-top: 2px solid #c09c4e;
    margin-top: 0;
    min-width: 0;
    padding: 15px;
    width: 200px;
    top: 120%;
    border-radius: 0;
    font-size: 0.8125rem;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 18%);
    margin-left: -115px;
}

/*#account-menu ul {*/
/*    margin: 15px -15px -15px -15px;*/
/*    padding: 0*/
/*}*/

/*#account-menu ul li {*/
/*    display: block;*/
/*    font-size: 0.875rem;*/
/*    border-top: 1px solid #ededed;*/
/*}*/

/*#account-menu ul li a {*/
/*    line-height: inherit;*/
/*    height: auto !important;*/
/*    color: #444 !important;*/
/*    border-left: 2px solid transparent;*/
/*    display: block;*/
/*    padding: 15px 15px 15px 50px !important;*/
/*    position: relative;*/
/*}*/

.dropdown-access #account-menu {
  margin-left: -115px;
}
.dropdown-access #account-menu:before {
  left: 50%;
}
.dropdown-access #account-menu ul {
  margin: 15px -15px -15px -15px;
  padding: 0;
}
.dropdown-access #account-menu ul li {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  border-top: 1px solid #ededed;
}
.dropdown-access #account-menu ul li a {
  height: auto !important;
  color: #444 !important;
  border-left: 2px solid transparent;
  display: block;
  padding: 15px 15px 15px 50px !important;
  position: relative;
  line-height: 1;
}
.dropdown-access #account-menu ul li a i {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-right: 10px;
  position: absolute;
  top: 14px;
  left: 15px;
}
.dropdown-access #account-menu ul li a:hover {
  border-left: 2px solid #004dda;
  color: #004dda !important;
  background-color: #0044c2;
  background-color: rgba(0, 77, 218, 0.04);
}

#account-menu a.btn_1 {
    color: #111;
    background-color: #FFC107;
    height: auto;
    line-height: 1.4;
}

a.btn_1, .btn_1 {
    border: none;
    color: #fff;
    background: #c09c4e;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 12px 25px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
}

#sign-in-dialog {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* Popup close button*/
#sign-in-dialog .mfp-close {
  color: #666;
  background-color: #e4e4e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 12px;
  right: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

#sign-in-dialog .mfp-close:hover {
  color: #fff;
  background-color: #66676b;
}

#sign-in-dialog .mfp-close:before {
  font-size: 16px;
  font-family: 'themify';
  content: "\e646";
}

.modal_header {
  font-size: 18px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  top: 0;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  border-radius: 4px 4px;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 18px 20px 15px 20px;
  margin-bottom: 30px;
}
.modal_header h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
}

#sign-in-dialog .form-group {
  position: relative;
}

#sign-in-dialog .form-group input.form-control {
  padding-left: 40px;
  padding-top: 10px;
}

#sign-in-dialog .form-group > i {
  font-size: 21px;
  font-size: 1.3125rem;
  position: absolute;
  left: 10px;
  top: 32px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400 !important;
}

.my-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none !important;
  box-shadow: none;
  background-color: #fff;
}
.my-toggle i {
  font-size: 14px;
  font-size: 0.875rem;
  position: static !important;
  color: #777;
}
.my-toggle i:hover, .my-toggle i:focus {
  color: #555;
}

.hideShowPassword-wrapper {
  width: 100% !important;
}

.checkboxes label {
  color: #999;
}

a#forgot {
  color: #999;
  font-weight: 500;
}

#forgot_pw {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  min-height: 100%;
  padding: 15px;
  display: none;
}
#forgot_pw label {
  font-weight: 500;
}

.sign-in-wrapper {
  position: relative;
  height: 100%;
}

a.social_bt {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  min-width: 200px;
  margin-bottom: 15px;
  display: block;
  padding: 12px;
  line-height: 1;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
a.social_bt:hover {
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

a.social_bt.facebook:before,
a.social_bt.google:before,
a.social_bt.linkedin:before {
  font-family: 'themify';
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 1rem;
  color: #fff;
}

a.social_bt.facebook {
  background-color: #3B5998;
}
a.social_bt.facebook:before {
  content: "\e741";
}

a.social_bt.google {
  background-color: #DC4E41;
}
a.social_bt.google:before {
  content: "\e73e";
  top: 12px;
}

.divider {
  text-align: center;
  height: 1px;
  margin: 20px 0 20px 0;
  background-color: #ededed;
}
.divider span {
  position: relative;
  top: -20px;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  font-style: italic;
}

.mfp-bg {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999999;
  overflow: hidden;
  position: fixed;
  background: #000;
  opacity: 0.96;
}

.mfp-wrap {
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #aaa;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

.mfp-s-loading .mfp-arrow {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  right: 0px;
  top: -40px;
}

/* Close Button */
button.mfp-close {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -20px;
  display: block;
  right: -12px;
  cursor: pointer !important;
  z-index: 9999;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  margin: 0px;
  background-color: transparent;
  outline: none;
  transform: translate3d(0, 0, 0);
}

.mfp-iframe-holder .mfp-close {
  top: -50px;
  right: -12px;
  transform: translate3d(0, 0, 0);
}

.mfp-gallery .mfp-close {
  top: 20px;
  right: 10px;
}

.mfp-gallery .mfp-content .mfp-close {
  display: none;
}

.mfp-gallery .mfp-close:before {
  font-family: 'themify';
  font-size: 29px;
  top: 4px;
  left: 50%;
  position: absolute;
  height: 10px;
  transition: 0.3s;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  font-size: 13px;
  line-height: 18px;
}

.mfp-arrow {
  opacity: 1;
  margin: 0 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: absolute;
  display: block;
  z-index: 100;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  outline: none !important;
}

.mfp-arrow:hover {
  background: #66676b;
  color: #fff;
}

.mfp-arrow.mfp-arrow-left,
.mfp-arrow.mfp-arrow-right {
  font-family: 'themify';
  font-size: 32px;
}

.mfp-arrow.mfp-arrow-right {
  right: 15px;
}

.mfp-arrow.mfp-arrow-left:before {
  content: "\e64a";
  left: -1px;
  top: 0px;
  position: relative;
}

.mfp-arrow.mfp-arrow-right:before {
  content: "\e649";
  left: 1px;
  top: 0px;
  position: relative;
}

.mfp-content:hover .mfp-arrow {
  opacity: 1;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 1180px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 54%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0.001;
  /* Chrome opacity transition bug */
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 40px auto;
  border-radius: 4px;
}

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 18px rgba(11, 11, 11, 0.6);
}

.mfp-figure {
  line-height: 0;
}

.mfp-bottom-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.9;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Media Queries for Magnific Popup */
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.92;
  background-color: #111;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-bottom-bar {
  padding: 0 10px !important;
}

.mfp-counter {
  right: 10px !important;
  color: #fff !important;
}

.mfp-bg {
  opacity: 0.8 !important;
}


/*================ Input element overrides ================*/