.footer_v1 .top-footer {
    background: #000000;
}

.footer_v1 .copyright {
    background: #000000;
}

.footer_v1 .top-footer .info_footer .title_border:after {
    background-color: #ffffff;
}

.footer_v1 .top-footer .info_footer h4 {
    color: #ffffff;
}

.footer_v1 .top-footer .info_footer ul li a {
    color: #ffffff;
}

.footer_v1 .top-footer .info_footer .content_footer {
    color: #ffffff;
}

.footer_v1 .copyright .text-copyright {
    color: #ffffff;
}

.footer_v1 .top-footer .info_footer.end .list-icon ul li a {
    color: #ffffff;
}


.footer_v1 .top-footer {
    padding: 50px 0 40px 0;
}

.footer_v1 .top-footer .info_footer {
    margin-bottom: 20px;
}

.footer_v1 .top-footer .info_footer h4 {
    font-size: 18px;
    font-weight: 500;
    /*color: #000;*/
}

.footer_v1 .top-footer .info_footer .title_border:after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 20px;
    /*background-color: #000;*/
}

.footer_v1 .top-footer .info_footer ul {
    margin-top: 20px;
}

.footer_v1 .top-footer .info_footer ul li a {
    font-weight: 400;
    line-height: 34px;
    /*color: #000;*/
    text-decoration: none;
    transition: all .25s ease-in-out;
    font-size: 15px;
}

.footer_v1 .top-footer .info_footer ul li a:hover {
    color: #ff5a00;
}

.footer_v1 .top-footer .info_footer .content_footer {
    /*color: #000;*/
    font-weight: 400;
    margin-top: 23px;
    font-size: 14px;
}

.footer_v1 .top-footer .info_footer.end h4 {
    font-size: 20px;
    text-transform: none;
    letter-spacing: .1em;
}

.footer_v1 .top-footer .info_footer.end .list-icon ul li a {
    display: inline-block;
    /*color: #000;*/
    font-size: 16px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    position: relative;
}

.footer_v1 .top-footer .info_footer.end .list-icon ul li a i {
    position: relative;
    z-index: 1;
}

.footer_v1 .top-footer .info_footer.end .list-icon ul li a:hover {
    color: #ff5a00;
}

.footer_v1 .copyright {
    border-top: 1px solid #eeeeee;
    padding: 26px 0;
}

.footer_v1 .copyright .text-copyright {
    /*color: #000;*/
    font-size: 14px;
}

.footer_v1 .copyright .text-copyright a {
    font-weight: 400;
    /*color: #000;*/
    text-decoration: none;
}

.footer_v1 .copyright .text-copyright a:hover {
    opacity: .8;
}

.footer_v2 .top-footer {
    border-top: 1px solid #dddddd;
    background-color: #ffffff;
}

.footer_v2 .top-footer .border-ft {
    border-left: 1px solid #dddddd;
    padding: 50px 0 40px 30px;
}

@media (max-width: 576px) {
    .footer_v2 .top-footer .border-ft {
        border-left: none;
        padding: 20px 0 20px 00px;
    }
}

.footer_v2 .top-footer .border-ft .info_footer {
    margin-bottom: 20px;
}

.footer_v2 .top-footer .border-ft .info_footer h4 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.footer_v2 .top-footer .border-ft .info_footer .title_border:after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 20px;
    background-color: #000000;
}

.footer_v2 .top-footer .border-ft .info_footer ul {
    margin-top: 30px;
}

.footer_v2 .top-footer .border-ft .info_footer ul li a {
    font-weight: 400;
    line-height: 32px;
    color: #9a9a9a;
    text-decoration: none;
    transition: all .25s ease-in-out;
    font-size: 14px;
}

.footer_v2 .top-footer .border-ft .info_footer ul li a:hover {
    color: #ff5a00;
}

.footer_v2 .top-footer .info_footer.end {
    padding: 50px 0 40px 0px;
}

@media (max-width: 576px) {
    .footer_v2 .top-footer .info_footer.end {
        padding: 20px 0 20px 00px;
    }
}

.footer_v2 .top-footer .info_footer.end h4 {
    font-size: 20px;
    text-transform: none;
    letter-spacing: .1em;
}

.footer_v2 .top-footer .info_footer.end .content_footer {
    color: #9a9a9a;
    font-weight: 400;
    margin-top: 23px;
    font-size: 14px;
}

.footer_v2 .top-footer .info_footer.end .list-icon ul {
    margin-top: 30px;
}

.footer_v2 .top-footer .info_footer.end .list-icon ul li a {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    position: relative;
}

.footer_v2 .top-footer .info_footer.end .list-icon ul li a i {
    position: relative;
    z-index: 1;
}

.footer_v2 .top-footer .info_footer.end .list-icon ul li a:hover {
    color: #ff5a00;
}

.footer_v2 .copyright {
    border-top: 1px solid #dddddd;
    padding: 26px 0;
    background-color: #ffffff;
}

.footer_v2 .copyright .text-copyright {
    color: #9a9a9a;
    font-size: 14px;
}

@media (max-width: 576px) {
    .footer_v2 .copyright .text-copyright {
        padding-bottom: 15px;
    }
}

.footer_v2 .copyright .text-copyright a {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.footer_v2 .copyright .text-copyright a:hover {
    opacity: .8;
}

.footer_v3 .content_menu {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #eeeeee;
}

.footer_v3 .content_menu .copyright {
    font-size: 14px;
    font-weight: 500;
    color: #979797;
}

.footer_v3 .content_menu .menu ul li {
    padding-right: 18px;
    padding-left: 18px;
}

.footer_v3 .content_menu .menu ul li a {
    font-weight: 500;
    font-size: 15px;
    color: #000;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
    font-family: SofiaPro;
}

.footer_v3 .content_menu .menu ul li a:hover {
    color: #ff5a00;
}

.footer_v3 .content_menu .casano-socials ul li a {
    width: 42px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.footer_v3 .content_menu .casano-socials ul li a:hover {
    color: #ff5a00;
}

.footer_v3 .newsletter-fv3 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer_v3 .newsletter-fv3 .title_newletter h3 {
    font-size: 28px;
    color: #000;
    text-align: center;
    font-family: SofiaPro;
    font-weight: 500;
}

.footer_v3 .newsletter-fv3 .content {
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #000;
    padding-top: 13px;
}

.footer_v3 .newsletter-fv3 .newletter_email {
    max-width: 100%;
    width: 690px;
    margin: 0 auto;
    margin-top: 24px;
}

@media (max-width: 576px) {
    .footer_v3 .newsletter-fv3 .newletter_email {
        padding: 0 10px;
    }
}

.footer_v3 .newsletter-fv3 .newletter_email form {
    width: 100%;
    border-bottom: 2px solid #000;
    position: relative;
}

.footer_v3 .newsletter-fv3 .newletter_email form .form-group {
    width: 100%;
}

.footer_v3 .newsletter-fv3 .newletter_email form .form-group .form-control {
    padding: .375rem 6.75rem 0.375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.footer_v3 .newsletter-fv3 .newletter_email form .form-group input {
    width: 100%;
}

.footer_v3 .newsletter-fv3 .newletter_email form .form-group input::placeholder {
    font-size: 14px;
    color: #979797;
}

.footer_v3 .newsletter-fv3 .newletter_email form .btn {
    position: absolute;
    right: 0;
    top: 50%;
    height: 40px;
    background-color: transparent;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    transform: translateY(-50%);
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.footer_v3 .newsletter-fv3 .newletter_email form .btn:hover {
    color: #ff5a00;
}

.footer_v3 .newsletter-fv3 .newletter_email form .btn.focus, .footer_v3 .newsletter-fv3 .newletter_email form .btn:focus {
    outline: 0;
    box-shadow: none;
}

@media (max-width: 991px) {
    .footer_v3 {
        text-align: center;
    }

    .footer_v3 .copyright {
        margin-bottom: 15px;
    }

    .footer_v3 .menu {
        margin-bottom: 20px;
    }
}

.footer_v4 .top-footer {
    padding-top: 52px;
    padding-bottom: 52px;
}

.footer_v4 .top-footer .title_footer h4 {
    font-size: 21px;
    color: #000;
    font-weight: 500;
    font-family: SofiaPro;
    margin-bottom: 14px !important;
    position: relative;
    padding-bottom: 12px;
}

.footer_v4 .top-footer .title_footer h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 54px;
    border-bottom: 1px solid;
}

.footer_v4 .top-footer .info_footer ul li {
    line-height: 32px;
    margin-right: 0;
}

.footer_v4 .top-footer .info_footer ul li a {
    color: #000;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
    font-size: 15px;
    line-height: 34px;
    font-weight: 400;
}

.footer_v4 .top-footer .info_footer ul li a:hover {
    color: #ff5a00 !important;
}

.footer_v4 .top-footer .info_footer ul li .social-item {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 39px;
    display: inline-block;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1500px) {
    .footer_v4 .top-footer .info_footer ul li .social-item {
        height: 35px;
        width: 35px;
        line-height: 30px;
    }
}

.footer_v4 .top-footer .info_footer ul li .social-item i {
    font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1500px) {
    .footer_v4 .top-footer .info_footer ul li .social-item i {
        font-size: 15px;
    }
}

.footer_v4 .top-footer .info_footer ul li .social-item:hover {
    border: 2px solid #ff5a00;
}

.footer_v4 .top-footer .content_footer {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 25px !important;
}

.footer_v4 .top-footer .info_footer.end {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

.footer_v4 .top-footer .info_footer.end .fv4-form {
    background-color: #fff;
    height: 56px;
    line-height: 56px;
    border: none;
    width: 690px;
    max-width: 100%;
    position: relative;
}

.footer_v4 .top-footer .info_footer.end .fv4-form .text-input {
    border: none;
    width: 100%;
    padding: 0 8.6rem 0 .8rem;
}

.footer_v4 .top-footer .info_footer.end .fv4-form .text-input::placeholder {
    font-size: 14px;
    color: #000;
}

.footer_v4 .top-footer .info_footer.end .fv4-form .btn {
    border-radius: 0;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border: none;
    text-align: center;
    letter-spacing: .3em;
    font-weight: 600;
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    letter-spacing: .2em;
    line-height: 18px;
    top: 0;
    right: 0;
    height: 100%;
    box-shadow: none;
    white-space: nowrap;
    transition: .3s;
    padding: 0 20px;
}

.footer_v4 .top-footer .info_footer.end .fv4-form .btn:hover {
    background-color: #ff5a00;
}

.footer_v4 .copyright {
    border-top: 1px solid #E8E8F2;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer_v4 .copyright p {
    font-size: 14px;
    color: #6c6c6c;
}

.footer_v4 .copyright p a {
    color: #6c6c6c;
}

.footer_v4 .copyright p a:hover {
    color: #ff5a00;
}

.footer_v4 .copyright .text-copyright p {
    margin-bottom: 0;
}

.footer_v4 .copyright .text-copyright a {
    color: #ff5a00;
}

@media (max-width: 767px) {
    .footer_v4 .info_footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer_v4 .info_footer .title_footer h4:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 54px;
        border-bottom: 1px solid;
    }

    .footer_v4 .logo-footer {
        margin-bottom: 20px;
    }

    .footer_v4 .text-copyright {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer_v4 .info_footer.end {
        padding-top: 25px;
    }
}

.footer_v5 {
    position: relative;
    padding-top: 64px;
    padding-bottom: 36px;
}

.footer_v5:after {
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #bdbdbd;
}

.footer_v5 .title_menu {
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.footer_v5 .title_menu:after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 20px;
    background-color: #ff5a00;
}

.footer_v5 .menu_footer ul {
    margin-top: 15px;
}

.footer_v5 .menu_footer ul li a {
    font-weight: 400;
    line-height: 32px;
    color: #000;
    text-decoration: none;
    transition: all .25s ease-in-out;
    font-size: 15px;
    position: relative;
}

.footer_v5 .menu_footer ul li a:hover {
    color: #ff5a00;
}

.footer_v5 .menu_footer ul li a:hover:after {
    width: 100%;
    left: 0;
}

.footer_v5 .menu_footer ul li a:after {
    content: '';
    height: 1px;
    background-color: #ff5a00;
    display: block;
    transition: width .4s linear 0s;
    -webkit-transition: width .4s linear 0s;
    -o-transition: width .4s linear 0s;
    width: 0;
    position: absolute;
    right: 0;
    margin-top: -5px;
}

.footer_v5 .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_v5 .logo-footer .logosvg {
    margin: 0 auto;
}

.footer_v5 .logo-footer .logosvg svg {
    width: 100%;
    height: auto;
}

.footer_v5 .list-icon {
    margin-top: 48px;
}

@media (max-width: 767px) {
    .footer_v5 .list-icon {
        margin-top: 20px;
    }
}

.footer_v5 .list-icon ul li a {
    color: #fff !important;
    display: inline-block;
    text-align: center;
    width: 46px;
    height: 46px;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 12px;
    line-height: 46px;
    transition: all .3s ease;
    overflow: hidden;
    position: relative;
    background: black;
}

.footer_v5 .list-icon ul li a i {
    position: relative;
    z-index: 1;
}

.footer_v5 .list-icon ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(0);
    background: #ff5a00;
    transition: all ease .3s;
    width: 100%;
    height: 100%;
}

.footer_v5 .list-icon ul li a:hover {
    color: #fff;
}

.footer_v5 .list-icon ul li a:hover:before {
    transform: scale(0.9);
}

.footer_v5 .form-footer .title_menu {
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.footer_v5 .form-footer .title_menu:after {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 20px;
    background-color: #ff5a00;
}

.footer_v5 .form-footer .sub_title {
    font-size: 19px;
    color: #000;
    margin-top: 30px;
}

.footer_v5 .form-footer .content-footer {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px !important;
}

.footer_v5 .form-footer .fv5-form {
    background-color: #f3f3f3;
    height: 56px;
    line-height: 56px;
    border: none;
    padding: 0 0 0 25px;
    width: 690px;
    max-width: 100%;
    position: relative;
}

.footer_v5 .form-footer .fv5-form .form-group {
    width: 100%;
}

.footer_v5 .form-footer .fv5-form .text-input {
    width: 100%;
    padding: 0 10rem 0 0px;
    background: none;
    border: none;
}

.footer_v5 .form-footer .fv5-form .text-input::placeholder {
    font-size: 14px;
    color: #000;
}

.footer_v5 .form-footer .fv5-form .btn {
    border-radius: 0;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border: none;
    text-align: center;
    letter-spacing: .3em;
    font-weight: 600;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 19px 30px;
    font-size: 12px;
    letter-spacing: .2em;
    line-height: 18px;
    top: 0;
    right: 0;
    box-shadow: none;
    white-space: nowrap;
    transition: .3s;
}

.footer_v5 .form-footer .fv5-form .btn:hover {
    background-color: #ff5a00;
}

.footer_v5 .form-footer .payment {
    margin-top: 40px;
}

.footer_v5 .form-footer .text-copyright {
    font-size: 14px;
    margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer_v5 .form-footer {
        margin-top: 25px;
    }

    .footer_v5 .form-footer .payment {
        margin-top: 30px;
    }

    .footer_v5 .form-footer .text-copyright {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .footer_v5 .form-footer {
        margin-top: 25px;
    }

    .footer_v5 .form-footer .payment {
        margin-top: 30px;
    }

    .footer_v5 .form-footer .text-copyright {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .footer_v5 {
        padding-top: 36px;
    }
}

@media (max-width: 991.99px) {
    .footer_v5:after {
        display: none;
    }
}

.footer_v6 .content_menu {
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}

.footer_v6 .content_menu .copyright {
    font-size: 14px;
    font-weight: 400;
    color: #979797;
    text-align: center;
}

.footer_v6 .content_menu .menu ul li {
    padding-right: 40px;
}

.footer_v6 .content_menu .menu ul li a {
    letter-spacing: .2em;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: #000;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;
    font-family: SofiaPro;
}

.footer_v6 .content_menu .menu ul li a:hover {
    color: #ff5a00;
}

.footer_v6 .content_menu .casano-socials ul li a {
    width: 42px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    border: 1px solid #000;
    background: transparent;
    color: #000;
    font-size: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.footer_v6 .content_menu .casano-socials ul li a:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #ff5a00;
    transform: scale(0);
    transition: 0.5s;
    z-index: -1;
    border-radius: 50%;
}

.footer_v6 .content_menu .casano-socials ul li a:hover {
    border: 1px solid #ff5a00;
    color: #fff;
}

.footer_v6 .content_menu .casano-socials ul li a:hover:after {
    transform: scale(1);
}

.footer_v6 .copyright {
    font-size: 12px;
    color: #979797;
    font-weight: 400;
    padding: 24px 0;
}

@media (max-width: 767px) {
    .footer_v6 .content_menu .menu {
        margin-bottom: 20px;
    }

    .footer_v6 .content_menu .menu ul li {
        padding-right: 10px;
    }

    .footer_v6 .content_menu .casano-socials {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer_v6 .menu {
        margin-bottom: 20px;
    }

    .footer_v6 .casano-socials {
        margin-top: 20px;
    }
}

/* ========================================
RESPONSIVE
======================================== */
@media (min-width: 1200px) and (max-width: 1500px) {
    .box-change-langue {
        margin-right: 5px;
    }

    #header .currencies-login .cart-login-search ul li a i {
        font-size: 22px;
    }

    #header .currencies-login .cart-login-search ul li {
        margin-right: 10px !important;
    }

    .footer_v2 .info_footer .btn {
        width: 40%;
    }

    .footer_v2 .form-group {
        width: 60%;
    }

    .footer_v2 .form-group input {
        width: 100%;
    }
}

/*@media (min-width: 992px) and (max-width: 1199.98px) {*/
/*    .mt-all {*/
/*        margin-top: 60px;*/
/*    }*/

/*    .search-full-destop .search-eveland .wg-search-form {*/
/*        width: 90%;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end .list-icon ul li a {*/
/*        width: 40px;*/
/*        height: 40px;*/
/*        font-size: 15px;*/
/*        margin: 0;*/
/*        line-height: 38px;*/
/*    }*/

/*    .footer_v2 .info_us .list-icon ul li a {*/
/*        width: 40px;*/
/*        height: 40px;*/
/*        font-size: 13px;*/
/*        margin: 0 5px 5px 0;*/
/*        line-height: 38px;*/
/*    }*/

/*    .footer_v2 .form-group {*/
/*        margin-bottom: 10px;*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .form-group input {*/
/*        height: 55px;*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .form-group input::placeholder {*/
/*        font-size: 14px;*/
/*    }*/

/*    .footer_v2 .info_footer .btn {*/
/*        height: 50px;*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) and (max-width: 991.98px) {*/
/*    .mt-all {*/
/*        margin-top: 60px;*/
/*    }*/

/*    .search-full-destop .search-eveland .wg-search-form {*/
/*        width: 90%;*/
/*    }*/

/*    .popup .modal-window {*/
/*        min-height: 320px;*/
/*        margin: 0 auto;*/
/*        position: relative;*/
/*        width: 80%;*/
/*    }*/

/*    .popup .modal-window .window-window {*/
/*        position: relative;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content {*/
/*        position: relative;*/
/*        background: #fff;*/
/*        float: left;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left {*/
/*        width: 60%;*/
/*        float: left;*/
/*        padding: 30px;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left #mc_embed_signup {*/
/*        margin: 15px 0;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left .product-socials ul {*/
/*        margin-bottom: 0;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .right {*/
/*        width: 40%;*/
/*        float: right;*/
/*    }*/

/*    .footer_v1 .top-footer {*/
/*        padding: 50px 0 35px 0;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end {*/
/*        margin-bottom: 20px;*/
/*        margin-top: 20px;*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer form {*/
/*        width: 80%;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .footer_v2 .info_footer.end {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v2 .info_footer .form-group {*/
/*        width: 80%;*/
/*    }*/

/*    .footer_v2 .info_footer .form-group .form-control {*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .info_footer .btn {*/
/*        width: 20%;*/
/*    }*/

/*    .footer_v2 .title_border.end:after {*/
/*        margin-top: 10px;*/
/*        position: absolute;*/
/*        left: 50%;*/
/*        transform: translate(-50%);*/
/*    }*/

/*    .footer_v2 .list-inline-item:not(:last-child) {*/
/*        margin-right: 0;*/
/*    }*/

/*    .footer_v2 .info_us .list-icon ul li a {*/
/*        width: 35px;*/
/*        height: 35px;*/
/*        font-size: 12px;*/
/*        border-radius: 50%;*/
/*        margin: 0 5px 5px 0;*/
/*        line-height: 33px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .menu-footer ul li a {*/
/*        padding-left: 10px;*/
/*        padding-right: 10px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .content-email {*/
/*        margin-top: 27px;*/
/*    }*/
/*}*/

/*@media (min-width: 576px) and (max-width: 767.98px) {*/
/*    .mt-all {*/
/*        margin-top: 50px;*/
/*    }*/

/*    .search-full-destop .search-eveland .wg-search-form {*/
/*        width: 90%;*/
/*    }*/

/*    .popup .modal-window {*/
/*        width: 80%;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content {*/
/*        float: none;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left {*/
/*        width: 100%;*/
/*        padding: 20px 40px;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left #mc_embed_signup .form-group button {*/
/*        width: 100%;*/
/*        margin-top: 0px;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .right {*/
/*        display: none;*/
/*    }*/

/*    .footer_v1 {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v1 .top-footer {*/
/*        padding: 50px 0 37px 0;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer .title_border:after {*/
/*        margin-top: 8px;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        position: absolute;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer h4 {*/
/*        font-weight: 500;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer form {*/
/*        width: 80%;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end {*/
/*        margin-bottom: 20px;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end h4 {*/
/*        font-size: 16px;*/
/*    }*/

/*    .footer_v1 .copyright .text-copyright {*/
/*        padding-bottom: 15px;*/
/*    }*/

/*    .footer_v2 {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v2 .info_us .content-logo {*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .title_footer h4:after {*/
/*        margin-top: 8px;*/
/*    }*/

/*    .footer_v2 .title_border:after {*/
/*        margin-top: 8px;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        position: absolute;*/
/*    }*/

/*    .footer_v2 .info_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v2 .info_footer h4 {*/
/*        font-weight: 500;*/
/*    }*/

/*    .footer_v2 .info_footer.end {*/
/*        margin-bottom: 0px;*/
/*    }*/

/*    .footer_v2 .info_footer.end h4 {*/
/*        font-size: 16px;*/
/*    }*/

/*    .footer_v2 .title_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v2 .form-group {*/
/*        margin-bottom: 20px;*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .form-group input {*/
/*        width: 100%;*/
/*        height: 50px !important;*/
/*    }*/

/*    .footer_v2 .form-group input::placeholder {*/
/*        font-size: 14px;*/
/*    }*/

/*    .footer_v2 .info_footer .btn {*/
/*        width: 100%;*/
/*        height: 50px;*/
/*    }*/

/*    .info_footer.end {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v6 {*/
/*        padding-bottom: 40px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer.brleft {*/
/*        border-right: none;*/
/*        padding-top: 0;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .list-icon {*/
/*        margin-top: 30px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .content-contact {*/
/*        padding-top: 30px;*/
/*        width: unset;*/
/*        margin: unset;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .content-email {*/
/*        margin-top: 15px;*/
/*    }*/

/*    .footer_v6 .copyright-footer {*/
/*        margin-top: 30px;*/
/*    }*/
/*}*/

/*@media (max-width: 575.98px) {*/
/*    .mt-all {*/
/*        margin-top: 50px;*/
/*    }*/

/*    .search-full-destop .search-eveland .wg-search-form {*/
/*        width: 90%;*/
/*    }*/

/*    .search-full-destop .search-eveland .drawer-search-top .drawer-search-title {*/
/*        font-size: 35px;*/
/*        margin-top: 30px;*/
/*    }*/

/*    .popup .modal-window {*/
/*        width: 80%;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content {*/
/*        float: none;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left {*/
/*        width: 100%;*/
/*        padding: 20px 40px;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .left #mc_embed_signup .form-group button {*/
/*        width: 100%;*/
/*        margin-top: 20px;*/
/*    }*/

/*    .popup .modal-window .window-window .window-content .right {*/
/*        display: none;*/
/*    }*/

/*    .footer_v1 {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v1 .top-footer {*/
/*        padding: 50px 0 37px 0;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer .title_border:after {*/
/*        margin-top: 8px;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        position: absolute;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer h4 {*/
/*        font-weight: 500;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end {*/
/*        margin-bottom: 20px;*/
/*    }*/

/*    .footer_v1 .top-footer .info_footer.end h4 {*/
/*        font-size: 16px;*/
/*    }*/

/*    .footer_v1 .copyright .text-copyright {*/
/*        padding-bottom: 15px;*/
/*    }*/

/*    .footer_v2 {*/
/*        text-align: center;*/
/*    }*/

/*    .footer_v2 .info_us .content-logo {*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .title_footer h4:after {*/
/*        margin-top: 8px;*/
/*    }*/

/*    .footer_v2 .title_border:after {*/
/*        margin-top: 8px;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        position: absolute;*/
/*    }*/

/*    .footer_v2 .info_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v2 .info_footer h4 {*/
/*        font-weight: 500;*/
/*    }*/

/*    .footer_v2 .info_footer.end {*/
/*        margin-bottom: 0px;*/
/*    }*/

/*    .footer_v2 .info_footer.end h4 {*/
/*        font-size: 16px;*/
/*    }*/

/*    .footer_v2 .title_footer {*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer_v2 .form-group {*/
/*        margin-bottom: 20px;*/
/*        width: 100%;*/
/*    }*/

/*    .footer_v2 .form-group input {*/
/*        width: 100%;*/
/*        height: 50px !important;*/
/*    }*/

/*    .footer_v2 .form-group input::placeholder {*/
/*        font-size: 14px;*/
/*    }*/

/*    .footer_v2 .info_footer .btn {*/
/*        width: 100%;*/
/*        height: 50px;*/
/*    }*/

/*    .footer_v6 {*/
/*        padding-bottom: 40px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer.brleft {*/
/*        border-right: none;*/
/*        padding-top: 0;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .list-icon {*/
/*        margin-top: 30px;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .content-contact {*/
/*        padding-top: 30px;*/
/*        width: unset;*/
/*        margin: unset;*/
/*    }*/

/*    .footer_v6 .top-footer .info_footer .content-email {*/
/*        margin-top: 15px;*/
/*    }*/

/*    .footer_v6 .copyright-footer {*/
/*        border-top: 1px solid #dadada;*/
/*        margin-top: 30px;*/
/*    }*/
/*}*/

.footer_v4 .top-footer .title_footer h4 {
    color: #000000;
}

.footer_v4 .top-footer .info_footer ul li a {
    color: #000000;
}

.footer_v4 .top-footer .content_footer {
    color: #000000;
}

.footer_v2 .top-footer .title_footer h4 {
    color: #ffffff;
}

.footer_v2 .top-footer .info_footer ul li a {
    color: #ffffff;
}

.footer_v2 .top-footer .content_footer {
    color: #ffffff;
}
