<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Model (obg+mtl)</title>

</head>

<!--进度条-->
<div id="progress" class="progress">
    <div class="mask"></div>
    <div class="loading">
        <div class="trends"></div>
    </div>
</div>

<script src="{{ url_for('static',filename='script/three.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/OBJLoader.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/MTLLoader.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/FBXLoader.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/DDSLoader.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/TrackballControls.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/Detector.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='script/OrbitControls.js') }}" rel="script"></script>

    // 这是一个进度条函数进度条函数
    function play(a) {
        while (fake < a) {
            fake = fake + 1;
            document.getElementsByClassName("trends")[0].style.width = fake + "%";
        }
        if (fake < 100) {
            document.getElementById("progress").style.display = "block";
            console.log("a:", a);
        } else {
            document.getElementById("progress").style.display = "none";
        }
    }
</html>