{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="bg_gray">
        <form method="POST" action="/checkout/">
            {% csrf_token %}
            <div class="container margin_30">
                <div class="page_header">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">{% trans "Home" %}</a></li>
                            <li><a href="#">{% trans "Category" %}</a></li>
                            <li>{% trans "Page active" %}</li>
                        </ul>
                    </div>
                    <h1>{% trans "Cart page" %}</h1>
                </div>
                <!-- /page_header -->
                <table class="table table-striped cart-list">
                    <thead>
                    <tr>
                        <th>
                            {% trans "Product" %}
                        </th>
                        <th>
                            {% trans "Price($)" %}
                        </th>
                        <th>
                            {% trans "Quantity" %}
                        </th>
                        <th>
                            {% trans "Subtotal($)" %}
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if carts %}
                        {#                        <input value="{{ carts.count }}" name="carts_count">#}
                        {#                        <script>#}
                        {#                            function sum() {#}
                        {#                                var sum = 0;#}
                        {#                                for (var id = 1; id <= {{ carts.count }}; id++) {#}
                        {#                                    let id_for_total = "#total-" + id;#}
                        {#                                    sum += parseFloat($(id_for_total)[0].value);#}
                        {#                                }#}
                        {#                                let subtotal_all = $("#subtotal_all");#}
                        {#                                let total = $("#total");#}
                        {##}
                        {#                                let sub_content = subtotal_all.html();#}
                        {#                                let to_content = total.html();#}
                        {##}
                        {#                                console.log("ssd", sub_content);#}
                        {#                                subtotal_all.html(sub_content.split("$")[0] + "$ " + sum);#}
                        {#                                total.html(to_content.split("$")[0] + "$ " + sum);#}
                        {##}
                        {#                            }#}
                        {#                        </script>#}
                        {% for cart in carts %}
                            {#                            <input type="hidden" value="{{ forloop.counter }}" name="cart-{{ forloop.counter }}">#}
                            {#                            <input type="hidden" value="{{ cart.instrument.id }}"#}
                            {#                                   name="instrument-{{ forloop.counter }}">#}
                            <tr id="cart-{{ forloop.counter }}" class="cart_item_single" data-id="{{ cart.id }}"
                                data-price="{{ cart.instrument.price }}">
                                <td>
                                    <div class="thumb_cart">
                                        <img src="{{ cart.instrument.image.url }}"
                                             data-src="{{ cart.instrument.image.url }}" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart">{{ cart.instrument.name }}</span>
                                </td>
                                <td>
                                    <strong id="price-{{ forloop.counter }}"
                                            class="price"> {{ cart.instrument.price }} </strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="text" value="{{ cart.count }}" id="quantity-input"
                                               class="qty2" data-id="{{ cart.id }}">
                                        <div class="inc button_inc" data-id="{{ cart.id }}">
                                            +
                                        </div>
                                        <div class="dec button_inc" data-id="{{ cart.id }}">
                                            -
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <strong id="total-input"
                                            class="subtotal"> {{ cart.total_money }} </strong>
                                </td>
                                <td class="options">
                                    <a>
                                        <i id="remove-button" class="ti-trash" data-id="{{ cart.id }}"
                                           data-count="{{ forloop.counter }}"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

                <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                    <div class="col-sm-4 text-end">
                        {#                        <button type="button" class="btn_1 gray">{% trans "Update Cart" %}</button>#}
                    </div>
                    <div class="col-sm-8">
                        <div class="apply-coupon">
                            <div class="form-group">
                                <div class="row g-2">
                                    <div class="col-md-6"><input type="text" name="coupon-code" value=""
                                                                 placeholder="Promo code" class="form-control"></div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn_1 outline">{% trans "Apply Coupon" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cart_actions -->

            </div>
            <!-- /container -->

            <div class="box_cart">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <ul>
                                <li id="subtotal-all">
                                    <span>{% trans "Subtotal:" %}</span>$ 240
                                </li>
                                {#                                <li id="shipping" name="shipping">#}
                                {#                                    <span>{% trans "Shipping:" %}</span>$ 0#}
                                {#                                </li>#}
                                <li id="all-total" name="total">
                                    <span>{% trans "Total:" %}</span>$ 240
                                </li>
                            </ul>
                            <button type="submit" class="btn_1 full-width cart">{% trans "Proceed to Checkout" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /box_cart -->
        </form>
    </main>
    <!--/main-->


{% endblock %}

{% block foot_link %}

    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        function update_total_money() {
            let cart_items = $(".cart_item_single");
            let all_total_money = 0;
            for (let i = 0; i < cart_items.length; i++) {
                let cart_item = cart_items[i];
                let id = cart_item.getAttribute("data-id");
                let price = cart_item.getAttribute("data-price");
                let quantity = $(cart_item).find("#quantity-input").val();
                console.log(id, price, quantity);
                let total_money = price * quantity;
                $(cart_item).find("#total-input").text(total_money.toFixed(1));
                all_total_money += total_money;
                {#let total_money_element = document.getElementById("total-" + id);#}
                {#total_money_element.innerHTML = total_money;#}
            }
            $("#subtotal-all").html("<span>{% trans "Subtotal:" %}</span>$ " + all_total_money.toFixed(1));
            $("#all-total").html("<span>{% trans "Total:" %}</span>$ " + all_total_money.toFixed(1));


        }

        $(document).ready(function () {
            update_total_money();
            $(".button_inc").on("click", function () {
                let id = $(this)[0].getAttribute("data-id");
                let quantity = $(this).parent().find("#quantity-input").val();
                $.ajax({
                    url: "/api/cart/" + id + "/",
                    type: "PATCH",
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    data: {
                        "count": quantity
                    },
                    success: function (data) {
                        update_total_money();
                    }
                });

            });
            $(".qty2").on("input", function () {
                let id = $(this)[0].getAttribute("data-id");
                let quantity = $(this).parent().find("#quantity-input").val();
                $.ajax({
                    url: "/api/cart/" + id + "/",
                    type: "PATCH",
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    data: {
                        "count": quantity
                    },
                    success: function (data) {
                        update_total_money();
                    }
                });
            });

            $(".ti-trash").on("click", function () {
                {# Use API to remove cart item #}
                let that = this;
                $.ajax({
                    url: "/api/cart/" + $(this).attr("data-id"),
                    type: "DELETE",
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log($("#cart-" + $(that).attr("data-count")))
                        $("#cart-" + $(that).attr("data-count")).remove();

                        update_total_money();

                    }
                });
            });
        });


    </script>
{% endblock %}
