{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <main class="bg_gray">
        <div class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Page active</li>
                    </ul>
                </div>
                <h1>Cart page</h1>
            </div>
            <!-- /page_header -->
            <table class="table table-striped cart-list">
                <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price($)
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Subtotal($)
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>

                {% if carts %}
                    {% for cart in carts %}
                        <tr id="cart-{{ cart.id }}">
                            <td>
                                <div class="thumb_cart">
                                    <img src="{{ cart.instrument.image.url }}"
                                         data-src="{{ cart.instrument.image.url }}" class="lazy" alt="Image">
                                </div>
                                <span class="item_cart">{{ cart.instrument.name }}</span>
                            </td>
                            <td>
                                <input value="{{ cart.instrument.price }}" id="price-{{ cart.id }}" class="price">
                            </td>

                            <td>
                                <div class="numbers-row">
                                    <input type="text" value="{{ cart.count }}" id="quantity-{{ cart.id }}"
                                           class="qty2" name="quantity_3"
                                           onchange="count_change('{{ cart.id }}'); subtotal('{{ cart.id }}'); sum(); total();">
                                    {# Kao, don't use '\n' here, will influence the js file #}
                                    <div class="inc button_inc" onclick="count_change_add('{{ cart.id }}')">+</div>
                                    <div class="dec button_inc" onclick="count_change_minus('{{ cart.id }}')">-</div>
                                </div>
                            </td>
                            <td>
                                <input value="{{ cart.total_money }}" id="total-{{ cart.id }}"
                                       class="subtotal" onchange="sum()">
                            </td>
                            <td class="options">
                                <a href="#">
                                    <i onclick="remove_cart_item('{{ cart.id }}')" class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}


                <tr>
                    <td>
                        <div class="thumb_cart">
                            <img src="img/products/product_placeholder_square_small.jpg"
                                 data-src="img/products/shoes/1.jpg" class="lazy" alt="Image">
                        </div>
                        <span class="item_cart">Armor Air x Fear</span>
                    </td>
                    <td>
                        <input value="140.00" class="price">
                    </td>
                    <script type="text/javascript">
                        var id;

                        function subtotal(id) {
                            var z = $(".qty2")[id].value;
                            $(".subtotal")[id].value = z * parseFloat($(".price")[id].value);
                            console.log(z);
                        }

                        function sum() {
                            var sum = 0;
                            for (var i = 0; i < $(".subtotal").length; i++) {
                                sum += parseFloat($(".subtotal")[i].value);
                            }
                            $("#subtotal_all")[0].value = sum;
                        }

                        function total() {
                            $("#total")[0].value = parseFloat($("#subtotal_all")[0].value) + parseFloat($("#shipping")[0].value);
                        }


                    </script>
                    <td>
                        <div class="numbers-row">
                            <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1"
                                   onchange="subtotal(0); sum(); total()">
                            <div class="inc button_inc">+</div>
                            <div class="dec button_inc">-</div>
                        </div>
                    </td>
                    <td>
                        <input value="140.00" class="subtotal" onchange="sum()">
                    </td>
                    <td class="options">
                        <a href="#"><i class="ti-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="thumb_cart">
                            <img src="img/products/product_placeholder_square_small.jpg"
                                 data-src="img/products/shoes/2.jpg" class="lazy" alt="Image">
                        </div>
                        <span class="item_cart">Armor Okwahn II</span>
                    </td>
                    <td>
                        <input value="110" class="price">
                    </td>
                    <td>
                        <div class="numbers-row">
                            <input type="text" value="1" id="quantity_2" class="qty2" name="quantity_2"
                                   onchange="subtotal(1); sum(); total()">
                            <div class="inc button_inc">+</div>
                            <div class="dec button_inc">-</div>
                        </div>
                    </td>
                    <td>
                        <input value="110.00" class="subtotal" onchange="sum()">
                    </td>
                    <td class="options">
                        <a href="#"><i class="ti-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="thumb_cart">
                            <img src="img/products/product_placeholder_square_small.jpg"
                                 data-src="img/products/shoes/3.jpg" class="lazy" alt="Image">
                        </div>
                        <span class="item_cart">Armor Air Wildwood ACG</span>
                    </td>
                    <td>
                        <input value="90.00" class="price">
                    </td>

                    <td>
                        <div class="numbers-row">
                            <input type="text" value="1" id="quantity_3" class="qty2" name="quantity_3"
                                   onchange="subtotal(2); sum(); total()">
                            <div class="inc button_inc">+</div>
                            <div class="dec button_inc">-</div>
                        </div>
                    </td>
                    <td>
                        <input value="90.00" class="subtotal" onchange="sum()">
                    </td>
                    <td class="options">
                        <a href="#"><i class="ti-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                <div class="col-sm-4 text-end">
                    <button type="button" class="btn_1 gray">Update Cart</button>
                </div>
                <div class="col-sm-8">
                    <div class="apply-coupon">
                        <div class="form-group">
                            <div class="row g-2">
                                <div class="col-md-6"><input type="text" name="coupon-code" value=""
                                                             placeholder="Promo code" class="form-control"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn_1 outline">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /cart_actions -->

        </div>
        <!-- /container -->

        <div class="box_cart">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <ul>
                            <li>
                                <span>Subtotal:</span>$<input id="subtotal_all" value="240.00" onchange="total()">
                            </li>
                            <li>
                                <span>Shipping</span>$<input id="shipping" value="7.00" onchange="total()">
                            </li>
                            <li>
                                <span>Total</span>$<input id="total" value="247.00">
                            </li>
                        </ul>
                        <a href="../checkout" class="btn_1 full-width cart">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /box_cart -->

    </main>
    <!--/main-->

    <script>
        {#    之后移动到Cart.js   #}

        function count_change(id) {
            let id_for_number = "#quantity-" + id;
            let id_for_price = "#price-" + id;
            let id_for_total = "#total-" + id;
            let total = parseFloat($(id_for_number).val()) * parseFloat($(id_for_price).val())
            console.log("count total for item", total)
            $(id_for_total).val(total);
        }

        function count_change_add(id) {
            let id_for_number = "#quantity-" + id;
            let id_for_price = "#price-" + id;
            let id_for_total = "#total-" + id;
            let total = (parseFloat($(id_for_number).val()) + 1) * parseFloat($(id_for_price).val())
            console.log("count total for item", total)
            $(id_for_total).val(total);
        }

        function count_change_minus(id) {
            let id_for_number = "#quantity-" + id;
            let id_for_price = "#price-" + id;
            let id_for_total = "#total-" + id;
            let total = 0;
            if (parseFloat($(id_for_number).val()) > 1) {
                total = (parseFloat($(id_for_number).val()) - 1) * parseFloat($(id_for_price).val());
            } else {
                total = 0;
            }
            console.log("count total for item", total)
            $(id_for_total).val(parseFloat(String(total)));
        }

        function remove_cart_item(id) {
            {#let id = this.id;#}
            console.log("delete", id);
            $.ajax({
                url: "/api/cart/" + id + "/",
                method: "DELETE",
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (res) {
                    let id_for_delete = "#cart-" + id;
                    $(id_for_delete).remove();
                },
                error: function (res) {
                    console.log("ji", id, res);
                }
            })
        }
    </script>
{% endblock %}

{% block foot_link %}

    <script src="{% static 'js/cart.js' %}"></script>

{% endblock %}
