{#{% extends 'layouts/default/page.html' %}#}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}

    <!-- Favicons -->
    <link href="{% static "assets/img_for_shop/img_for_company_profile/favicon.png" %}" rel="icon">
    <link href="{% static "assets/img_for_shop/img_for_company_profile/apple-touch-icon.png" %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static "assets/vendor/vendor_for_company_profile/aos/aos.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/bootstrap/css/bootstrap.min.css" %}"
          rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/bootstrap-icons/bootstrap-icons.css" %}"
          rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/glightbox/css/glightbox.min.css" %}"
          rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/vendor_for_company_profile/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static "assets/css_for_shop/css_for_company_profile/style.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "assets/js_for_homepage/jquery-1.12.0.min.js" %}"></script>
    <script src="{% static "assets/js/hullabaloo.js" %}"></script>

    <!-- =======================================================
    * Template Name: Gp - v4.7.0
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
{% endblock %}

{% block content %}

    {#    <!-- ======= Header ======= -->#}
    {#    <header id="header" class="fixed-top ">#}
    {#        <div class="container d-flex align-items-center justify-content-lg-between">#}
    {##}
    {#            <h1 class="logo me-auto me-lg-0"><a href="index.html"><span>{% trans "Gp." %}</span></a></h1>#}
    {#            <!-- Uncomment below if you prefer to use an image logo -->#}
    {#            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->#}
    {##}
    {#            <nav id="navbar" class="navbar order-last order-lg-0">#}
    {#                <ul>#}
    {#                    <li><a class="nav-link scrollto active" href="#hero">{% trans "Home" %}</a></li>#}
    {#                    <li><a class="nav-link scrollto" href="#about">{% trans "About" %}</a></li>#}
    {#                    <li><a class="nav-link scrollto" href="#services">{% trans "Services" %}</a></li>#}
    {#                    <li><a class="nav-link scrollto " href="#portfolio">{% trans "Portfolio" %}</a></li>#}
    {#                    <li><a class="nav-link scrollto" href="#team">{% trans "Team" %}</a></li>#}
    {#                    <li class="dropdown"><a href="#"><span>{% trans "Drop Down</span> " %}<i class="bi bi-chevron-down"></i></a>#}
    {#                        <ul>#}
    {#                            <li><a href="#">{% trans "Drop Down 1" %}</a></li>#}
    {#                            <li class="dropdown"><a href="#"><span>{% trans "Deep Drop Down</span> " %}<i#}
    {#                                    class="bi bi-chevron-right"></i></a>#}
    {#                                <ul>#}
    {#                                    <li><a href="#">{% trans "Deep Drop Down 1" %}</a></li>#}
    {#                                    <li><a href="#">{% trans "Deep Drop Down 2" %}</a></li>#}
    {#                                    <li><a href="#">{% trans "Deep Drop Down 3" %}</a></li>#}
    {#                                    <li><a href="#">{% trans "Deep Drop Down 4" %}</a></li>#}
    {#                                    <li><a href="#">{% trans "Deep Drop Down 5" %}</a></li>#}
    {#                                </ul>#}
    {#                            </li>#}
    {#                            <li><a href="#">{% trans "Drop Down 2" %}</a></li>#}
    {#                            <li><a href="#">{% trans "Drop Down 3" %}</a></li>#}
    {#                            <li><a href="#">{% trans "Drop Down 4" %}</a></li>#}
    {#                        </ul>#}
    {#                    </li>#}
    {#                    <li><a class="nav-link scrollto" href="#contact">{% trans "Contact" %}</a></li>#}
    {#                </ul>#}
    {#                <i class="bi bi-list mobile-nav-toggle"></i>#}
    {#            </nav><!-- .navbar -->#}
    {##}
    {#            <a href="#about" class="get-started-btn scrollto">{% trans "Get Started" %}</a>#}
    {##}
    {#        </div>#}
    {#    </header><!-- End Header -->#}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1><span>{% trans "Melodious Instruments Shop ." %}</span></h1>
                    <h2>{% trans "We are team of talented instruments sellers" %}</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line"></i>
                        <h3><a href="">{% trans "3D" %} <br>{% trans "Preview" %}</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line"></i>
                        <h3><a href="">{% trans "3D Customization" %}</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line"></i>
                        <h3><a href="">{% trans "Image Retrieval" %}</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line"></i>
                        <h3><a href="">{% trans "AI Customer Service" %}</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-database-2-line"></i>
                        <h3><a href="">{% trans "Chinese Instruments" %}</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{% static "assets/img_for_shop/img_for_company_profile/team.png" %}" class="img-fluid"
                             alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                         data-aos-delay="100">
                        <h3>{% trans "Shift from brick-and-mortar retail to e-commerce" %}</h3>
                        <p class="fst-italic">{% trans "This is a Melodious Instruments Shop that was " %}<strong>{% trans "run in physical business by a family previously" %}</strong>.
                        </p>
                        <ul>
                            <li>
                                <i class="ri-check-double-line"></i>{% trans "Firstly, our store has essential functions for online shopping" %}
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>{% trans "To give customers immersive shopping experience, our project employs the usage of 3D instruments preview and instruments playing games in our website." %}
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>{% trans "Our shop is original in allowing customers to interact with 3D models to customise their preferred instruments, which have not gained much prevalence in current e-commerce." %}
                            </li>
                        </ul>
                        <p>{% trans "In the context of the pandemic, the family-owned instruments local shop was forced to close their physical business and is now anticipating" %}
                            <strong>{% trans "e-commerce as a auxiliary or alternative sales channel." %}</strong></p>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <!-- ======= Clients Section ======= -->
        {#        <section id="clients" class="clients">#}
        {#            <div class="container" data-aos="zoom-in">#}
        {##}
        {#                <div class="clients-slider swiper">#}
        {#                    <div class="swiper-wrapper align-items-center">#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-1.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-2.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-3.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-4.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-5.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-6.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-7.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                        <div class="swiper-slide"><img src="{% static "assets/img_for_shop/img_for_company_profile/clients/client-8.png" %}" class="img-fluid" alt="">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="swiper-pagination"></div>#}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#        </section><!-- End Clients Section -->#}

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="image col-lg-6"
                         style='background-image: url("{% static "assets/img_for_shop/img_for_company_profile/about1.webp" %}");'
                         data-aos="fade-right"></div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>{% trans "Quick Communication Response" %}</h4>
                            <p>{% trans "Do you want to communicate with AI customer service?" %}</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-cube-alt"></i>
                            <h4>{% trans "Search for Instruments Using Image Retrieval" %}</h4>
                            <p>{% trans "Do you want to search for instruments using images?" %}</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-images"></i>
                            <h4>{% trans "Predict Future Sales" %}</h4>
                            <p>{% trans "Do you want to ajust shopping strategies smartly?" %}</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-shield"></i>
                            <h4>{% trans "Join Us and Start Shopping Now" %}</h4>
                            <p>{% trans "Do you want to join in our instruments online shop and embark on an immersive shopping journey?" %}</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{% trans "Services" %}</h2>
                    <p>{% trans "Check our Services" %}</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">{% trans "Preview 3D Instruments" %}</a></h4>
                            <p>{% trans "You can view instruments in 3D forms," %}<br>{% trans "giving you a more comprehensive about the instruments." %}
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                         data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">{% trans "Customize 3D Instruments" %}</a></h4>
                            <p>{% trans "You can customize your preferred 3D instruments, better catering to your preferences." %}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">{% trans "Smart Instruments Recognition" %}</a></h4>
                            <p>{% trans "Our store can better identify your preferred instruments " %}<br>{% trans "by using advanced technologies." %}
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                         data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a href="">{% trans "Playing Instruments Games" %}</a></h4>
                            <p>{% trans "You can have immersive shopping experience by playing instruments online." %}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                         data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-slideshow"></i></div>
                            <h4><a href="">{% trans "Ordering and Delivery" %}</a></h4>
                            <p>{% trans "You can order your desired instruments. We will deliver it to you as soon as possible." %}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                         data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-arch"></i></div>
                            <h4><a href="">{% trans "Cultural Communication" %}</a></h4>
                            <p>{% trans "Our store specially designed Chinese instruments zone and Western instruments zone, " %}<br>{% trans "facilitating the communication between different cultures." %}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h3>{% trans "Shop Online Now" %}</h3>
                    <p>{% trans "In the context of the pandemic, the family-owned instruments local shop was forced to close their physical business and is now anticipating " %}<strong>{% trans "e-commerce as a auxiliary or alternative sales channel." %}</strong>
                    </p>
                    <a class="cta-btn" href="#">{% trans "Shop Online Now" %}</a>
                </div>

            </div>
            {% trans "features" %}
        </section><!-- End Cta Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{% trans "Portfolio" %}</h2>
                    <p>{% trans "Check our Portfolio" %}</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">{% trans "All" %}</li>
                            <li data-filter=".filter-app">{% trans "Chinese" %}</li>
                            <li data-filter=".filter-card">{% trans "Western" %}</li>
                            {#                            <li data-filter=".filter-web">{% trans "Piano" %}</li>#}
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/about1.webp" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App 1" %}</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="assets/img_for_shop/img_for_company_profile/about1.webp"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port1.webp" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web 3" %}</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port1.webp" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port2.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App 2" %}</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port2.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port4.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card 2" %}</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port4.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port9.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web 2" %}</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port9.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port5.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "App 3" %}</h4>
                                <p>{% trans "App" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port5.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port6.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card 1" %}</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port6.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port7.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Card 3" %}</h4>
                                <p>{% trans "Card" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port7.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port8.png" %}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{% trans "Web 3" %}</h4>
                                <p>{% trans "Web" %}</p>
                                <div class="portfolio-links">
                                    <a href="{% static "assets/img_for_shop/img_for_company_profile/portfolio/port8.png" %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                         data-aos="fade-right" data-aos-delay="100"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
                         data-aos-delay="100">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3>{% trans "Adroit Design, Technical, Operation Team" %}</h3>
                            <p>{% trans "Our team members are equipped with abilities to provide your a satisfied shopping experience." %}</p>
                            <div class="row">
                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-emoji-smile"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="65"
                                              data-purecounter-duration="2" class="purecounter"></span>
                                        <p>
                                            <strong>{% trans "Happy Clients" %}</strong>{% trans "many consumers give positive feedback to our store" %}
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-journal-richtext"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="85"
                                              data-purecounter-duration="2" class="purecounter"></span>
                                        <p>
                                            <strong>{% trans "Modernization" %}</strong>{% trans "adapt the physical business to e-commerce" %}
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-clock"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="35"
                                              data-purecounter-duration="4" class="purecounter"></span>
                                        <p>
                                            <strong>{% trans "Years of experience" %}</strong>{% trans "our family-owned instruments store has been run for several years" %}
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-award"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="20"
                                              data-purecounter-duration="4" class="purecounter"></span>
                                        <p>
                                            <strong>{% trans "Originality" %}</strong>{% trans "to better cater to users' needs, our store employ new features that are unprecedented in physical store and e-commerce to make it more appealing to customers." %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-1.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Wang Yuyang" %}</h3>
                                <h4>{% trans "Ceo &amp; Founder" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% trans "I inherited this instruments from my grandparents. It suffers a lot during the pandemic. But now we are moving it online to make it accessible to our potential customers." %}<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-2.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Yang Liuxin" %}</h3>
                                <h4>{% trans "Designer" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% trans "I am responsible for the online operations of our instruments selling store. I hope such a illustrious retail could survive the pandemic and even attract more customers." %}<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-3.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Zhan Yi" %}</h3>
                                <h4>{% trans "Store Owner" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% trans "I am the manager of the online instruments store. I shoulder the responsibility of deciding the long-term strategies." %}<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-4.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Weng Han" %}</h3>
                                <h4>{% trans "Freelancer" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% trans "I am a recruiter of the instruments store. The highly respected store hires me to incorporate the 3D elements into our e-commerce to make it more attractive." %}<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-5.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Ma Zixiao" %}</h3>
                                <h4>{% trans "Entrepreneur" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>{% trans "I am the receptionist of the website. I will recommend instruments to you based on your preferences. If you have any questions or requests, please contact me freely." %}<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/testimonials/testimonials-5.jpg" %}"
                                     class="testimonial-img" alt="">
                                <h3>{% trans "Chen Zheyu" %}</h3>
                                <h4>{% trans "Entrepreneur" %}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{% trans "Team" %}</h2>
                    <p>{% trans "Check our Team" %}</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/team/team-1.jpg" %}"
                                     class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{% trans "Walter White" %}</h4>
                                <span>{% trans "Chief Executive Officer" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/team/team-2.jpg" %}"
                                     class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{% trans "Sarah Jhonson" %}</h4>
                                <span>{% trans "Product Manager" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/team/team-3.jpg" %}"
                                     class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{% trans "William Anderson" %}</h4>
                                <span>{% trans "CTO" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-img">
                                <img src="{% static "assets/img_for_shop/img_for_company_profile/team/team-4.jpg" %}"
                                     class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{% trans "Amanda Jepson" %}</h4>
                                <span>{% trans "Accountant" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{% trans "Contact" %}</h2>
                    <p>{% trans "Contact Us" %}</p>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5202.01908883197!2d116.4775530799805!3d39.873569410996495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1ad88130ee509%3A0x3c39da0827e646e8!2sBeijing%20University%20of%20Technology!5e0!3m2!1sen!2shk!4v1651822769705!5m2!1sen!2shk"
                            frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>{% trans "Location:" %}</h4>
                                <p>{% trans "Beijing University of Technology, Pingleyuan 100, Beijing" %}</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>{% trans "Email:" %}</h4>
                                <p>{% trans "yuyang.wang@ucdconnect.ie" %}</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>{% trans "Call:" %}</h4>
                                <p>{% trans "18225658312" %}</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form method="post" role="form" class="php-email-form"
                              id="company_message_form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">{% trans "Loading" %}</div>
                                <div class="error-message"></div>
                                <div class="sent-message">{% trans "Your message has been sent. Thank you!" %}</div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="send_button">{% trans "Send Message" %}</button>
                            </div>
                        </form>

                        <script>
                            $("#company_message_form").on("submit", function () {
                                let formData = new FormData(document.getElementById("company_message_form"));

                                $.ajax({
                                    url: "/api/send_company_message/",
                                    method: 'POST',
                                    data: formData,
                                    async: true,
                                    contentType: false,
                                    processData: false,
                                    headers: {
                                        'X-CSRFTOKEN': '{{ csrf_token }}'
                                    },
                                    success: function (res) {
                                        let code = res["code"];
                                        if (code === 100) {
                                            setTimeout(function () {
                                                let hulla = new hullabaloo();
                                                hulla.send("Send successfully!", "success");
                                            }, 300);
                                        } else if (code === 200) {
                                            setTimeout(function () {
                                                let hulla = new hullabaloo();
                                                hulla.send("Error!", "warning");
                                            }, 300);
                                        }
                                    },
                                    error: function () {
                                        alert('Error! Check console!');
                                    }

                                });
                                return false;
                            });
                        </script>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    {#  <script src="assets/vendor/purecounter/purecounter.js"></script>#}
    {#  <script src="assets/vendor/aos/aos.js"></script>#}
    {#  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    {#  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>#}
    {#  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>#}
    {#  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>#}
    {#  <script src="assets/vendor/php-email-form/validate.js"></script>#}
    {##}
    {#  <!-- Template Main JS File -->#}
    {#  <script src="assets/js/main.js"></script>#}

{% endblock %}

{% block foot_link %}
    {#    <script src="assets/vendor/purecounter/purecounter.js"></script>#}
    {#    <script src="assets/vendor/aos/aos.js"></script>#}
    {#    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    {#    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>#}
    {#    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>#}
    {#    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>#}
    {#    <script src="assets/vendor/php-email-form/validate.js"></script>#}
    {##}
    {#    <!-- Template Main JS File -->#}
    {#    <script src="assets/js/main.js"></script>#}
    <script src="{% static "assets/vendor/vendor_for_company_profile/purecounter/purecounter.js" %}"></script>
    <script src="{% static "assets/vendor/vendor_for_company_profile/aos/aos.js" %}"></script>
    <script src="{% static "assets/vendor/vendor_for_company_profile/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "assets/vendor/vendor_for_company_profile/glightbox/js/glightbox.min.js" %}"></script>
    <script src="{% static "assets/vendor/vendor_for_company_profile/isotope-layout/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "assets/vendor/vendor_for_company_profile/swiper/swiper-bundle.min.js" %}"></script>
    {#    <script src="{% static "assets/vendor/vendor_for_company_profile/php-email-form/validate.js" %}"></script>#}

    <!-- Template Main JS File -->
    <script src="{% static "assets/js_for_shop/js_for_companu_profile/main.js" %}"></script>

{% endblock %}
