<div class="audio_player">
    <!-- js handle -->
</div>
<div class="center_box">
    {#  <h2> Piano </h2>#}
    <div class="keyboard">
        <div class="piano_key">
            <!-- js handle -->
        </div>
    </div>
    <br/>
    <div class="controls">
        <ul class="notes_list">
            <!-- js handle -->
        </ul>
        <button class="piano-button" onclick="load_sample1()">Sample</button>
        <button class="piano-button" onclick="load_sample2()">Sample2</button>
        <button class="piano-button" onclick="start_play()">Start play<i class="fa fa-play"></i></button>
        <button class="piano-button" onclick="start_play()">Stop play<i class="fa fa-pause"></i></button>
    </div>
</div>
