{% load static %}
<div class="audio_player">
    <!-- js handle -->
</div>
<div class="center_box">
    {#  <h2> Piano </h2>#}
    <div class="keyboard">
        <div class="piano_key">
            <!-- js handle -->
        </div>
    </div>
    <br/>
    <div class="controls">
        <ul class="notes_list">
            <!-- js handle -->
        </ul>
        <button class="piano-button" onclick="load_sample1()">Sample</button>
        <button class="piano-button" onclick="load_sample2()">Sample2</button>
        <button class="piano-button show-style-piano " onclick="start_play()">Start play<i class="fa fa-play"></i>
        </button>
        <button class="piano-button show-style-piano wrapper-hidden" onclick="stop_play()">Stop play<i
                class="fa fa-pause"></i></button>
    </div>
</div>
<link href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/js_for_game/game_piano.css' %}" rel="stylesheet">
<script src="{% static 'assets/js_for_game/game_piano.js' %}"></script>