{% load i18n %}
{% load static %}

<!--
design by: https://www.behance.net/vahanhovh
-->
<div class="notes" style="position: absolute;left: 23%;">
    <div class="note" data-note="0">
        <div>G<span>4</span></div>
    </div>
    <div class="note key" data-note="1">
        <div>A<span>4</span></div>
    </div>
    <div class="note" data-note="2">
        <div>C<span>5</span></div>
    </div>
    <div class="note" data-note="3">
        <div>D<span>5</span></div>
    </div>
    <div class="note" data-note="4">
        <div>E<span>5</span></div>
    </div>
    <div class="note" data-note="5">
        <div>G<span>5</span></div>
    </div>
    <div class="note key" data-note="6">
        <div>A<span>5</span></div>
    </div>
    <div class="note" data-note="7">
        <div>C<span>6</span></div>
    </div>
    <div class="note" data-note="8">
        <div>D<span>6</span></div>
    </div>
    <div class="note" data-note="9">
        <div>D<span>#6</span></div>
    </div>
    <div class="note" data-note="10">
        <div>E<span>6</span></div>
    </div>
    <div class="note" data-note="11">
        <div>G<span>6</span></div>
    </div>
    <div class="note key" data-note="12">
        <div>A<span>6</span></div>
    </div>
    <div class="note" data-note="13">
        <div>C<span>7</span></div>
    </div>
    <div class="note" data-note="14">
        <div>D<span>7</span></div>
    </div>
</div>

<div class="guitar">
    <div class="circle"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/guitar.png" alt="">
</div>

<div class="guitar_center_box">
    <button class="guitar-button" onclick="load_guitar_example1()">{% trans "Sample" %}</button>
    <button class="guitar-button" onclick="load_guitar_example2()">{% trans "Sample2" %}</button>
    <button class="guitar-button play-icon show-style-guitar " onclick="play_start()">{% trans "Start play" %}<i class="fa fa-play"></i>
    </button>
    <button class="guitar-button pause-icon show-style-guitar wrapper-hidden" onclick="play_stop()">{% trans "Stop play" %}<i class="fa fa-pause"></i>
    </button>

</div>
<audio class="guitar-audio-player" id="guitar-audio-1"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Shuffle_A.mp3"></audio>


<link href="{% static 'assets/js_for_game/game_guitar.css' %}" rel="stylesheet">