{% extends 'layouts/default/shopper_base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/owl.carousel.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/owl.theme.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/style.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/responsive.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/jquery.mCustomScrollbar.css" %}"/>
    <link href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <style>
        .wrapper-hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="content">
        <div class="content-top">
            <div class="container">


                <div class=" text-left box-info box-info-1606671744b1519c3f-1"
                     style="margin-bottom: 26%; margin-top: 10%;">
                    <div class="box-title1 box-title1-1606671744b1519c3f-1  animated">

                        <h3 class="title-small mb-0" style="color:#ffffff;">STYLE DESTINATION</h3>

                    </div>
                    <div class="box-title box-title-1606671744b1519c3f-1 animated">

                        <h3 class="titlebig mb-0"
                            style="color:#ffffff; line-height: 1;margin-top: 0; margin-bottom: 0;">Starter Drum Kit</h3>

                    </div>
                    <div class="box-title2 box-title2-1606671744b1519c3f-1  animated">

                        <h3 class="title-small mb-0" style="color:#ffffff;">Stunning appearance, both inside and
                            out</h3>

                    </div>

                    <a class="button-main2 button-shop-1606671744b1519c3f-1  animated" href="/collections/all"
                       style="color:#ffffff; border-color : #ffffff; margin-top: 4%;" tabindex="0">
                        SHOP NOW
                    </a>

                </div>


                <div class="banner-box-adv">
                    <button onclick="active3DShowing()"> 3d model show</button>
                    {#                    <div class="row">#}
                    {#                        {% for i in two %}#}
                    {#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
                    {#                                <div class="inner-box-banner-adv odd bottom-right">#}
                    {#                                    <a href="#" class="banner-adv-thumb-link"><img#}
                    {#                                            src="{% static 'assets/images/home_1/ad_01.png' %}" alt=""/></a>#}
                    {#                                    <div class="text-adv-intro">#}
                    {#                                        <h2>Men’s</h2>#}
                    {#                                        <h3>Collection</h3>#}
                    {#                                    </div>#}
                    {#                                    <div class="box-search-adv">#}
                    {##}
                    {#                                    </div>#}
                    {#                                    <a href="#" class="box-search-adv-link"><i class="fa fa-search"></i></a>#}
                    {#                                    <div class="text-adv-hidden">#}
                    {#                                        <p>Many students are cash conteos</p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="height: 600px;">
                            <div class="inner-box-banner-adv odd bottom-right">
                                <img class="show-style"
                                     src="{% static 'assets/detail_model/homepage/homepage_model_left.jpg' %}" alt=""/>

                                <div class="model-wrapper-left model-wrapper-control wrapper-hidden show-style">
                                </div>

                                <div class="text-adv-intro">
                                    <h2>Men’s</h2>
                                    <h3>Collection</h3>
                                </div>
                                <div class="box-search-adv">

                                </div>
                                <a href="#" class="box-search-adv-link"><i class="fa fa-search"></i></a>
                                <div class="text-adv-hidden">
                                    <p>Many students are cash conteos</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12" style="height: 600px;">
                            <div class="inner-box-banner-adv odd bottom-right">
                                <img class="show-style"
                                     src="{% static 'assets/detail_model/homepage/homepage_model_right.jpg' %}" alt=""/>
                                <div class="model-wrapper-right model-wrapper-control wrapper-hidden show-style">
                                </div>
                                <div class="text-adv-intro">
                                    <h2>Men’s</h2>
                                    <h3>Collection</h3>
                                </div>
                                <div class="box-search-adv">

                                </div>
                                <a href="#" class="box-search-adv-link"><i class="fa fa-search"></i></a>
                                <div class="text-adv-hidden">
                                    <p>Many students are cash conteos</p>
                                </div>
                            </div>
                        </div>


                        {#                        {% for i in two %}#}
                        {#                            <div class="col-md-6 col-sm-6 col-xs-12">#}
                        {#                                <div class="inner-box-banner-adv odd bottom-right">#}
                        {#                                    <a href="#" class="banner-adv-thumb-link"><img#}
                        {#                                            src="{% static 'assets/images/home_1/ad_02.png' %}" alt=""/></a>#}
                        {#                                    <div class="text-adv-intro">#}
                        {#                                        <h2>Men’s</h2>#}
                        {#                                        <h3>Collection</h3>#}
                        {#                                    </div>#}
                        {#                                    <div class="box-search-adv">#}
                        {##}
                        {#                                    </div>#}
                        {#                                    <a href="#" class="box-search-adv-link"><i class="fa fa-search"></i></a>#}
                        {#                                    <div class="text-adv-hidden">#}
                        {#                                        <p>Many students are cash conteos</p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        {% endfor %}#}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Top -->
        <div class="new-arrival-product">
            <div class="container">
                <div class="title-box-default">
                    <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
                    <span class="title-tab">New Arrivals</span>
                    <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- End Title Slider -->
                <div class="content-product-slider">
                    <div class="wrap-item">
                        <div class="item">
                            <div class="row">
                                {% for i in eight %}
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="item-product">
                                            <div class="item-thumb-product">
                                                <img src="{% static 'assets/images/product_home1/1.jpg' %}" alt=""
                                                     class="product-thumb-front"/>
                                                <img src="{% static 'assets/images/product_home1/1-1.jpg' %}" alt=""
                                                     class="product-thumb-behind"/>
                                                <div class="info-product-cart">
                                                    <div class="inner-info-product-cart">
                                                        <ul>
                                                            <li><a href="#" class="link-wishlist"><i
                                                                    class="fa fa-heart"></i></a></li>
                                                            <li><a href="#" class="link-quick-view"><i
                                                                    class="fa fa-search"></i></a></li>
                                                            <li><a href="#" class="link-compare"><i
                                                                    class="fa fa-external-link-square"></i></a></li>
                                                        </ul>
                                                        <a href="#" class="link-product-add-cart">Add to cart</a>
                                                    </div>
                                                </div>
                                                <span class="status-product-new">New</span>
                                            </div>
                                            <div class="item-info-product">
                                                <h3><a href="#">Chemise SLimFit</a></h3>
                                                <div class="info-product-price">
                                                    <span>$45.99</span>
                                                    <del>$69.71</del>
                                                </div>
                                                <div class="product-rating-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="item">
                            <div class="row">
                                {% for i in eight %}
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="item-product">
                                            <div class="item-thumb-product">
                                                <img src="{% static 'assets/images/product_home1/9.jpg' %}" alt=""
                                                     class="product-thumb-front"/>
                                                <img src="{% static 'assets/images/product_home1/9-9.jpg' %}" alt=""
                                                     class="product-thumb-behind"/>
                                                <div class="info-product-cart">
                                                    <div class="inner-info-product-cart">
                                                        <ul>
                                                            <li><a href="#" class="link-wishlist"><i
                                                                    class="fa fa-heart"></i></a></li>
                                                            <li><a href="#" class="link-quick-view"><i
                                                                    class="fa fa-search"></i></a></li>
                                                            <li><a href="#" class="link-compare"><i
                                                                    class="fa fa-external-link-square"></i></a></li>
                                                        </ul>
                                                        <a href="#" class="link-product-add-cart">Add to cart</a>
                                                    </div>
                                                </div>
                                                <span class="status-product-new">New</span>
                                            </div>
                                            <div class="item-info-product">
                                                <h3><a href="#">Chemise SLimFit</a></h3>
                                                <div class="info-product-price">
                                                    <span>$45.99</span>
                                                    <del>$69.71</del>
                                                </div>
                                                <div class="product-rating-star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content Slider Product -->
            </div>
        </div>
        <!-- End New Arrival Product -->
        <div class="banner-grid-adv">
            <div class="clearfix">
                <div class="banner-grid-left">
                    {% for i in three %}
                        <div class="wrap-grid-adv-box clearfix">
                            <div class="grid-image-box">
                                <a href="#"><img src="{% static 'assets/images/home_1/ad_05.png' %}" alt=""/></a>
                            </div>
                            <div class="grid-text-box gray-box">
                                <div class="inner-grid-text-box">
                                    <h3>Women’s</h3>
                                    <h2>Live style</h2>
                                    <h3>Danlien Polosa</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="banner-grid-right">
                    <div class="grid-image-box">
                        <a href="#"><img src="{% static 'assets/images/home_1/ad_08.png' %}" alt=""/></a>
                    </div>
                    <div class="grid-text-box active">
                        <div class="inner-grid-text-box">
                            <h3>Collection</h3>
                            <h2>Jewerly</h2>
                            <h3>For Girl</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Grid Adv -->
        <div class="new-arrival-product">
            <div class="container">
                <div class="title-box-default">
                    <a href="#" class="prev-new-arrival"><i class="fa fa-arrow-circle-left"></i></a>
                    <ul class="list-inline list-title-tab nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#popular" aria-controls="popular" role="tab"
                                                                  data-toggle="tab">POPULAR</a></li>
                        <li role="presentation"><a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">BEST
                            SELLERS</a></li>
                        <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIALS</a>
                        </li>
                    </ul>
                    <a href="#" class="next-new-arrival"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- End Title Slider -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="popular">
                        <div class="content-product-slider">
                            <div class="wrap-item">
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/1.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/1-1.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                        <span class="status-product-new">New</span>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- End Item -->
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/21.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/21-21.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                        <span class="status-product-new">New</span>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Slider Product -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="seller">
                        <div class="content-product-slider">
                            <div class="wrap-item">
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/9.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/9-9.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                        <span class="status-product-new">New</span>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- End Item -->
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/18-18.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/18-18.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Content Slider Product -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="special">
                        <div class="content-product-slider">
                            <div class="wrap-item">
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/18-18.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/18-18.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        {% for i in eight %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="item-product">
                                                    <div class="item-thumb-product">
                                                        <img src="{% static 'assets/images/product_home1/18.jpg' %}"
                                                             alt="" class="product-thumb-front"/>
                                                        <img src="{% static 'assets/images/product_home1/18-18.jpg' %}"
                                                             alt="" class="product-thumb-behind"/>
                                                        <div class="info-product-cart">
                                                            <div class="inner-info-product-cart">
                                                                <ul>
                                                                    <li><a href="#" class="link-wishlist"><i
                                                                            class="fa fa-heart"></i></a></li>
                                                                    <li><a href="#" class="link-quick-view"><i
                                                                            class="fa fa-search"></i></a></li>
                                                                    <li><a href="#" class="link-compare"><i
                                                                            class="fa fa-external-link-square"></i></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" class="link-product-add-cart">Add to
                                                                    cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info-product">
                                                        <h3><a href="#">Chemise SLimFit</a></h3>
                                                        <div class="info-product-price">
                                                            <span>$45.99</span>
                                                            <del>$69.71</del>
                                                        </div>
                                                        <div class="product-rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- End Item -->
                            </div>
                        </div>
                        <!-- End Content Slider Product -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Product Tab -->
        <div class="news-scroll">
            <div class="container">
                <h2 class="title-news-scroll">latest news</h2>
                <div class="content-news-scroll">
                    <div class="row">
                        {% for i in eight %}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="{% if forloop.counter0|divisibleby:2 %}item-left{% else %}item-right{% endif %}">
                                    <div class="item-news">
                                        <div class="item-news-thumb">
                                            <div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span>
                                            </div>
                                            <a href="#" class="news-thumb-link">
                                                <img src="{% static 'assets/images/home_2/news3.png' %}" alt=""/>
                                            </a>
                                        </div>
                                        <div class="item-news-info">
                                            <h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut
                                                labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
                                            <span>Jane Doe - Stylish Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End News Scroll -->
        <div class="category-leading">
            <div class="container">
                <div class="thumb-category-leading">
                    <a href="#"><img alt="" src="{% static 'assets/images/product_home1/10.jpg' %}"></a>
                    <div class="text-category-leading">
                        <span>New</span>
                        <h2>Collection</h2>
                    </div>
                </div>
                <div class="content-category-leading">
                    {% for i in ten %}
                        <div class="item-product-category-leading">
                            <div class="item-thumb-product">
                                <a class="product-thumb-link" href="#">
                                    <img alt="" src="{% static 'assets/images/product_home1/1.jpg' %}">
                                </a>
                                <div class="leading-info-product-cart">
                                    <a class="product-thumb-link" href="#">
                                        <img alt="" src="{% static 'assets/images/product_home1/1-1.jpg' %}">
                                    </a>
                                    <div class="info-product-cart">
                                        <div class="inner-info-product-cart">
                                            <ul>
                                                <li><a class="link-wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                </li>
                                                <li><a class="link-quick-view" href="#"><i class="fa fa-search"></i></a>
                                                </li>
                                                <li><a class="link-compare" href="#"><i
                                                        class="fa fa-external-link-square"></i></a></li>
                                            </ul>
                                            <a class="link-product-add-cart" href="#">Add to cart</a>
                                            <div class="info-product-price">
                                                <span>$489.99</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Category Leading -->
        <div class="custom-services">
            <div class="container">
                <div class="title-box-default">
                    <h2><span class="title-tab">custom services</span></h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>idea Design</h3>
                            <a href="#" class="item-service-link"><img
                                    src="{% static 'assets/images/home_1/icon_pen.png' %}" alt=""/></a>
                            <p>Proin dignissim commodo velit a venenatis. Pellentesque mollis faucibus posuere Casy
                                yoleacene anritv antacus.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>Confection</h3>
                            <a href="#" class="item-service-link"><img
                                    src="{% static 'assets/images/home_1/icon_keo.png' %}" alt=""/></a>
                            <p>Aliquam erat voltpatis aturp nteger rutrum kerdele rtanuty mu myatrsas detyuasirtase.
                                Santac us uisque nuaderas</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>Confection</h3>
                            <a href="#" class="item-service-link"><img
                                    src="{% static 'assets/images/home_1/icon_camera.png' %}" alt=""/></a>
                            <p>Fatis acaturp liquam eravoltp nteger rutrum kerua delertas nuty myatrsas detyuas.
                                Santacus isque nulladeras. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Custom Services -->
        <div class="from-our-blog">
            <div class="container">
                <div class="title-box-default white-arrow-style">
                    <h2><span class="title-tab">FROM OUR BLOG</span></h2>
                </div>
                <div class="row">
                    {% for i in six %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="item-our-blog">
                                <div class="our-blog-thumb">
                                    <a href="#">
                                        <img src="{% static 'assets/images/home_1/blog/blog1.png' %}" alt=""/>
                                    </a>
                                </div>
                                <div class="our-blog-info">
                                    <div class="inner-our-blog-info">
                                        <span>Jun 23 2014</span>
                                        <h3><a href="#">Cupidatat none proident amet</a></h3>
                                        <span>9 Comments</span>
                                        <div class="post-extra-link">
                                            <a href="#"><img src="{% static 'assets/images/home_1/icon-search.png' %}"
                                                             alt=""/></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End From our blog -->
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function active3DShowing() {
            $(".show-style").toggle("wrapper-hidden");
        }
    </script>
    <script type="text/javascript" src="{% static "assets/js_for_model/three.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js_for_model/GLTFLoader.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js_for_model/FBXLoader.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js_for_model/DDSLoader.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js_for_model/TrackballControls_homepage.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js_for_model/Detector.js" %}"></script>
    <script src="{% static 'assets/js_for_model/model_loader_homepage.js' %}"></script>
{% endblock %}