{% load i18n %}
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="item-product">
        <div class="item-thumb-product"
             onclick="window.location.href = '{% url 'shop:product_details' product_id=instrument.id %}'">
            <img style="width: 100%;height:100%"
                 src="{{ instrument.image.url }}"
                 alt=""
                 class="product-thumb-front"/>
            {% if instrument.image2 %}
                <img style="width: 100%;height:100%"
                     src="{{ instrument.image2.url }}"
                     alt=""
                     class="product-thumb-behind"/>
            {% else %}
                <img style="width: 100%;height:100%"
                     src="{{ instrument.image.url }}"
                     alt=""
                     class="product-thumb-behind"/>
            {% endif %}

            <div class="info-product-cart">
                <div class="inner-info-product-cart">
                    <ul>
                        <li><a href="javascript:void(0)" class="link-wishlist" id="wishlist__{{ instrument.id }}"><i
                                class="fa fa-heart"></i></a></li>
                        <li><a href="{% url 'shop:product_details' product_id=instrument.id %}" class="link-quick-view"><i
                                class="fa fa-search"></i></a></li>
                        <li data-bs-toggle="modal"
                            data-bs-target="#popup-quickview-{{ instrument.id }}">
                            <button
                                    title="Quick View">
                                <i class="fi ti-eye"></i>
                            </button>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="link-product-add-cart" id="cart__{{ instrument.id }}">Add to
                        cart</a>
                </div>
            </div>
            {% if  instrument.object_gltf != "" %}
                <span class="status-product-new" style="width: 12%;">
                    3D
                <img style="width: 100%;padding-bottom: 5px;" id="3d-icon"
                     src="/static/assets/img_for_shop/3d-icon.png"></span>
            {% endif %}
            <figure style="background : #e12c43; color: #ffffff" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{% widthratio instrument.old_price 1 -1 as minus %}{% widthratio instrument.price|add:minus instrument.old_price 100 %}%</span>
            </figure>
        </div>
        <div class="item-info-product">
            <h3>
                <a href="{% url 'shop:product_details' product_id=instrument.id %}">{{ instrument.name }}</a>
            </h3>
            <div class="info-product-price">
                <span>${{ instrument.price }}</span>
                <del>${{ instrument.old_price }}</del>
            </div>
            <div class="product-rating-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
    </div>
</div>
