{% extends 'layouts/default/shopper_base2.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %} <title>{% trans "MusicMo" %}</title> {% endblock %}
{% block style %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/owl.carousel.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/owl.theme.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/style.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/responsive.css" %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/jquery.mCustomScrollbar.css" %}"/>
    <link href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static "assets/js_for_model/google_font_used.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/themify-icons.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/flaticon.css" %}" rel="stylesheet">
    {#    <link href="{% static "assets/assets_for_bees/css/bootstrap.min.css" %}" rel="stylesheet">#}
    <link href="{% static "assets/assets_for_bees/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/owl.theme.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/slick-theme.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/owl.transitions.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/jquery.fancybox.css" %}" rel="stylesheet">
    <link href="{% static "assets/assets_for_bees/css/style.css" %}" rel="stylesheet">

    <!-- tiny-slider (new Version for owl-slider) -->
    <link rel="stylesheet" href="{% static "assets/js_for_shop/tiny-slider.css" %}">
    <script src="{% static "assets/js_for_shop/tiny-slider.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery-2.1.4.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css_for_homepage/jquery.mCustomScrollbar.css" %}"/>
    <script>

        function preLoadingModels() {
            let xhr1 = new XMLHttpRequest();
            let xhr2 = new XMLHttpRequest();
            let xhr3 = new XMLHttpRequest();
            let xhr4 = new XMLHttpRequest();
            let xhr5 = new XMLHttpRequest();
            let xhr6 = new XMLHttpRequest();
            let xhr7 = new XMLHttpRequest();
            let xhr8 = new XMLHttpRequest();
            let xhr9 = new XMLHttpRequest();

            let xhr10 = new XMLHttpRequest();
            let xhr11 = new XMLHttpRequest();
            let xhr12 = new XMLHttpRequest();
            let xhr13 = new XMLHttpRequest();
            let xhr14 = new XMLHttpRequest();
            let xhr15 = new XMLHttpRequest();
            let xhr16 = new XMLHttpRequest();
            xhr1.open('get', '/static/assets/detail_model/more_detail_model/model_detail_guzheng.glb');
            xhr1.send('');
            xhr2.open('get', '/static/assets/detail_model/more_detail_model/model_detail_pipa.glb');
            xhr2.send('');
            xhr3.open('get', '/static/assets/detail_model/more_detail_model/model_detail_piano2.glb');
            xhr3.send('');
            xhr4.open('get', '/static/assets/detail_model/more_detail_model/model_detail_drumset.glb');
            xhr4.send('');
            xhr5.open('get', '/static/assets/detail_model/more_detail_model/model_detail_guzheng.glb');
            xhr5.send('');
            xhr6.open('get', '/static/assets/detail_model/more_detail_model/model_detail_guitar_sound.glb');
            xhr6.send('');
            xhr7.open('get', "/static/assets/detail_model/more_detail_model/model_detail_guitar12.glb");
            xhr7.send('');
            xhr8.open('get', "https://instrument-model.oss-cn-beijing.aliyuncs.com/model_detail_piano3.glb");
            xhr8.send('');
            xhr9.open('get', "https://instrument-model.oss-cn-beijing.aliyuncs.com/model_detail_piano2.glb");
            xhr9.send('');

            xhr10.open('get', "/static/assets/design_model/model_design_guitar1.gltf");
            xhr10.send('');
            xhr11.open('get', "/static/assets/design_model/model_design_guitar2.gltf");
            xhr11.send('');
            xhr12.open('get', "/static/assets/design_model/model_design_guitar3.gltf");
            xhr12.send('');
            xhr13.open('get', "/static/assets/design_model/model_design_piano1.gltf");
            xhr13.send('');
            xhr14.open('get', "/static/assets/design_model/model_design_piano2.glb");
            xhr14.send('');
            xhr15.open('get', "/static/assets/design_model/model_design_piano3.gltf");
            xhr15.send('');
            xhr16.open('get', "/static/assets/design_model/model_design_guitar1.bin");
            xhr16.send('');
        }

        if ($(window).width() > 767) {
            //Grid Text Box
            $(window).on("load", function () {
                if ($('.content-news-scroll').length > 0) {
                    $(".content-news-scroll").mCustomScrollbar({
                        scrollButtons: {
                            enable: true
                        }
                    });
                }
                let height = $('.grid-image-box').height();
                $('.grid-text-box').height(height);
                $('.grid-text-box').hover(function () {
                    $('.grid-text-box.active').removeClass('active');
                }, function () {
                    $('.grid-text-box').last().addClass('active');
                });
                let height2 = $('.model-video-left').height();
                $(".video-load-1").height(height2);
                $(".video-load-2").height(height2);

                $(".video-load-1").attr('src', "{% static 'assets/detail_model/homepage/homepage_harp.mp4' %}");
                $(".video-load-2").attr('src', "{% static 'assets/detail_model/homepage/homepage_pipa.mp4' %}");
                setTimeout(() => {
                    // 预加载模型
                    preLoadingModels();
                }, 1000);
            })
        }
    </script>
    <style>
        .wrapper-hidden {
            display: none;
        }

        .container-v2 {
        {#margin-top: 4%;#} max-width: 1440px;
        }

        li.item-designer {
            margin: 14px;
        }

        .title-tab {
            font-family: 'Poppins', serif;
        }

        .title-box-default {
            padding-bottom: 25px;
        }
    </style>
    <style>


    </style>

    <style>
        #loading-page {
            z-index: 9999;
            height: 100%;
            width: 100%;
            position: fixed;
            transition: 1s;
        }
    </style>
    <iframe src="/new_header" width="100%" height="100%" name="loading-page" id="loading-page"
            style="">
    </iframe>
    <script>
        //按钮点击时
        {#console.log("search to custom,", window.location.search);#}

        function ScrollToCustom() {
            if (window.location.search === "?target=customize") {
                {#console.log("search to custom,", window.location.search);#}
                window.scrollTo({
                    top: heightToTop(window.document.getElementById('jump_customize')),
                    behavior: 'smooth'
                })
            }
        }

        function looklookLoading() {
            document.getElementById("loading-page").style = "display:block";
            document.getElementById("wrap").style = "display:none";
            if (document.getElementById("iAtlasChatDiv")) {
                document.getElementById("iAtlasChatDiv").style = "display:none";
            }

            function overLoading() {
                console.log("over loading");
                document.getElementById("loading-page").style.opacity = 0;
                setTimeout(function () {
                    document.getElementById("loading-page").style.display = "none";
                }, 1000);
                document.getElementById("wrap").style = "display:block";
                ScrollToCustom();
                {#document.getElementById("iAtlasChatDiv").style = "display:block";#}
                {#document.getElementsByTagName("loading-page").style = "display:none";#}
            }

            setTimeout(() => overLoading(), 6000);

        }

        {#looklookLoading()#}

        {#setTimeout(, 100);#}
    </script>

{% endblock %}
{% block content %}
    <script>
        looklookLoading()
    </script>
    <div id="content">
        <div class="content-top">
            <div class="container">
                <div class="text-left box-info"
                     style="margin-bottom: 16%; margin-top: 10%;">
                    <div class="box-title1 animated">
                        <h3 class="title-small mb-0" style="color:#ffffff;">{% trans "STYLE DESTINATION" %}</h3>
                    </div>
                    <div class="box-title animated">
                        <h3 class="titlebig mb-0"
                            style="color:#ffffff; line-height: 1;margin-top: 0; margin-bottom: 0;">{% trans "Starter Drum Kit" %}</h3>
                    </div>
                    <div class="box-title2 animated">
                        <h3 class="title-small mb-0"
                            style="color:#ffffff;">{% trans 'Stunning appearance, both inside and out' %}</h3>
                    </div>
                    <a class="button-main2 button-shop-1606671744b1519c3f-1  animated"
                       href="{% url 'shop:product_search' %}"
                       style="color:#ffffff; border-color : #ffffff; margin-top: 4%;" tabindex="0">
                        {% trans 'SHOP NOW' %}
                    </a>
                </div>
            </div>
            <div class=" background">
                <div class="container container-model" style="max-width:1452px;">
                    <div class="banner-box-adv" style="margin-top: 33%;">
                        <button id="trigger-video-button" style="position:absolute;z-index:2; display: none"
                                onclick="active3DShowing()"> 3D{% trans "Preview" %}
                        </button>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box-banner-adv odd bottom-left">
                                    <img class="show-style" style="position:absolute;cursor: pointer"
                                         id="model-video-left"
                                         src="{% static 'assets/detail_model/homepage/homepage_model_left.jpg' %}"
                                         alt=""/>
                                    <video loop preload
                                           style="width:100% ;cursor: pointer" class="model-video video-load-1"
                                           src=""></video>
                                    {#                                <div class="text-adv-intro">#}
                                    {#                                    <h2>{% trans "Men’s" %}</h2>#}
                                    {#                                    <h3>{% trans "Collection" %}</h3>#}
                                    {#                                </div>#}
                                    {#                                    <div class="box-search-adv">#}
                                    {#                                    </div>#}
                                    {#                                <a href="#" class="box-search-adv-link"><i class="fa fa-search"></i></a>#}
                                    {#                                    <div class="text-adv-hidden">#}
                                    {#                                        <p class="name">{% trans "HARP" %}</p>#}
                                    {#                                        <p><span>{% trans "Western</span> Musical Instruments section" %}</p>#}
                                    {#                                    </div>#}
                                    <a href="/product_search/?search=western">
                                        <img id="model-video-right" height="250px"
                                             src="{% static 'assets/detail_model/homepage/model-meinv2.jpg' %}"
                                             alt=""/>
                                    </a>
                                    <a href="/product_search/?section=western" type="button" class="btn-toogle-info"
                                       id="btn-left">{% trans "Western Instruments" %}</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12" style="height: 600px;">
                                <div class="inner-box-banner-adv odd bottom-right">
                                    <a href="/product_search/?search=chinese">
                                        <img height="250px" style="  margin-bottom: 10px;"
                                             src="{% static 'assets/detail_model/homepage/model-meinv1.jpg' %}"
                                             alt=""/>
                                    </a>
                                    <img class="show-style"
                                         style="cursor: pointer;position: absolute; top: 260px;left: 0px;z-index: 2"
                                         src="{% static 'assets/detail_model/homepage/homepage_model_right.jpg' %}"
                                         alt=""/>
                                    <video loop preload
                                           style="position: relative;width: 100%;cursor: pointer"
                                           class="model-video video-load-2"
                                           src=""></video>
                                    <a href="/product_search/?section=chinese" type="button" class="btn-toogle-info"
                                       id="btn-center">{% trans "Chinese Instruments" %}</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box-banner-adv odd bottom-left">
                                    <a href="/chinese">
                                        <img
                                                src="{% static 'assets/detail_model/homepage/model-meinv3.jpg' %}"
                                                alt=""/>
                                    </a>
                                    <a href="/chinese" type="button" class="btn-toogle-info"
                                       id="btn-right"><<< {% trans "GO To CHINESE Section" %} >>>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Top -->

        <!--  Begin Products Section Part -->
        <div class="new-arrival-product">
            <div class="container container-v2">
                <div class="title-box-default">
                    <a href="#" class="prev-new-arrival arrow-prev-1"><i class="fa fa-arrow-circle-left"></i></a>
                    <span class="title-tab"><span>{% trans ' Western ' %} &nbsp;</span>{% trans 'Musical Instruments' %}</span>
                    <a href="#" class="next-new-arrival arrow-next-1"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- End Title Slider -->
                <div class="content-product-slider">
                    <div class="owl-demo-chinese">
                        {% for i in western_instruments %}
                            <div class="item">
                                <div class="row">
                                    {% for instrument in i %}
                                        {#                                        {% if forloop.parentloop.counter < 4 %}#}
                                        {% include "shop_templates/homepage-item-list.html" %}
                                        {#                                        {% endif %}#}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Item -->
                        {% endfor %}
                    </div>
                </div>
                <!-- End Content Slider Product -->
            </div>
        </div>
        <div class="new-arrival-product">
            <div class="container container-v2">
                <div class="title-box-default no-back ">
                    <a href="#" class="prev-new-arrival arrow-prev-2"><i class="fa fa-arrow-circle-left"></i></a>
                    <span class="title-tab"><span>{% trans ' CHINESE ' %}   &nbsp;</span>{% trans 'Musical Instruments' %}</span>
                    <a href="#" class="next-new-arrival arrow-next-2"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- End Title Slider -->
                <div class="content-product-slider">
                    <div class="owl-demo-chinese2">
                        {% for i in chinese_instruments %}
                            <div class="item">
                                <div class="row">
                                    {% for instrument in i %}
                                        {#                                                {% if forloop.parentloop.counter < 4 %}#}
                                        {% include "shop_templates/homepage-item-list.html" %}
                                        {#                                                {% endif %}#}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Item -->
                        {% endfor %}
                    </div>
                </div>
                <!-- End Content Slider Product -->
            </div>
        </div>
        <!--  End Products Section Part -->

        <div class="banner-grid-adv" id="jump_customize">
            <div class="clearfix" style="margin-bottom: 63px;margin-top: 100px;">
                <div class="banner-grid-left">
                    <div class="wrap-grid-adv-box clearfix">
                        <div class="grid-image-box">
                            <a href="#">
                                <img class="img-height" src="{% static 'assets/images/home_1/IMG_6512.JPG' %}" alt="">
                            </a>
                        </div>
                        <div class="grid-text-box gray-box" style="height: 329px;">
                            <div class="inner-grid-text-box">
                                <h3>{% trans "Your" %}</h3>
                                <h2>{% trans "Own style" %}</h2>
                                <h3>{% trans "Design Instrument" %}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-grid-adv-box clearfix">
                        <div class="grid-text-box active" style="height: 329px;">
                            <div class="inner-grid-text-box">
                                <h3>{% trans "Try 3D Model" %}</h3>
                                <h2>{% trans "Customize various" %}</h2>
                                <h3>{% trans "Piano and Guitar" %}</h3>
                            </div>
                        </div>
                        <div class="grid-image-box">
                            <a href="#"><img src="{% static 'assets/images/home_1/IMG_6511.JPG' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="banner-grid-right">
                    <div class="grid-image-box">
                        <a href="#"><img src="{% static 'assets/images/home_1/dashi.jpeg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Grid Adv -->

        <div class="custom-services" id="custom-services">
            <div class="container">
                <div class="title-box-default">
                    <h2><span
                            class="title-tab">{% trans 'Musical Instrument' %} &nbsp; <span> {% trans 'Color Design' %} </span></span>
                    </h2>
                </div>

            </div>

        </div>
        <!-- End Custom Services -->

        <div class="new-arrival-product" id="customize-area">
            <div class="container container-v2">
                <!-- End Title Slider -->
                <div class="content-product-slider">
                    <div class="row">
                        {% for design_model in design_models %}
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="item-product">
                                    <div class="item-thumb-product">
                                        <img style="width: 100%;"
                                             src="{{ design_model.url }}_3.jpg"
                                             alt=""
                                             class="product-thumb-front"/>
                                        <img style="width: 100%;"
                                             src="{{ design_model.url }}.jpg"
                                             alt=""
                                             class="product-thumb-behind"/>
                                        <div class="info-product-cart2">
                                            <a class="move-to-model-design"
                                               href="/model_design/color?name={{ design_model.name }}&style={{ design_model.style }}">
                                                {% trans 'Start Design' %}</a>
                                        </div>
                                        <span class="status-product-new">{% trans '3D Model' %}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Content Slider Product -->
            </div>


        </div>
        <!-- End Model Design -->


        <div class="list-designer">
            <div class="container">
                <div class="content-list-designer">
                    <label>{% trans "DESIGNERS:" %}</label>
                    <ul class="list-inline">
                        <li class="item-designer">
                            <a href="#" class="designer-thumb">
                                <img style="width: 130px;" src="{% static "assets/img_for_shop/master/master2.jpg" %}"
                                     alt="">
                            </a>
                            <h3><a href="#">{% trans 'David Cilezege' %}</a></h3>
                        </li>
                        <li class="item-designer">
                            <a href="#" class="designer-thumb">
                                <img style="width: 130px;" src="{% static "assets/img_for_shop/master/master3.jpg" %}"
                                     alt="">
                            </a>
                            <h3><a href="#">{% trans 'Ana Hovurt' %}</a></h3>
                        </li>
                        <li class="item-designer">
                            <a href="#" class="designer-thumb">
                                <img style="width: 130px;" src="{% static "assets/img_for_shop/master/master4.jpg" %}"
                                     alt="">
                            </a>
                            <h3><a href="#">{% trans 'Ana Hovurt' %}</a></h3>
                        </li>
                        <li class="item-designer">
                            <a href="#" class="designer-thumb">
                                <img style="width: 130px;" src="{% static "assets/img_for_shop/master/master5.jpg" %}"
                                     alt="">
                            </a>
                            <h3><a href="#">{% trans 'Ana Hovurt' %}</a></h3>
                        </li>
                    </ul>
                    {#                    <a href="#" class="see-all-designer">{% trans "see all designers" %}</a>#}
                </div>
            </div>
        </div>
        <!-- End Design Team -->
        <div style="margin-top: 76px;">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>{% trans 'Craftsman spirit' %}</h3>
                            <a href="javascript:void(0)" class="item-service-link"><img
                                    src="{% static 'assets/images/home_1/icon_pen.png' %}" alt=""/></a>
                            <p>{% trans 'Professional ethics, ability, ang quality of the embodiment, is a professional value orientation and behavior of practitioners. ' %}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>{% trans 'Manufacturer' %}</h3>
                            <a href="javascript:void(0)" class="item-service-link"><img
                                    src="{% static 'assets/images/home_1/icon_keo.png' %}" alt=""/></a>
                            <p>{% trans 'The basic connotation of "craftsmanship" includes dedication, leaning, concentration, innovation and other aspects.' %}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="item-service-box">
                            <h3>{% trans 'Iluminous Designer' %}</h3>
                            <a href="javascript:void(0)" class="item-service-link" onclick="scrollModels()"><img
                                    src="{% static 'assets/images/home_1/icon_camera.png' %}" alt=""/></a>
                            <p>{% trans 'Innovation and understanding of what users want make our online shop distinguished from others.' %} </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--  Begin News Part -->
        <div class="news-scroll">
            <div class="container">
                <h2 class="title-news-scroll">{% trans 'latest news' %}</h2>
                <div class="content-news-scroll">
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="{% if forloop.counter0|divisibleby:2 %}item-left{% else %}item-right{% endif %}">
                                    <div class="item-news">
                                        <div class="item-news-thumb">
                                            <div class="news-date"><i class="fa fa-calendar-check-o"></i>
                                                <span>{{ blog.created_on }} </span>
                                            </div>
                                            <a href="{% url 'blog:view' post_id=blog.id %}" class="news-thumb-link">
                                                <img src="{{ blog.main_image.url }}" alt=""/>
                                            </a>
                                        </div>
                                        <div class="item-news-info">
                                            <h3>
                                                <a href="{% url 'blog:view' post_id=blog.id %}">{{ blog.title | truncatechars:37 }}</a>
                                            </h3>
                                            <p style="color: white">{{ blog.body | truncatechars:100 }}</p>
                                            <span>{{ blog.author }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--  End News Part -->


        <div class="footer-newsletter" style="height: 200px;margin-top: 50px;">
            <div class="container">
                <div class="newsletter-intro">
                    <span class="envalope-icon"><i class="fa fa-envelope-o"></i></span>
                    <p>{% trans "SUBSCRIBE TO OUR NEWSLETTER TO RECEIVE NEWS, <br>UPDATES, AND ANOTHER STUFF BY EMAIL." %}</p>
                </div>
                <div class="newsletter-form">
                    <form method="post">
                        <input type="text" name="newsletter" value="Enter your email..."
                               onfocus="if (this.value===this.defaultValue) this.value = ''"
                               onblur="if (this.value==='') this.value = this.defaultValue">
                        <input type="submit" value="subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for instrument in instruments %}
        <!-- popup-quickview  -->
        <div id="popup-quickview-{{ instrument.id }}" class="modal" tabindex="-1">
            <div class="modal-dialog quickview-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fi flaticon-cancel"></i></button>
                    <div class="modal-body d-flex">
                        <div class="product-details">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="product-single-img">
                                        <div class="modal-product">
                                            <div class="item">
                                                <img src="{{ instrument.image.url }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-single-content">
                                        <h5>{% trans instrument.name %}</h5>
                                        <h6>{{ instrument.price }} USD</h6>
                                        <ul class="rating">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                        <p>{% trans instrument.details %}
                                        </p>
                                        <div class="product-filter-item color">
                                            <div class="color-name">
                                                <span>{% trans 'Color :' %}</span>
                                                <ul>
                                                    <li class="color1"><input id="1" type="radio" name="color"
                                                                              value="30">
                                                        <label for="1"></label>
                                                    </li>
                                                    <li class="color2"><input id="2" type="radio" name="color"
                                                                              value="30">
                                                        <label for="2"></label>
                                                    </li>
                                                    {#                                                    <li class="color3"><input id="3" type="radio" name="color"#}
                                                    {#                                                                              value="30">#}
                                                    {#                                                        <label for="3"></label>#}
                                                    {#                                                    </li>#}
                                                </ul>
                                            </div>
                                        </div>
                                        {#                                    <div class="product-filter-item color filter-size">#}
                                        {#                                        <div class="color-name">#}
                                        {#                                            <span>{% trans "Weight :" %}</span>#}
                                        {#                                            <ul>#}
                                        {#                                                <li class="color"><input id="w1" type="radio" name="size"#}
                                        {#                                                                         value="30">#}
                                        {#                                                    <label for="w1">4L</label>#}
                                        {#                                                </li>#}
                                        {#                                                <li class="color"><input id="w2" type="radio" name="size"#}
                                        {#                                                                         value="30">#}
                                        {#                                                    <label for="w2">2L</label>#}
                                        {#                                                </li>#}
                                        {#                                                <li class="color"><input id="w3" type="radio" name="size"#}
                                        {#                                                                         value="30">#}
                                        {#                                                    <label for="w3">{% trans "500ML" %}</label>#}
                                        {#                                                </li>#}
                                        {#                                                <li class="color"><input id="w4" type="radio" name="size"#}
                                        {#                                                                         value="30">#}
                                        {#                                                    <label for="w4">{% trans "200ML" %}</label>#}
                                        {#                                                </li>#}
                                        {#                                            </ul>#}
                                        {#                                        </div>#}
                                        {#                                    </div>#}
                                        <div class="pro-single-btn">
                                            <div class="quantity cart-plus-minus">
                                                <input type="text" value="1">
                                                <div class="dec qtybutton"></div>
                                                <div class="inc qtybutton"></div>
                                            </div>
                                            <a href="javascript: void(0)" id="cart__{{ instrument.id }}"
                                               class="theme-btn quick-cart">{% trans 'Add to cart' %}</a>
                                        </div>
                                        <div class="social-share">
                                            <span>{% trans 'Share with : ' %}</span>
                                            <ul class="socialLinks">
                                                <li><a href='#'><i class="fa fa-facebook"></i></a></li>
                                                <li><a href='#'><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href='#'><i class="fa fa-twitter"></i></a></li>
                                                <li><a href='#'><i class="fa fa-instagram"></i></a></li>
                                                <li><a href='#'><i class="fa fa-youtube-play"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="m-shape">
                                            <img src="{{ instrument.image1.url }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- popup-quickview -->
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script>
        $(".bottom-left").click(function () {
            console.log("active video");
            {#$("#trigger-video-button").click();#}
            active3DShowing();
        })
        $(".bottom-right").click(function () {
            console.log("active video");
            {#$("#trigger-video-button").click();#}
            active3DShowing();
        })

        function active3DShowing() {
            $(".show-style").toggle("wrapper-hidden");
            var locals = document.getElementsByClassName('model-video');  //获取，函数执行完成后local内存释放
            for (let local of locals) {
                console.log("status: ", local.paused);
                if (local.paused) {  //判断是否处于暂停状态
                    local.play();  //开启播放
                } else {
                    local.pause();  //停止播放
                }
            }
        }


        $(".owl-demo-chinese, .owl-demo-chinese2").each(function () {
            // Carousel
            //Product Slider
            $(this).owlCarousel({
                items: 1,
                itemsCustom: [
                    [0, 1],
                    [480, 1],
                    [768, 1],
                    [992, 1],
                    [1200, 1]
                ],
                pagination: false,
                navigation: false,
            });
        });
        $('.arrow-prev-1').on('click', function (e) {
            e.preventDefault();
            $('.owl-demo-chinese').trigger('owl.prev');
        });
        $('.arrow-next-1').on('click', function (e) {
            e.preventDefault();
            $('.owl-demo-chinese').trigger('owl.next');
        });

        $('.arrow-prev-2').on('click', function (e) {
            e.preventDefault();
            $('.owl-demo-chinese2').trigger('owl.prev');
        });
        $('.arrow-next-2').on('click', function (e) {
            e.preventDefault();
            $('.owl-demo-chinese2').trigger('owl.next');
        });
        $('.info-product-cart').on('click', function (e) {
            var ev = window.event || arguments.callee.caller.arguments[0];

            if (window.event) ev.cancelBubble = true;
            else {
                ev.stopPropagation();
            }
        })

        $('.link-wishlist').on('click', function () {
            $.ajax({
                url: "/api/add_wishlist/",
                method: 'POST',
                data: {
                    instrument_id: this.id.split("__")[1]
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    let res = data['code'];
                    if (res === 100) {
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("The instrument is already in your wishlist!", "warning");
                        }, 300);
                    } else if (res === 200) {
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("Add successfully!", "success");
                        }, 300);
                    } else if (res === 300) {
                        alert("Error!")
                    } else if (res === 400) {
                        window.location.href = "{% url 'accounts:log_in' %}"
                    }

                },
                error: function () {
                    alert('Error! Check console!');
                }

            })
        });

        $('.link-product-add-cart').on('click', function () {
            $.ajax({
                url: "/api/add_cart/",
                method: 'POST',
                data: {
                    instrument_id: this.id.split("__")[1],
                    count: 1,
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    let res = data['code'];
                    if (res === 100) {
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("The instrument is already in your cart!", "warning");
                        }, 300);
                    } else if (res === 200) {
                        $.ajax({
                            url: "#",
                            method: "GET",
                            success: function (res) {
                                $('#shopping-cart').html($(res).find('#shopping-cart')[0].innerHTML);
                                activateMiniCart();
                                activateDeleteCart();
                                update_total_money();
                            }
                        });
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("Add successfully!", "success");
                        }, 300);
                    } else if (res === 300) {
                        alert("Error!")
                    } else if (res === 400) {
                        window.location.href = "{% url 'accounts:log_in' %}"
                    }

                },
                error: function () {
                    alert('Error! Check console!');
                }

            })
        });

        $('.quick-cart').on('click', function () {
            $.ajax({
                url: "/api/add_cart/",
                method: 'POST',
                data: {
                    instrument_id: this.id.split("__")[1],
                    count: $(this).prev().find('input').val(),
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    let res = data['code'];
                    if (res === 100) {
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("The instrument is already in your cart!", "warning");
                        }, 300);
                    } else if (res === 200) {
                        $.ajax({
                            url: "#",
                            method: "GET",
                            success: function (res) {
                                $('#shopping-cart').html($(res).find('#shopping-cart')[0].innerHTML);
                                activateMiniCart();
                                activateDeleteCart();
                                update_total_money();
                            }
                        });
                        setTimeout(function () {
                            let hulla = new hullabaloo();
                            hulla.send("Add successfully!", "success");
                        }, 300);
                    } else if (res === 300) {
                        alert("Error!")
                    } else if (res === 400) {
                        window.location.href = "{% url 'accounts:log_in' %}"
                    }

                },
                error: function () {
                    alert('Error! Check console!');
                }

            })
        });

        function scrollModels() {
            let scrollOffset = $('#custom-services').offset();
            $("body,html").animate({
                scrollTop: scrollOffset.top
            }, 0);
        }

        $(".item-service-link").on("click", function () {
            scrollModels();
        });

        function heightToTop(ele) {
            //ele为指定跳转到该位置的DOM节点
            let bridge = ele;
            let root = document.body;
            let height = 0;
            do {
                height += bridge.offsetTop;
                bridge = bridge.offsetParent;
            } while (bridge !== root)

            return height;
        }


    </script>

{% endblock %}