{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="/static/assets/css_for_shop/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/static/assets/css_for_shop/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="/static/assets/css_for_shop/home_1.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/static/assets/css_for_shop/custom.css" rel="stylesheet">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .sidebar-fixed {
            position: fixed;
            left: 10px;
            {#top: 150px;#}
            z-index: 999;
        }

        .sidebar-show {
            visibility: hidden;
        }

        .warp {
            background-color: rgba(255, 255, 255, 0.55);
            border-radius: 10px;
            width: 30vw;
            height: 60vh;

            overflow: hidden;
            /* position: absolute; */
            /*避免子元素margin 影响外层元素 overflow和position都可以*/


            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* flex弹性布局 居中（水平、垂直） */
        }

        .card {
            width: 28vw;
            height: 16vh;
            background-color: darkcyan;
            border-radius: 2vh;
            margin: 2vh;

            /* 文本垂直居中 */
            /* text-align: center; */
            /* line-height: 20vh; */

            /*外层相对位置*/
            /* position: relative; */

            border-radius: 12px;
            color: #ffc0cb;
            cursor: pointer;
            transition: all 1s ease;
            display: block;
        }

        .No1 {
            background-color: #8063e1;
            background-image: linear-gradient(135deg, #bd7be8, #8063e1);
            box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #8063e1;
            z-index: 5;
            opacity: 0.9;
        }

        .No2 {
            background-color: #3f58e3;
            background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
            box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #3f58e3;
            z-index: 4;
            opacity: 0.9;
        }

        .No3 {
            background-color: #2c6fd1;
            background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
            box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #2c6fd1;
            z-index: 3;
            opacity: 0.9;
        }

        .No4 {
            background-color: #352f64;
            background-image: linear-gradient(135deg, #415197, #352f64);
            box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #352f64;
            z-index: 2;
            opacity: 0.9;
        }

        .No5 {
            background-color: #63e1b7;
            background-image: linear-gradient(135deg, #4e9666, #63e1a6);
            box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #63e178;
            z-index: 1;
            opacity: 0.9;
        }

        .card .title {
            /*内层绝对位置*/
            /* position: absolute; */
            border-bottom: rgb(149, 158, 158) 1px solid;
            width: calc(100% - 2vw);
            height: 25%;
            padding-left: 2vw;
            font-size: 26px;
            font-weight: bold;
        }

        .card .content {
            /* position: absolute; */

            width: 100%;
            height: 74%;

            /* 文本垂直居中 */
            /* text-align: center; */
            line-height: 11vh;

            padding-left: 2vw;
            font-weight: 700;
            font-size: 16px;
        }

        .card:hover {
            transform: rotateX(0deg) rotateY(0deg) rotate(0deg) translate(15px, 0px);
            opacity: 0.6;
        }

        .card:hover:after {
            transform: translateX(100%);
            transition: all 1.5s ease-in-out;
        }

        .card::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%);
        }
    </style>
{% endblock %}

{% block content %}

    {# hot list begin (top 5) #}
    <div id="list_top5" class=sidebar-fixed onclick="switch_sidebar()">
    <div>

    </div>
        <div class="warp">
            {% for rank in order_rank %}
                <div class="card No{{ forloop.counter }}">
                    <div class="title">{{ rank.instrument }}</div>
                    <div class="content">{{ rank.count }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
    function switch_sidebar() {
        $("#list_top5").toggleClass("sidebar-show");
    }
    </script>
    {# hot list end #}


    <main>
        <div class="header-video">
            <div id="hero_video">
                <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                    <div class="container">
                        <div class="row justify-content-center justify-content-md-start">
                            <div class="col-lg-6">
                                <div class="slide-text white">
                                    <h3>Armor Air<br>Max 720 Sage Low</h3>
                                    <p>Limited items available at this price</p>
                                    <a class="btn_1" href="#0" role="button">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/static/assets/img_for_shop/video_fix.png" alt="" class="header-video--media"
                 data-video-src="/static/assets/video_for_shop/intro.mp4"
                 data-teaser-source="/static/assets/video_for_shop/intro" data-provider="" data-video-width="1920"
                 data-video-height="960">
        </div>
        <!-- /header-video -->

        <div class="feat">
            <div class="container">
                <ul>
                    <li>
                        <div class="box">
                            <i class="ti-gift"></i>
                            <div class="justify-content-center">
                                <h3>Free Shipping</h3>
                                <p>For all oders over $99</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <i class="ti-wallet"></i>
                            <div class="justify-content-center">
                                <h3>Secure Payment</h3>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <i class="ti-headphone-alt"></i>
                            <div class="justify-content-center">
                                <h3>24/7 Support</h3>
                                <p>Online top support</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--/feat-->

        <div class="container margin_60_35">
            <div class="row small-gutters categories_grid">

                <div class="col-sm-12 col-md-6">
                    <a href="{% url "shop:category_view" category_id=index_categories.left_700_604.category.id %}">
                        <img src="{{ index_categories.left_700_604.category.main_.url }}"
                             data-src="{{ index_categories.left_700_604.category.main_image.url }}" alt=""
                             class="img-fluid lazy"
                             style="height: 100%; width: 100%">
                        <div class="wrapper">
                            <h2>{{ index_categories.left_700_604.category.name }}</h2>
                            <p>{{ index_categories.left_700_604.count }} Products</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row small-gutters mt-md-0 mt-sm-2">
                        <div class="col-sm-6">
                            <a href="{% url "shop:category_view" category_id=index_categories.right_top1_500_480.category.id %}">
                                <img src="{{ index_categories.right_top1_500_480.category.main_image.url }}"
                                     data-src="{{ index_categories.right_top1_500_480.category.main_image.url }}" alt=""
                                     class="img-fluid lazy"
                                     style="height: 100%; width: 100%">
                                <div class="wrapper">
                                    <h2>{{ index_categories.right_top1_500_480.category.name }}</h2>
                                    <p>{{ index_categories.right_top1_500_480.count }} Products</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url "shop:category_view" category_id=index_categories.right_top2_500_480.category.id %}">
                                <img src="{{ index_categories.right_top2_500_480.category.main_image.url }}"
                                     data-src="{{ index_categories.right_top2_500_480.category.main_image.url }}" alt=""
                                     class="img-fluid lazy"
                                     style="height: 100%; width: 100%">
                                <div class="wrapper">
                                    <h2>{{ index_categories.right_top2_500_480.category.name }}</h2>
                                    <p>{{ index_categories.right_top2_500_480.count }} Products</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-12 mt-sm-2">
                            <a href="{% url "shop:category_view" category_id=index_categories.right_bottom_800_343.category.id %}">
                                <img src="{{ index_categories.right_bottom_800_343.category.main_image.url }}"
                                     data-src="{{ index_categories.right_bottom_800_343.category.main_image.url }}"
                                     alt=""
                                     class="img-fluid lazy"
                                     style="height: 100%; width: 100%">
                                <div class="wrapper">
                                    <h2>{{ index_categories.right_bottom_800_343.category.name }}</h2>
                                    <p>{{ index_categories.right_bottom_800_343.count }} Products</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/categories_grid-->
        </div>
        <!-- /container -->

        <hr class="mb-0">

        <div class="container margin_60_35">
            <div class="main_title mb-4">
                <h2>New Arrival</h2>
                <span>Products</span>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="isotope_filter">
                <ul>
                    <li><a href="#0" id="all" data-filter="*">All</a></li>
                    <li><a href="#0" id="popular" data-filter=".popular">Popular</a></li>
                    <li><a href="#0" id="sale" data-filter=".sale">Sale</a></li>
                </ul>
            </div>
            <div class="isotope-wrapper">
                <div class="row small-gutters">
                    {% for instrument in instruments %}
                        <div class="col-6 col-md-4 col-xl-3 isotope-item sale">
                            <div class="grid_item">
                                <figure>
                                    <span class="ribbon off">{{ instrument.percentage }}%</span>
                                    <a href="{% url "shop:product_details" product_id=instrument.id %}">
                                        <img class="img-fluid lazy"
                                             src="{{ instrument.image.url }}"
                                             data-src="{{ instrument.image.url }}" alt="">
                                        <img class="img-fluid lazy"
                                             src="{{ instrument.image.url }}"
                                             data-src="{{ instrument.image.url }}" alt="">
                                    </a>
                                    {#                                    <div data-countdown="2019/05/15" class="countdown"></div>#}
                                </figure>
                                <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                        class="icon-star voted"></i><i class="icon-star voted"></i><i
                                        class="icon-star"></i>
                                </div>
                                <a href="{% url "shop:product_details" product_id=instrument.id %}">
                                    <h3>{{ instrument.name }}</h3>
                                </a>
                                <div class="price_box">
                                    <span class="new_price">${{ instrument.price }}</span>
                                    <span class="old_price">${{ instrument.old_price }}</span>
                                </div>
                                <ul>
                                    <li>
                                        <a class="tooltip-1 add-wishlist-item" id="wishlist-{{ instrument.id }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="left"
                                           title="Add to favorites">
                                            <i class="ti-heart"></i>
                                            <span>Add to favorites</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/product_add_compare" class="tooltip-1"
                                           data-bs-toggle="tooltip" data-bs-placement="left" title="Add to compare">
                                            <i class="ti-control-shuffle"></i>
                                            <span>Add to compare</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/cart/product_add_cart/{{ instrument.id }}" class="tooltip-1"
                                           data-bs-toggle="tooltip" data-bs-placement="left" title="Add to cart">
                                            <i class="ti-shopping-cart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /grid_item -->
                        </div>
                    {% endfor %}


                    <!-- /col -->
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item sale">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon off">-30%</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar1.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar2.png" alt="">#}
                    {#                                </a>#}
                    {#                                <div data-countdown="2019/05/10" class="countdown"></div>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Guitar Okwahn II</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$90.00</span>#}
                    {#                                <span class="old_price">$170.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item sale">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon off">-50%</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar4.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar4.png" alt="">#}
                    {#                                </a>#}
                    {#                                <div data-countdown="2019/05/21" class="countdown"></div>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Guitar Air Wildwood ACG</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$75.00</span>#}
                    {#                                <span class="old_price">$155.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item popular">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon new">New</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar3.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/guitar3.png" alt="">#}
                    {#                                </a>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Guitar ACG React Terra</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$110.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item popular">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon new">New</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano1.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano1.png" alt="">#}
                    {#                                </a>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Armor Air Zoom Alpha</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$140.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item popular">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon new">New</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano2.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano2.png" alt="">#}
                    {#                                </a>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Armor Air Alpha</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$130.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item popular">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon hot">Hot</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano3.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano3.png" alt="">#}
                    {#                                </a>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Armor Air Max 98</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$115.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    {#                    <!-- /col -->#}
                    {#                    <div class="col-6 col-md-4 col-xl-3 isotope-item popular">#}
                    {#                        <div class="grid_item">#}
                    {#                            <span class="ribbon hot">Hot</span>#}
                    {#                            <figure>#}
                    {#                                <a href="product_details/1">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano4.png" alt="">#}
                    {#                                    <img class="img-fluid lazy"#}
                    {#                                         src="/static/assets/img_for_shop/products/product_placeholder_square_medium.jpg"#}
                    {#                                         data-src="/static/assets/img_for_shop/products/shoes/piano4.png" alt="">#}
                    {#                                </a>#}
                    {#                            </figure>#}
                    {#                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i#}
                    {#                                    class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i>#}
                    {#                            </div>#}
                    {#                            <a href="product_details/1">#}
                    {#                                <h3>Armor Air Max 720</h3>#}
                    {#                            </a>#}
                    {#                            <div class="price_box">#}
                    {#                                <span class="new_price">$120.00</span>#}
                    {#                            </div>#}
                    {#                            <ul>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to favorites"><i#}
                    {#                                        class="ti-heart"></i><span>Add to favorites</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to compare"><i#}
                    {#                                        class="ti-control-shuffle"></i><span>Add to compare</span></a></li>#}
                    {#                                <li><a href="#0" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"#}
                    {#                                       title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a>#}
                    {#                                </li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                        <!-- /grid_item -->#}
                    {#                    </div>#}
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /isotope-wrapper -->
        </div>
        <!-- /container -->

        <div class="featured lazy" data-bg="url(/static/assets/img_for_shop/featured_home.jpg)">
            <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <div class="container margin_60">
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-lg-6 wow" data-wow-offset="150">
                            <h3>Armor<br>Air Color 720</h3>
                            <p>Lightweight cushioning and durable support with a Phylon midsole</p>
                            <div class="feat_text_block">
                                <div class="price_box">
                                    <span class="new_price">$90.00</span>
                                    <span class="old_price">$170.00</span>
                                </div>
                                <a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /featured -->

        <div class="bg_gray">
            <div class="container margin_30">
                <div id="brands" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_1.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_2.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_3.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_4.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_5.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                    <div class="item">
                        <a href="#0"><img src="/static/assets/img_for_shop/brands/placeholder_brands.png"
                                          data-src="/static/assets/img_for_shop/brands/logo_6.png"
                                          alt="" class="owl-lazy"></a>
                    </div><!-- /item -->
                </div><!-- /carousel -->
            </div><!-- /container -->
        </div>
        <!-- /bg_gray -->

        <div class="container margin_60_35">
            <div class="main_title">
                <h2>Latest News</h2>
                <span>Blog</span>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="box_news" href="{% url "blog:index" %}">
                        <figure>
                            <img src="/static/assets/img_for_shop/blog-thumb-placeholder.jpg"
                                 data-src="/static/assets/img_for_shop/blog-thumb-1.jpg" alt="" width="400"
                                 height="266" class="lazy">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>by Mark Twain</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Pri oportere scribentur eu</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="{% url "blog:index" %}">
                        <figure>
                            <img src="/static/assets/img_for_shop/blog-thumb-placeholder.jpg"
                                 data-src="/static/assets/img_for_shop/blog-thumb-2.jpg" alt="" width="400"
                                 height="266" class="lazy">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>By Jhon Doe</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Duo eius postea suscipit ad</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="{% url "blog:index" %}">
                        <figure>
                            <img src="/static/assets/img_for_shop/blog-thumb-placeholder.jpg"
                                 data-src="/static/assets/img_for_shop/blog-thumb-3.jpg" alt="" width="400"
                                 height="266" class="lazy">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>By Luca Robinson</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Elitr mandamus cu has</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="{% url "blog:index" %}">
                        <figure>
                            <img src="/static/assets/img_for_shop/blog-thumb-placeholder.jpg"
                                 data-src="/static/assets/img_for_shop/blog-thumb-4.jpg" alt="" width="400"
                                 height="266" class="lazy">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>By Paula Rodrigez</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Id est adhuc ignota delenit</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->

    </main>
    <!-- /main -->
    <div id="toTop"></div><!-- Back to top button -->
{% endblock %}

<!-- page -->
{% block foot_link %}

    <!-- COMMON SCRIPTS -->
    {#    <script src="/static/assets/js_for_shop/common_scripts.min.js"></script>#}
    {#    <script src="/static/assets/js_for_shop/main.js"></script>#}

    <!-- SPECIFIC SCRIPTS -->
    <script src="/static/assets/js_for_shop/modernizr.js"></script>
    <script src="/static/assets/js_for_shop/video_header.min.js"></script>
    <script>
        // Video Header
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });
    </script>
    <script src="/static/assets/js_for_shop/isotope.min.js"></script>
    <script>
        // Isotope filter
        $(window).on('load', function () {
            var $container = $('.isotope-wrapper');
            $container.isotope({itemSelector: '.isotope-item', layoutMode: 'masonry'});
        });
        $('.isotope_filter').on('click', 'a', 'change', function () {
            var selector = $(this).attr('data-filter');
            $('.isotope-wrapper').isotope({filter: selector});
        });
        $(".add-wishlist-item").each(function () {
            console.log("t", this, this.className);
            this.addEventListener("click", function () {
                let id = this.id.replace("wishlist-", '');
                console.log("Id added to wishlist: ", id);
                if (id) {
                    add_wishlist_item(id);
                }
            });

        });

        function add_wishlist_item(id) {
            $.ajax({
                url: "/api/wishlist/",
                method: "GET",
                contentType: "application/json",
                dataType: "json",
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (res) {
                    console.log("WISHLIST: ", eval(res));
                    let exist_wishlists = eval(res);

                    function checkExist(item) {
                        return item.instrument.toString() === id;
                    }

                    let detect_exist = exist_wishlists.filter(checkExist);

                    console.log("WISHLIST: ", detect_exist);
                    if (detect_exist.length === 0) {
                        $.ajax({
                            url: "/api/wishlist/",
                            method: "POST",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                //TODO: 替換成用戶
                                "user": 1,
                                "instrument": id
                            }),
                            headers: {
                                'X-CSRFTOKEN': '{{ csrf_token }}'
                            },
                            success: function (res) {
                                console.log("WISHLIST: ", id + "  已被加入愿望清单");
                            },
                            error: function (res) {
                                console.log("Add wishlist failed:", id, res);
                            }
                        });
                    } else {
                        console.log("exist wishlist item, can't add");
                    }
                },
                error: function (res) {
                    console.log("Get wishlist failed:", id, res);
                }
            });
            {#fetchHeaderCartList();#}
        }

    </script>

{% endblock %}
