{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}


{% block head_link %}

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static "assets/img_for_shop/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
          href="{% static "assets/img_for_shop/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          href="{% static "assets/img_for_shop/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="{% static "assets/img_for_shop/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="{% static "assets/img_for_shop/apple-touch-icon-144x144-precomposed.png" %}">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static "assets/css_for_shop/bootstrap.custom.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css_for_shop/style.css" %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static "assets/css_for_shop/leave_review.css" %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static "assets/css_for_shop/custom.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}


    <!-- /header -->

    <main>


	<div class="container margin_60_35">

			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="write_review">
						<h1>Write a review for Armor Air X Fear</h1>
						<div class="rating_submit">
							<div class="form-group">
							<label class="d-block">Overall rating</label>
							<span class="rating mb-0">
								<input type="radio" class="rating-input" id="5_star" name="rating-input" value="5"><label for="5_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="4_star" name="rating-input" value="4"><label for="4_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="3_star" name="rating-input" value="3"><label for="3_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="2_star" name="rating-input" value="2"><label for="2_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="1_star" name="rating-input" value="1"><label for="1_star" class="rating-star"></label>
							</span>
							</div>
						</div>
						<!-- /rating_submit -->
{#						<div class="form-group">#}
{#							<label>Title of your review</label>#}
{#							<input class="form-control" type="text" placeholder="If you could say it in one sentence, what would you say?">#}
{#						</div>#}
						<div class="form-group">
							<label>Your review</label>
							<textarea class="form-control" style="height: 180px;" placeholder="Write your review to help others learn about this online business"></textarea>
						</div>
						<div class="form-group">
							<label>Add your photo (optional)</label>
							<div class="fileupload"><input type="file" name="fileupload" accept="image/*"></div>
						</div>
						<div class="form-group">
							<div class="checkboxes float-left add_bottom_15 add_top_15">
								<label class="container_check">Please confirm you review and ensure your review is impartial before submitting it. Many thanks for your valuable comment.
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<a href="{% url "shop:confirm_submit" %}" class="btn_1">Submit review</a>
					</div>
				</div>
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
	</main>
    <!--/main-->


    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->

{% endblock %}

{% block foot_link %}

    <!-- COMMON SCRIPTS -->
    <script src="{% static "assets/js_for_shop/common_scripts.min.js" %}"></script>
    <script src="{% static "assets/js_for_shop/main.js" %}"></script>

{% endblock %}