{#{% extends 'layouts/default/page.html' %}#}
{% extends 'layouts/default/shopper_base2.html' %}

{% load static %}


{% load i18n %}
{% load bootstrap4 %}


{% block head_link %}

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static "assets/img_for_shop/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
          href="{% static "assets/img_for_shop/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          href="{% static "assets/img_for_shop/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="{% static "assets/img_for_shop/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="{% static "assets/img_for_shop/apple-touch-icon-144x144-precomposed.png" %}">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static "assets/css_for_shop/bootstrap.custom.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css_for_shop/style.css" %}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{% static "assets/css_for_shop/leave_review.css" %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static "assets/css_for_shop/custom.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}


    <!-- /header -->

    <main>


        <div class="container margin_60_35">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="write_review">
                            <h1>{% trans "Write a review for" %} {{ instrument.name }}</h1>
                            <div class="rating_submit">
                                <div class="form-group">
                                    <label class="d-block">{% trans "Overall rating" %}</label>
                                    <span class="rating mb-0">
								<input type="radio" class="rating-input" id="5_star" name="rating-input"
                                       value="5"><label for="5_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="4_star" name="rating-input"
                                       value="4"><label for="4_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="3_star" name="rating-input"
                                       value="3"><label for="3_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="2_star" name="rating-input"
                                       value="2"><label for="2_star" class="rating-star"></label>
								<input type="radio" class="rating-input" id="1_star" name="rating-input" value="1 Star"><label
                                            for="1_star" class="rating-star"></label>
							        </span>
                                </div>
                            </div>
                            {% bootstrap_form form %}

                            <script>
                                $(document).ready(function () {
                                    $('#id_rating').val(0);
                                    $('#5_star').click(function () {
                                        $('#id_rating').val(5);
                                    });
                                    $('#4_star').click(function () {
                                        $('#id_rating').val(4);
                                    });
                                    $('#3_star').click(function () {
                                        $('#id_rating').val(3);
                                    });
                                    $('#2_star').click(function () {
                                        $('#id_rating').val(2);
                                    });
                                    $('#1_star').click(function () {
                                        $('#id_rating').val(1);
                                    });


                                });
                            </script>
                        </div>
                        {#                            <!-- /rating_submit -->#}
                        {#                            <div class="form-group">#}
                        {#                                <label>Title of your review</label>#}
                        {#                                <input class="form-control" type="text" name="title"#}
                        {#                                       placeholder="If you could say it in one sentence, what would you say?">#}
                        {#                            </div>#}
                        {#                            <div class="form-group">#}
                        {#                                <label>Your review</label>#}
                        {#                                <textarea class="form-control" style="height: 180px;" name="review"#}
                        {#                                          placeholder="Write your review to help others learn about this online business"></textarea>#}
                        {#                            </div>#}
                        {#                            <div class="form-group">#}
                        {#                                <label>Add your photo (optional)</label>#}
                        {#                                <div class="fileupload"><input type="file" name="fileupload" accept="image/*"></div>#}
                        {#                            </div>#}
                        {#                            <div class="form-group">#}
                        {#                                <div class="checkboxes float-left add_bottom_15 add_top_15">#}
                        {#                                    <label class="container_check">Eos tollit ancillae ea, lorem consulatu qui ne, eu#}
                        {#                                        eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus#}
                        {#                                        te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut.#}
                        {#                                        Viderer petentium cu his.#}
                        {#                                        <input type="checkbox" name="check" value="1">#}
                        {#                                        <span class="checkmark"></span>#}
                        {#                                    </label>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        <input type="submit" class="btn_1" value="Submit review">
                        {#                        </div>#}
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!--/main-->

    <!--/main-->


    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->

{% endblock %}

{% block foot_link %}

    <!-- COMMON SCRIPTS -->
    <script src="{% static "assets/js_for_shop/common_scripts.min.js" %}"></script>
    <script src="{% static "assets/js_for_shop/main.js" %}"></script>

{% endblock %}