{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="{% static "assets/css_for_shop/bootstrap.custom.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css_for_shop/style2.css" %}" rel="stylesheet">
    <link href="{% static "assets/js_for_model/jquery.simplecolorpicker.css" %}" rel="stylesheet">
    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins"/>

    <link href="{% static "assets/css_for_shop/product_page.css" %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static "assets/css_for_shop/owl-slider.css" %}" rel="stylesheet">


    <script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js_for_shop/common_scripts.js' %}"></script>
    {#    <script src="{% static 'assets/js_for_shop/jquery.elevatezoom.js' %}"></script>#}
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static "assets/js_for_shop/carousel-home.js" %}"></script>
    <script src="{% static "assets/js/hullabaloo.js" %}"></script>
    <script src="{% static "assets/js_for_shop/owl.carousel.js" %}"></script>
    <script src="{% static "assets/js_for_shop/store.js" %}"></script>
    {#    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>#}
    {#    <script type="text/javascript" src="assets/js/jquery.elevatezoom.js"></script>#}
    {#    <script type="text/javascript" src="assets/js/store.js"></script>#}
    <title>Model Design</title>
</head>
<style>
    .color-list-1 {
        margin-bottom: 0px !important;
    }

</style>
<body>

<div class="main-content">
    <div class="container-fluid" style="padding-left: 5%;padding-right: 5%">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Men</a></li>
            <li class="active">Bouble Fabric Blazer</li>
        </ul>
        <div class="product-details-content container-fluid">
            <div class="col-md-8 col-sm-6">
                <div class="product-img-box">
                    <a id="image-view" class="model-show-wrapper" title="Product Image">
                    </a>
                    {#                    <div class="product-thumb">#}
                    {#                        <ul class="thumb-content">#}
                    {#                            <li class="thumb"><a#}
                    {#                                    href="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    title="thumb product view1"#}
                    {#                                    onclick="swap(this);return false;"><img#}
                    {#                                    src="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    alt="thumb product1"/></a></li>#}
                    {#                            <li class="thumb"><a#}
                    {#                                    href="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    title="thumb product view1"#}
                    {#                                    onclick="swap(this);return false;"><img#}
                    {#                                    src="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    alt="thumb product1"/></a></li>#}
                    {#                            <li class="thumb"><a#}
                    {#                                    href="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    title="thumb product view1"#}
                    {#                                    onclick="swap(this);return false;"><img#}
                    {#                                    src="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    alt="thumb product1"/></a></li>#}
                    {#                            <li class="thumb"><a#}
                    {#                                    href="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    title="thumb product view1"#}
                    {#                                    onclick="swap(this);return false;"><img#}
                    {#                                    src="{% static "assets/img_for_shop/products/product_placeholder_square_small.jpg" %}"#}
                    {#                                    alt="thumb product1"/></a></li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                </div>
                <!-- End product-img-box -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="product-name space-30">
                    <h2>MODEL DESIGN </h2>
                    <h2>- YOUR OWN INSTRUMENT</h2>

                    <h1></h1>
                    <div>
                        Introduction:
                        <p>What you need to do is:</p>
                        <p style="text-align: center;">Choose Part of Model -> Select Color </p>
                        <br>
                        <p>For easier select part, you can explode the model :></p>
                    </div>
                    <p>
                    </p>
                </div>
                <div class=" wrap-price"></div>
                <!-- End product-name -->
                <div class="rating space-padding-tb-30 ">

                    <div class="overflow-h">
                        <ul>
                            <li>Now raw model</li>
                            <li><a href="#" title="add your rating">Guitar - 1</a>
                                <div class="" style="position: absolute;top: 36%;right: 6%;">
                                    <p class="price" style="font-size:24px;">Price: <span
                                            style="color: #e3b757">$ 69.90</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Rating -->

                <!-- End Price -->
                <div class="options">
                    <div class="title-product">
                        <h3>Features</h3>
                    </div>
                    <div style="display: flex;justify-content: space-evenly;  margin-bottom: 20px">
                        <span>
                        <img onclick="splitModel()" style="cursor: pointer" width="40px" height="40px"
                             src="{% static "assets/img_for_shop/design/design-explode.png" %}">Instrument
                        explode
                       </span>
                        <span>
                        <img onclick="mergeModel()" style="cursor: pointer" width="40px" height="40px"
                             src="{% static "assets/img_for_shop/design/design-combine.png" %}">Instrument
                        combine
                        </span>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group col-md-12 color-list-1">
                            <label class=" control-label" for="inputName">Recommend Colour</label>
                            <div style="text-align: center;cursor: pointer">

                                <img onclick="changeColor('#000000')" width="40px" height="40px"
                                     src="{% static "assets/img_for_shop/color/Paint_Black.png" %}">
                                <img onclick="changeColor('#ffffff')" width="40px" height="40px"
                                     src="{% static "assets/img_for_shop/color/Paint_White.png" %}">
                                <img onclick="changeColor('#4d4f55')" width="40px" height="40px"
                                     src="{% static "assets/img_for_shop/color/Paint_MidnightSilver.png" %}">
                                <img onclick="changeColor('#093373')" width="40px" height="40px"
                                     src="{% static "assets/img_for_shop/color/Paint_Blue.png" %}">
                                <img onclick="changeColor('#9e0909')" width="40px" height="40px"
                                     src="{% static "assets/img_for_shop/color/Paint_Red.png" %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label" for="inputName">Long list of colors</label>
                            <select name="color-long-list">
                                <option value="#ac725e">#ac725e</option>
                                <option value="#d06b64">#d06b64</option>
                                <option value="#f83a22">#f83a22</option>
                                <option value="#fa573c">#fa573c</option>
                                <option value="#ff7537">#ff7537</option>
                                <option value="#ffad46">#ffad46</option>
                                <option value="#42d692">#42d692</option>
                                <option value="#16a765">#16a765</option>
                                <option value="#7bd148">#7bd148</option>
                                <option value="#b3dc6c">#b3dc6c</option>
                                <option value="#fbe983">#fbe983</option>
                                <option value="#fad165">#fad165</option>
                                <option value="#92e1c0">#92e1c0</option>
                                <option value="#9fe1e7">#9fe1e7</option>
                                <option value="#9fc6e7">#9fc6e7</option>
                                <option value="#4986e7">#4986e7</option>
                                <option value="#9a9cff">#9a9cff</option>
                                <option value="#b99aff">#b99aff</option>
                                <option value="#c2c2c2">#c2c2c2</option>
                                <option value="#cabdbf">#cabdbf</option>
                                <option value="#cca6ac">#cca6ac</option>
                                <option value="#f691b2">#f691b2</option>
                                <option value="#cd74e6">#cd74e6</option>
                                <option value="#a47ae2">#a47ae2</option>
                                <!--color more-->
                                <option value="#9a9cff">#9a9cff</option>
                                <option value="#b99aff">#b99aff</option>
                                <option value="#c2c2c2">#c2c2c2</option>
                                <option value="#cabdbf">#cabdbf</option>
                                <option value="#cca6ac">#cca6ac</option>
                                <option value="#f691b2">#f691b2</option>
                                <option value="#cd74e6">#cd74e6</option>
                                <option value="#a47ae2">#a47ae2</option>
                                <option value="#9a9cff">#9a9cff</option>
                                <option value="#b99aff">#b99aff</option>
                                <option value="#c2c2c2">#c2c2c2</option>
                                <option value="#cabdbf">#cabdbf</option>
                                <option value="#cca6ac">#cca6ac</option>
                                <option value="#f691b2">#f691b2</option>
                                <option value="#cd74e6">#cd74e6</option>
                                <option value="#a47ae2">#a47ae2</option>

                            </select>
                            {#                            <input id="color" type="color">#}
                        </div>
                        {#                        <div >#}
                        {##}
                        {#                        </div>#}
                    </form>
                    {#                    <div class="quantity space-30">#}
                    {#                        <p class="color-red">Repuired Fiields *</p>#}
                    {#                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity"#}
                    {#                               max="100" min="1" step="1">#}
                    {#                        <span class="price"></span>#}
                    {#                    </div>#}
                    <!-- End quanity -->
                </div>
                <!-- End Options -->
                <div class="products" style="text-align:end;">
                    <div class="product product-details">
                        <a href="#" class="add-to-cart">Add to Cart</a>
                        {#                        <div class="action">#}
                        {#                            <a title="Like" href="#"><i class="fa fa-heart-o"></i></a>#}
                        {#                            <a title="View" href="#"><i class="fa fa-compress"></i></a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-1">
            <div class="section-title">
                <h3 class="lead">Design Masters</h3>
                <div class="border-style"></div>
            </div>
        </div>

        {#        <div class="">#}
        {#            <h3></h3>#}
        {#        </div>#}
        <div class="hoz-tab-container space-padding-tb-10">
            <ul class="tabs">
                <li class="item" rel="master1">Dale Wilson</li>
                <li class="item" rel="master2">Paul Waller</li>
                <li class="item" rel="master3">Jason Smith</li>
                <li class="item" rel="master4">Yuriy Shishkov</li>
                <li class="item" rel="master5">Todd Krause</li>
                <li class="item" rel="master6">Dennis Galuszka</li>
                <li class="item" rel="master7">Greg Fessler</li>
                <li class="item" rel="master8">John Cruz</li>
            </ul>
            <div class="tab-container">
                <div id="master1" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master1.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master2" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master2.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master3" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master3.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master4" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master4.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master5" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master5.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master6" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master1.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master7" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master1.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="master8" class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="help-item help-left">
                                <img style="width: 100%;" src="{% static "assets/img_for_shop/master/master1.jpg" %}"
                                     alt="Help"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="help-item">
                                <div class="help-right">
                                    <h2>Master: Dale Wilson</h2>
                                    <p>戴尔· 威尔逊2003 年入职Fender，2005 年加入 Fender 定制商店，并于2011年成为“ 制琴大师（Master
                                        Builder）”。作为加利福尼亚人的他，从小就对制作吉他有着浓厚的兴趣。“从我记事时起，我就非常喜欢吉他”
                                        他说“奇怪的是，我不想成为一个摇滚明星，而是梦想制作出一把超级吉他，我对吉他的迷恋程度不输演奏家”。威尔逊家族精通木工手艺，而精湛的手工艺一直是Fender
                                        定制商店所热衷与追求，这些早已融入到戴尔的血液中。早在上世纪80 年代末，他就已经在中学附近的吉他工作室从事修理和模具工作。
                                    </p>
                                    <p>
                                        随后，他前往Dobro 和Rickenbacker （吉他品牌）工作了一段时间，然后进入Fender
                                        ；在成为定制商店制琴大师的学徒之前，他还曾为Guild、Gretsch 和Benedetto 等
                                        吉他品牌工作过。作为一个手艺人，他非常享受能利用自己丰富的实战经验来制作一把高品质的吉他，比如一把“Resophonic Thinline
                                        Telecaster®”琴。2011年，当他还是一名学徒的时候，他就已经为当年一月举行的“美国国际乐器展（NAMM Show）”制作了5
                                        把优质的定制吉他，并被要求在背板上签名，他也由此获得了“ 制琴大师（Master Builder）” 的荣誉。</p>
                                    <div class="help-inner-left">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                    <div class="help-inner-right">
                                        <ul>
                                            <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                            <li><i class="flaticon-checkmark"></i> Best Performances</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- tab-container -->
            <div class="title-product">
                <h3>upsell products</h3>
            </div>
            <div class="upsell-product products grid_full">
                <div class="item-inner">
                    <div class="product">
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="assets/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="assets/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="product-price">$ 650.99</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product">
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="assets/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="assets/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="product-price">$ 650.99</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product sale">
                        <span class="sale lable">Sale</span>
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="assets/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="assets/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <div class="product-price">
                            <p class="content-star">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <span class="price">$ 650.99</span>
                            <span class="price-old">$ 670.99</span>
                        </div>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product ">
                        <span class="new lable">New</span>
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="assets/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="assets/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Smart TV Ultra HD 40 inch - 40JU6600</p>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="product-price">$ 650.99</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End container -->

    </div>
    <!-- End MainContent -->

</body>


<!-- Start Script -->
<script type="text/javascript" src="{% static "assets/js_for_model/three.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/LoaderSupport.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/OBJLoader.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/GLTFLoader.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/DDSLoader.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/TrackballControls.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/Detector.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/EffectComposer.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/OutlinePass.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/RenderPass.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/CopyShader.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/ShaderPass.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/FXAAShader.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/TweenLite.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/OrbitControls.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/dat.gui.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/stats.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/jquery.simplecolorpicker.js" %}"></script>


<script type="text/javascript" src="{% static "assets/js_for_model/model_split_and_merge.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js_for_model/model_design_loader.js" %}"></script>


</html>

