{% extends 'layouts/default/shopper_base2.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/fontawesome-free-5.15.4-web/css/all.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css_for_shop/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
{#        <div class="col-lg-3 my-lg-0 my-md-1">#}
{#            <div id="sidebar" class="bg-purple">#}
{#                <div class="h4 text-white">Account</div>#}
{#                <ul>#}
{#                    <li class="active"> <a href="#" class="text-decoration-none d-flex align-items-start">#}
{#                            <div class="fas fa-box pt-2 me-3"></div>#}
{#                            <div class="d-flex flex-column">#}
{#                                <div class="link">My Account</div>#}
{#                                <div class="link-desc">View & Manage orders and returns</div>#}
{#                            </div>#}
{#                        </a> </li>#}
{#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
{#                            <div class="fas fa-box-open pt-2 me-3"></div>#}
{#                            <div class="d-flex flex-column">#}
{#                                <div class="link">My Orders</div>#}
{#                                <div class="link-desc">View & Manage orders and returns</div>#}
{#                            </div>#}
{#                        </a> </li>#}
{#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
{#                            <div class="far fa-address-book pt-2 me-3"></div>#}
{#                            <div class="d-flex flex-column">#}
{#                                <div class="link">Address Book</div>#}
{#                                <div class="link-desc">View & Manage Addresses</div>#}
{#                            </div>#}
{#                        </a> </li>#}
{#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
{#                            <div class="far fa-user pt-2 me-3"></div>#}
{#                            <div class="d-flex flex-column">#}
{#                                <div class="link">My Profile</div>#}
{#                                <div class="link-desc">Change your profile details & password</div>#}
{#                            </div>#}
{#                        </a> </li>#}
{#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
{#                            <div class="fas fa-headset pt-2 me-3"></div>#}
{#                            <div class="d-flex flex-column">#}
{#                                <div class="link">Help & Support</div>#}
{#                                <div class="link-desc">Contact Us for help and support</div>#}
{#                            </div>#}
{#                        </a> </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
        <div class="col-lg-12 my-lg-0 my-1">
            <div id="main-content" class="bg-white border">
                <div class="d-flex flex-column">
                    {% if user.is_authenticated %}
                    <div class="h5">Hello {{ user.username }},</div>
                    <div>Logged in as: {{ user.email }}</div>
                    {% else %}
                    <div class="h5">Hello Guest,</div>
                    <div>You are not logged in</div>
                    {% endif %}
                </div>
                <div class="d-flex my-4 flex-wrap">
                    <div class="box me-4 my-1 bg-light"> <img src="{% static 'assets/images/icons/cardboard-box.png' %}" alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Orders placed</div>
                            <div class="ms-auto number">{{ count.order }}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light"> <img src="{% static 'assets/images/icons/shopping-cart.png' %}" alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Items in Cart</div>
                            <div class="ms-auto number">{{ count.cart }}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light"> <img src="{% static 'assets/images/icons/love-heart.png' %}" alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Wishlist</div>
                            <div class="ms-auto number">{{ count.wishlist }}</div>
                        </div>
                    </div>
                </div>
                <div class="text-uppercase">My recent orders</div>
                {% for order in orders %}
                <div class="order my-3 bg-light">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column justify-content-between order-summary">
                                <div class="d-flex align-items-center">
                                    <div class="text-uppercase">Order #{{ order.order_id | truncatechars:8 }}</div>
{#                                    <div class="blue-label ms-auto text-uppercase">paid</div>#}
                                </div>
                                <div class="fs-8">Products: <b>{{ order.instrument.name }}</b></div>
                                <div class="fs-8">{{ order.created_at }}</div>
                                <div class="rating d-flex align-items-center pt-1"> <img src="{% static 'assets/images/icons/hand-thumb.png' %}" alt=""><span class="px-2">Rating:</span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                                <div class="status">
                                    Status: {% if order.delivered %}
                                            Delivered
                                            {% elif order.shipped %}
                                            Shopper Confirmed
                                            {% elif order.packed %}
                                            Packed
                                            {% elif order.accepted %}
                                            Accepted
                                            {% else %}
                                            Placed
                                            {% endif %}
                                </div>
                                <div class="btn btn-primary text-uppercase">order info</div>
                            </div>
                            <div class="progressbar-track">
                                <ul class="progressbar">
                                    {% if order.delivered %}
                                    <li id="step-1" class="text-muted green"> <span class="fas fa-gift"></span> </li>
                                    <li id="step-2" class="text-muted green"> <span class="fas fa-check"></span> </li>
                                    <li id="step-3" class="text-muted green"> <span class="fas fa-box"></span> </li>
                                    <li id="step-4" class="text-muted green"> <span class="fas fa-truck"></span> </li>
                                    <li id="step-5" class="text-muted green"> <span class="fas fa-box-open"></span> </li>
                                    {% elif order.shipped %}
                                    <li id="step-1" class="text-muted green"> <span class="fas fa-gift"></span> </li>
                                    <li id="step-2" class="text-muted green"> <span class="fas fa-check"></span> </li>
                                    <li id="step-3" class="text-muted green"> <span class="fas fa-box"></span> </li>
                                    <li id="step-4" class="text-muted green"> <span class="fas fa-truck"></span> </li>
                                    <li id="step-5" class="text-muted"> <span class="fas fa-box-open"></span> </li>
                                    {% elif order.packed %}
                                    <li id="step-1" class="text-muted green"> <span class="fas fa-gift"></span> </li>
                                    <li id="step-2" class="text-muted green"> <span class="fas fa-check"></span> </li>
                                    <li id="step-3" class="text-muted green"> <span class="fas fa-box"></span> </li>
                                    <li id="step-4" class="text-muted"> <span class="fas fa-truck"></span> </li>
                                    <li id="step-5" class="text-muted"> <span class="fas fa-box-open"></span> </li>
                                    {% elif order.accepted %}
                                    <li id="step-1" class="text-muted green"> <span class="fas fa-gift"></span> </li>
                                    <li id="step-2" class="text-muted green"> <span class="fas fa-check"></span> </li>
                                    <li id="step-3" class="text-muted"> <span class="fas fa-box"></span> </li>
                                    <li id="step-4" class="text-muted"> <span class="fas fa-truck"></span> </li>
                                    <li id="step-5" class="text-muted"> <span class="fas fa-box-open"></span> </li>
                                    {% else %}
                                    <li id="step-1" class="text-muted green"> <span class="fas fa-gift"></span> </li>
                                    <li id="step-2" class="text-muted"> <span class="fas fa-check"></span> </li>
                                    <li id="step-3" class="text-muted"> <span class="fas fa-box"></span> </li>
                                    <li id="step-4" class="text-muted"> <span class="fas fa-truck"></span> </li>
                                    <li id="step-5" class="text-muted"> <span class="fas fa-box-open"></span> </li>
                                    {% endif %}

                                </ul>
                                <div id="tracker"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}