{% extends 'layouts/default/shopper_base2.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- BASE CSS -->
    <link href="{% static 'assets/css_for_shop/bootstrap.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/fontawesome-free-5.15.4-web/css/all.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css_for_shop/orders.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {#        <div class="col-lg-3 my-lg-0 my-md-1">#}
            {#            <div id="sidebar" class="bg-purple">#}
            {#                <div class="h4 text-white">{% trans "Accoun"t%}</div>#}
            {#                <ul>#}
            {#                    <li class="active"> <a href="#" class="text-decoration-none d-flex align-items-start">#}
            {#                            <div class="fas fa-box pt-2 me-3"></div>#}
            {#                            <div class="d-flex flex-column">#}
            {#                                <div class="link">{% trans "My Accoun"t%}</div>#}
            {#                                <div class="link-desc">{% trans "View & Manage orders and return"s%}</div>#}
            {#                            </div>#}
            {#                        </a> </li>#}
            {#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
            {#                            <div class="fas fa-box-open pt-2 me-3"></div>#}
            {#                            <div class="d-flex flex-column">#}
            {#                                <div class="link">{% trans "My Order"s%}</div>#}
            {#                                <div class="link-desc">{% trans "View & Manage orders and return"s%}</div>#}
            {#                            </div>#}
            {#                        </a> </li>#}
            {#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
            {#                            <div class="far fa-address-book pt-2 me-3"></div>#}
            {#                            <div class="d-flex flex-column">#}
            {#                                <div class="link">{% trans "Address Boo"k%}</div>#}
            {#                                <div class="link-desc">{% trans "View & Manage Addresse"s%}</div>#}
            {#                            </div>#}
            {#                        </a> </li>#}
            {#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
            {#                            <div class="far fa-user pt-2 me-3"></div>#}
            {#                            <div class="d-flex flex-column">#}
            {#                                <div class="link">{% trans "My Profil"e%}</div>#}
            {#                                <div class="link-desc">{% trans "Change your profile details & passwor"d%}</div>#}
            {#                            </div>#}
            {#                        </a> </li>#}
            {#                    <li> <a href="#" class="text-decoration-none d-flex align-items-start">#}
            {#                            <div class="fas fa-headset pt-2 me-3"></div>#}
            {#                            <div class="d-flex flex-column">#}
            {#                                <div class="link">{% trans "Help & Suppor"t%}</div>#}
            {#                                <div class="link-desc">{% trans "Contact Us for help and suppor"t%}</div>#}
            {#                            </div>#}
            {#                        </a> </li>#}
            {#                </ul>#}
            {#            </div>#}
            {#        </div>#}
            <div class="col-lg-12 my-lg-0 my-1">
                <div id="main-content" class="bg-white border">
                    <div class="d-flex flex-column">
                        {% if user.is_authenticated %}
                            <div class="h5">{% trans "Hello" %} {{ user.username }}</div>
                            <div>{% trans "Logged in as:" %} {{ user.email }}</div>
                        {% else %}
                            <div class="h5">{% trans "Hello Guest" %}</div>
                            <div>{% trans "You are not logged i" %}</div>
                        {% endif %}
                    </div>
                    <div class="d-flex my-4 flex-wrap">
                        <div class="box me-4 my-1 bg-light"><img
                                src="{% static 'assets/images/icons/cardboard-box.png' %}" alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">{% trans "Orders place" %}</div>
                                <div class="ms-auto number">{{ count.order }}</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-light"><img
                                src="{% static 'assets/images/icons/shopping-cart.png' %}" alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">{% trans "Items in Car" %}</div>
                                <div class="ms-auto number">{{ count.cart }}</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-light"><img src="{% static 'assets/images/icons/love-heart.png' %}"
                                                                 alt="">
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">{% trans "Wishlis" %}</div>
                                <div class="ms-auto number">{{ count.wishlist }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-uppercase">{% trans "My recent order" %}</div>
                    {% for order in orders %}
                        <div class="order my-3 bg-light">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex flex-column justify-content-between order-summary">
                                        <div class="d-flex align-items-center">
                                            <div class="text-uppercase">Order
                                                #{{ order.id | truncatechars:8 }}</div>
                                            {#                                    <div class="blue-label ms-auto text-uppercase">{% trans "pai"d%}</div>#}
                                        </div>
                                        <div class="fs-8">{% trans "Quantity:" %}<b>
                                            {{ order.quantity }}
                                        </b></div>
                                        <div class="fs-8">{{ order.created_at }}</div>
                                        <div class="rating d-flex align-items-center pt-1"><img
                                                src="{% static 'assets/images/icons/hand-thumb.png' %}" alt=""><span
                                                class="px-2">{% trans "Rating:" %}</span> <span
                                                class="fas fa-star"></span><span
                                                class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                                                class="fas fa-star"></span> <span class="far fa-star"></span></div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                                        <div class="status">
                                            {% trans "Status:" %} {% if order.delivered %}
                                            {% trans "Delivered" %}
                                        {% elif order.shipped %}
                                            {% trans "Shopper Confirmed" %}
                                        {% elif order.packed %}
                                            {% trans "Packed" %}
                                        {% elif order.accepted %}
                                            {% trans "Accepted" %}
                                        {% else %}
                                            {% trans "Placed" %}
                                        {% endif %}
                                        </div>
                                        <div class="btn btn-primary text-uppercase"
                                             data-bs-toggle="modal"
                                             data-bs-target="#popup-quickview-{{ order.id }}">{% trans "order info" %}</div>
                                    </div>
                                    <div class="progressbar-track">
                                        <ul class="progressbar" id="progressbar__{{ order.id }}">
                                            {% if order.delivered %}
                                                <li id="step-1" class="text-muted green"><span
                                                        class="fas fa-gift"></span></li>
                                                <li id="step-2" class="text-muted green"><span
                                                        class="fas fa-check"></span></li>
                                                <li id="step-3" class="text-muted green"><span
                                                        class="fas fa-box"></span></li>
                                                <li id="step-4" class="text-muted green"><span
                                                        class="fas fa-truck"></span></li>
                                                <li id="step-5" class="text-muted green"><span
                                                        class="fas fa-box-open"></span></li>
                                            {% elif order.shipped %}
                                                <li id="step-1" class="text-muted green"><span
                                                        class="fas fa-gift"></span></li>
                                                <li id="step-2" class="text-muted green"><span
                                                        class="fas fa-check"></span></li>
                                                <li id="step-3" class="text-muted green"><span
                                                        class="fas fa-box"></span></li>
                                                <li id="step-4" class="text-muted green"><span
                                                        class="fas fa-truck"></span></li>
                                                <li id="step-5" class="text-muted"><span class="fas fa-box-open"></span>
                                                </li>
                                            {% elif order.packed %}
                                                <li id="step-1" class="text-muted green"><span
                                                        class="fas fa-gift"></span></li>
                                                <li id="step-2" class="text-muted green"><span
                                                        class="fas fa-check"></span></li>
                                                <li id="step-3" class="text-muted green"><span
                                                        class="fas fa-box"></span></li>
                                                <li id="step-4" class="text-muted"><span class="fas fa-truck"></span>
                                                </li>
                                                <li id="step-5" class="text-muted"><span class="fas fa-box-open"></span>
                                                </li>
                                            {% elif order.accepted %}
                                                <li id="step-1" class="text-muted green"><span
                                                        class="fas fa-gift"></span></li>
                                                <li id="step-2" class="text-muted green"><span
                                                        class="fas fa-check"></span></li>
                                                <li id="step-3" class="text-muted"><span class="fas fa-box"></span></li>
                                                <li id="step-4" class="text-muted"><span class="fas fa-truck"></span>
                                                </li>
                                                <li id="step-5" class="text-muted"><span class="fas fa-box-open"></span>
                                                </li>
                                            {% else %}
                                                <li id="step-1" class="text-muted green"><span
                                                        class="fas fa-gift"></span></li>
                                                <li id="step-2" class="text-muted"><span class="fas fa-check"></span>
                                                </li>
                                                <li id="step-3" class="text-muted"><span class="fas fa-box"></span></li>
                                                <li id="step-4" class="text-muted"><span class="fas fa-truck"></span>
                                                </li>
                                                <li id="step-5" class="text-muted"><span class="fas fa-box-open"></span>
                                                </li>
                                            {% endif %}

                                        </ul>
                                        <div id="tracker"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {% for order in orders %}
        <div id="popup-quickview-{{ order.id }}" class="modal" tabindex="-1">
            <div class="modal-dialog quickview-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i></button>
                    <div class="modal-body d-flex">
                        <div class="quick-container container">
                            <article class="card">
                                <header class="card-header"> My Orders / Tracking</header>
                                <div class="card-body">
                                    <h6>Order ID: #{{ order.id }}</h6>
                                    <article class="card">
                                        <div class="card-body row">
                                            <div class="col"><strong>Placed time:</strong> <br>{{ order.created_at }}
                                            </div>
                                            <div class="col"><strong>Address:</strong> <br> {{ order.address | truncatechars:13 }}
                                                <i class="fa fa-home" aria-hidden="true"></i> {{ order.apartment | truncatechars:13 }}
                                            </div>
                                            <div class="col"><strong>Zip Code:</strong> <br> {{ order.zip_Code }} ({{ order.city }}, {{ order.state }}, {{ order.country }})</div>
                                            <div class="col"><strong>Total Price:</strong> <br>
                                                {% widthratio 0 1 0 as total %}
                                                {% for order_item in order.items.all %}
                                                    {% if not forloop.last %}
                                                        {% widthratio order_item.instrument.price 1 order_item.quantity as price %}
                                                        {% widthratio total|add:price 1 1 as total %}
                                                    {% else %}
                                                        {% widthratio order_item.instrument.price 1 order_item.quantity as price %}
                                                        ${% widthratio total|add:price 1 1 %}
                                                    {% endif %}
                                                {% endfor %}</div>
                                        </div>
                                    </article>
                                    <div class="track">
                                        {% if order.delivered %}
                                            <div class="step active step-placed"><span class="icon"> <i
                                                    class="fas fa-gift"></i> </span>
                                                <span class="text">Placed</span></div>
                                            <div class="step active step-accepted"><span class="icon"> <i
                                                    class="fas fa-check"></i> </span>
                                                <span class="text">Accepted</span></div>
                                            <div class="step active step-packed"><span class="icon"> <i
                                                    class="fas fa-box"></i> </span> <span
                                                    class="text">Packed</span></div>
                                            <div class="step active step-shipped"><span class="icon"> <i
                                                    class="fas fa-truck"></i> </span> <span
                                                    class="text">Shipped</span></div>
                                            <div class="step active step-delivered"><span class="icon"> <i
                                                    class="fas fa-box-open"></i> </span>
                                                <span class="text">Delivered</span></div>
                                        {% elif order.shipped %}
                                            <div class="step active step-placed"><span class="icon"> <i
                                                    class="fas fa-gift"></i> </span>
                                                <span class="text">Placed</span></div>
                                            <div class="step active step-accepted"><span class="icon"> <i
                                                    class="fas fa-check"></i> </span>
                                                <span class="text">Accepted</span></div>
                                            <div class="step active step-packed"><span class="icon"> <i
                                                    class="fas fa-box"></i> </span> <span
                                                    class="text">Packed</span></div>
                                            <div class="step active step-shipped"><span class="icon"> <i
                                                    class="fas fa-truck"></i> </span> <span
                                                    class="text">Shipped</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box-open"></i> </span>
                                                <span class="text">Delivered</span></div>
                                            </li>
                                        {% elif order.packed %}
                                            <div class="step active step-placed"><span class="icon"> <i
                                                    class="fas fa-gift"></i> </span>
                                                <span class="text">Placed</span></div>
                                            <div class="step active step-accepted"><span class="icon"> <i
                                                    class="fas fa-check"></i> </span>
                                                <span class="text">Accepted</span></div>
                                            <div class="step active step-packed"><span class="icon"> <i
                                                    class="fas fa-box"></i> </span> <span
                                                    class="text">Packed</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-truck"></i> </span> <span
                                                    class="text">Shipped</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box-open"></i> </span>
                                                <span class="text">Delivered</span></div>
                                        {% elif order.accepted %}
                                            <div class="step active step-placed"><span class="icon"> <i
                                                    class="fas fa-gift"></i> </span>
                                                <span class="text">Placed</span></div>
                                            <div class="step active step-accepted"><span class="icon"> <i
                                                    class="fas fa-check"></i> </span>
                                                <span class="text">Accepted</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box"></i> </span> <span
                                                    class="text">Packed</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-truck"></i> </span> <span
                                                    class="text">Shipped</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box-open"></i> </span>
                                                <span class="text">Delivered</span></div>
                                        {% else %}
                                            <div class="step active step-placed"><span class="icon"> <i
                                                    class="fas fa-gift"></i> </span>
                                                <span class="text">Placed</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-check"></i> </span>
                                                <span class="text">Accepted</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box"></i> </span> <span
                                                    class="text">Packed</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-truck"></i> </span> <span
                                                    class="text">Shipped</span></div>
                                            <div class="step"><span class="icon"> <i
                                                    class="fas fa-box-open"></i> </span>
                                                <span class="text">Delivered</span></div>
                                        {% endif %}
                                    </div>
                                    <hr>
                                    <ul class="row">
                                        {% for order_item in order.items.all %}
                                            <li class="col-md-4">
                                                <figure class="itemside mb-3">
                                                    <div class="aside"><img src="{{ order_item.instrument.image.url }}"
                                                                            class="img-sm border"></div>
                                                    <figcaption class="info align-self-center">
                                                        <p class="title"><a
                                                                href="{% url 'shop:product_details' product_id=order_item.instrument.id %}">{{ order_item.instrument.name }}</a>
                                                            <br>Quantity: {{ order_item.quantity }}</p>
                                                        <span class="text-muted">${{ order_item.instrument.price }} </span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    <div style="text-align: center">
                                        <a href="javascript:void(0)" class="btn btn-warning" data-bs-dismiss="modal"
                                           aria-label="Close" data-abc="true"> <i class="fa fa-chevron-left"></i>
                                            Back to orders</a>
                                        <a href="javascript:void(0)" class="btn btn-success confirm-delivery"
                                           id="confirm-delivery__{{ order.id }}">
                                            <i class="fas fa-check-circle"></i>
                                            Confirm delivery</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}

    <script src="{% static 'assets/assets_for_bees/js/bootstrap.bundle.min.js' %}"></script>

    <script>

        $(".confirm-delivery").on("click", function () {
            let orderID = $(this).attr("id").split("__")[1];
            $.ajax({
                url: "/api/order/" + orderID + "/",
                method: 'PATCH',
                data: {
                    "accepted": true,
                    "packed": true,
                    "shipped": true,
                    "delivered": true
                },
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    $.ajax({
                        url: "#",
                        method: "GET",
                        success: function (res) {
                            $('#popup-quickview-' + orderID).html($(res).find('#popup-quickview-' + orderID)[0].innerHTML);
                            $('#progressbar__' + orderID).html($(res).find('#progressbar__' + orderID)[0].innerHTML);
                            $.ajax({
                                url: "/api/notification/",
                                method: "POST",
                                data: {
                                    "is_confirm": true,
                                    "order": orderID
                                },
                                headers: {
                                    'X-CSRFTOKEN': '{{ csrf_token }}'
                                },
                                success: function (res) {

                                },
                                error: function () {
                                    alert('Error! Check console!');
                                }

                            });
                        }
                    });
                    setTimeout(function () {
                        let hulla = new hullabaloo();
                        hulla.send("Confirm successfully!", "success");
                    }, 300);
                },
                error: function () {
                    alert('Error! Check console!');
                }
            });
        });

    </script>

{% endblock %}