{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static "assets/img_for_shop/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static "assets/img_for_shop/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static "assets/img_for_shop/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static "assets/img_for_shop/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static "assets/img_for_shop/apple-touch-icon-144x144-precomposed.png" %}">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static "assets/css_for_shop/bootstrap.custom.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css_for_shop/style.css" %}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
{#    <link href="{% static "assets/css_for_shop/product_page.css" %}" rel="stylesheet">#}

    <!-- YOUR CUSTOM CSS -->
{#    <link href="{% static "assets/css_for_shop/custom.css" %}" rel="stylesheet">#}

{% endblock %}

{% block content %}

{% endblock %}

{% block foot_link %}
 	<!-- COMMON SCRIPTS -->
    <script src="{% static "assets/js_for_shop/common_scripts.min.js" %}"></script>
    <script src="{% static "assets/js_for_shop/main.js" %}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script  src="{% static "assets/js_for_shop/carousel_with_thumbs.js" %}"></script>

{% endblock %}