{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Wishlist</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Unit Price</th>
                                <th>Stock</th>
                                <th>Add Item</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if wishlists %}
                                {% for wishlist in wishlists %}
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="/product-detail/{{ wishlist.instrument.id }}">
                                                <img class="img-fluid"
                                                     src="{{ wishlist.instrument.image.url }}" alt=""/>
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="/product-detail/{{ wishlist.instrument.id }}">
                                                {{ cart.instrument.name }}
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>$ {{ cart.instrument.price }}</p>
                                        </td>
                                        <td class="quantity-box">In Stock</td>
                                        <td class="add-pr">
                                            <a class="btn hvr-hover" href="/api/cart/{{ wishlist.instrument.id }}">
                                                Add to Cart</a>
                                        </td>
                                        <td class="remove-pr">
                                            <a href="/api/wishlist/{{ wishlist.instrument.id }}">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {#                                <tr>#}
                            {#                                    <td class="thumbnail-img">#}
                            {#                                        <a href="#">#}
                            {#									<img class="img-fluid" src="images/img-pro-01.jpg" alt="" />#}
                            {#								</a>#}
                            {#                                    </td>#}
                            {#                                    <td class="name-pr">#}
                            {#                                        <a href="#">#}
                            {#									Lorem ipsum dolor sit amet#}
                            {#								</a>#}
                            {#                                    </td>#}
                            {#                                    <td class="price-pr">#}
                            {#                                        <p>$ 80.0</p>#}
                            {#                                    </td>#}
                            {#                                    <td class="quantity-box">In Stock</td>#}
                            {#                                    <td class="add-pr">#}
                            {#                                        <a class="btn hvr-hover" href="#">Add to Cart</a>#}
                            {#                                    </td>#}
                            {#                                    <td class="remove-pr">#}
                            {#                                        <a href="#">#}
                            {#									<i class="fas fa-times"></i>#}
                            {#								</a>#}
                            {#                                    </td>#}
                            {#                                </tr>#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->


{% endblock %}

{% block foot_link %}

    <script src="{% static 'js/wishlist.js' %}"></script>

{% endblock %}