{% extends 'layouts/default/page.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <link href="{% static 'assets/css_for_shop/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css_for_shop/cart2.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Sofia" rel="stylesheet">
    <link href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="wrap-bread-crumb breadcrumb_collection2">
        <div class="text-center bg-breadcrumb"
             style="background-image : url({% static '/assets/img_for_shop/banner_wishlist.jpg' %})">
            <div class="title-page">
                <h2 class="">Wishlist</h2>
            </div>
            <div class="bread-crumb">
                <a href="/" title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <strong>Your Wishlist</strong>
            </div>
        </div>
    </div>
    <div class="main-content wishlist">
        <div class="container">
            <ul class="breadcrumb">
                {#                <li><a href="#">Home</a></li>#}
                {#                <li class="active">Shopping cart</li>#}
            </ul>
            <div class="title-product">
                <h3>Your wishlist</h3>
            </div>
            <!-- End title product -->
            <table class="table wishlist">
                <thead>
                <tr>
                    <th class="product-photo">Product Photo</th>
                    <th class="produc-name">Product Name</th>
                    <th class="description">Description</th>
                    <th class="product-price">Price</th>
                    <th class="product-avai">Availability</th>
                    <th class="add-cart">Add to cart</th>
                    <th class="product-remove"></th>
                </tr>
                </thead>
                <tbody>
                {% if wishlists %}
                    {% for wishlist in wishlists %}

                        <tr class="item_cart" id="wish-{{ wishlist.id }}">
                            <td class="product-photo">
                                <a href="/product-detail/{{ wishlist.instrument.id }}">
                                    <img class="img-fluid"
                                         src="{{ wishlist.instrument.image.url }}" alt=""/>
                                </a>
                            </td>
                            <td class="produc-name">
                                <a href="/product-detail/{{ wishlist.instrument.id }}">
                                    {{ wishlist.instrument.name }}
                                </a>
                            </td>
                            <td class="description">
                                {{ wishlist.instrument.description }}
                            </td>
                            <td class="product-price">
                                <p>$ {{ wishlist.instrument.price }}</p>
                            </td>
                            <td class="product-avai">in stock</td>

                            <td class="add-cart">
                                <a href="/cart/product_add_cart/{{ wishlist.instrument.id }}" title="">
                                    <i class="fa fa-shopping-basket"></i>
                                </a>
                            </td>
                            <td class="product-remove" onclick="remove_wishlist_item({{ wishlist.id }})">
                                <a href="javascript:void(0);" title="">x</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <!-- End conainer -->
    </div>

{% endblock %}

{% block foot_link %}
    <script src="{% static 'js/wishlist.js' %}"></script>
    <script>
        function remove_wishlist_item(id) {
            console.log("delete", id);
            $.ajax({
                url: "/api/wishlist/" + id,
                method: "DELETE",
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (res) {
                    let id_for_delete = "#wish-" + id;
                    $(id_for_delete).remove();
                },
                error: function (res) {
                    console.log("Remove wishlist failed:", id, res);
                }
            })
            {#fetchHeaderCartList();#}
        }
    </script>
{% endblock %}