.progress-stats-container {
  position: relative; }

.progress-stats-container > * {
  position: absolute;
  width: 100%; }

#progress-stats-bar-chart .ct-series-a .ct-bar {
  stroke: #f5f5f7; }

#progress-stats-line-chart .ct-series.ct-series-a .ct-line {
  stroke: url(#lineLinearStats) !important;
  stroke-width: 6px; }

#progress-stats-line-chart .ct-series-a .ct-point {
  fill: transparent;
  stroke: transparent; }

#progress-stats-line-chart .ct-series-a .ct-point:hover {
  fill: url(#lineLinearStats) !important;
  stroke-width: 4;
  stroke: #fff; }

#progress-stats-line-chart .ct-series-a .ct-point-circle {
  fill: url(#lineLinearStats) !important;
  stroke-width: 4;
  stroke: #fff; }

#progress-stats-bar-chart1 .ct-series-a .ct-bar {
  stroke: #f5f5f7; }

#progress-stats-line-chart1 .ct-series.ct-series-a .ct-line {
  stroke: url(#lineLinearStats1) !important;
  stroke-width: 6px; }

#progress-stats-line-chart1 .ct-series-a .ct-point {
  fill: transparent;
  stroke: transparent; }

#progress-stats-line-chart1 .ct-series-a .ct-point:hover {
  fill: url(#lineLinearStats1) !important;
  stroke-width: 4;
  stroke: #fff; }

#progress-stats-line-chart1 .ct-series-a .ct-point-circle {
  fill: url(#lineLinearStats1) !important;
  stroke-width: 4;
  stroke: #fff; }

#progress-stats-bar-chart2 .ct-series-a .ct-bar {
  stroke: #f5f5f7; }

#progress-stats-line-chart2 .ct-series.ct-series-a .ct-line {
  stroke: url(#lineLinearStats2) !important;
  stroke-width: 6px; }

#progress-stats-line-chart2 .ct-series-a .ct-point {
  fill: transparent;
  stroke: transparent; }

#progress-stats-line-chart2 .ct-series-a .ct-point:hover {
  fill: url(#lineLinearStats2) !important;
  stroke-width: 4;
  stroke: #fff; }

#progress-stats-line-chart2 .ct-series-a .ct-point-circle {
  fill: url(#lineLinearStats2) !important;
  stroke-width: 4;
  stroke: #fff; }

.progress-stats-shadow {
  -webkit-filter: drop-shadow(0px 16px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 16px 3px rgba(0, 0, 0, 0.2)); }

#statistics-donut-chart .ct-slice-donut-solid {
  fill: url(#donutGradient2); }

#statistics-donut-chart .ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 30px;
  font-weight: 700;
  fill: #fd636b; }

#statistics-donut-chart .ct-chart-donut .ct-series {
  stroke: #fff;
  stroke-width: 0px; }

.donutShadow {
  -webkit-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow, except 
																						 for the spread property */ }

#new-customers .ct-slice-donut-solid {
  fill: url(#donutGradient5); }

#new-customers .ct-chart-donut .ct-series {
  stroke: #fff;
  stroke-width: 0px; }

#new-customers .ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 45px;
  font-weight: 700;
  fill: #fd636b; }

.newCustomersdonutShadow {
  -webkit-filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow, except 
																						 for the spread property */ }

#new-projects .ct-slice-donut-solid {
  fill: url(#donutGradient6); }

#new-projects .ct-chart-donut .ct-series {
  stroke: #fff;
  stroke-width: 0px; }

#new-projects .ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 45px;
  font-weight: 700;
  fill: #28afd0; }

.newProjectsdonutShadow {
  -webkit-filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow, except 
																						 for the spread property */ }

#tasks-completed .ct-slice-donut-solid {
  fill: url(#donutGradient7); }

#tasks-completed .ct-chart-donut .ct-series {
  stroke: #fff;
  stroke-width: 0px; }

#tasks-completed .ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 45px;
  font-weight: 700;
  fill: #fdb901; }

.tasksCompleteddonutShadow {
  -webkit-filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(4px 11px 9px rgba(0, 0, 0, 0.3));
  /* Same syntax as box-shadow, except 
																						 for the spread property */ }

.chat-application .chats {
  position: relative;
  padding: 0 .5rem; }
