{% extends 'layouts/default/shopper_base2.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_link %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% trans "Cool Login" %}</title>
    {#<script src="https://www.google.com/recaptcha/api.js?render=6LdV8cIfAAAAAC7GSGHt1d0bchCsYCqqITTctGIH"></script>#}
    {#     <script src="https://www.google.com/recaptcha/api.js"></script>#}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script src="{% static 'assets/assets_for_login/login.js' %}"></script>
    <link href="{% static 'assets/assets_for_login/login.css' %}" rel="stylesheet">
    <style>
        .footer_v1 {
            display: none;
        }

        .switch-to-sign-up, .switch-to-sign-in {
            line-height: 1.2;
        }

        label2 {
            display: block;
            width: 260px;
            margin: 0 auto 0;
            text-align: center;
            font-size: 12px;
            color: #cfcfcf;
            text-transform: uppercase;
        }

        .google-recaptcha-box {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Main Content start -->
    <div class="content">
        <!-- User Login start -->
        <div class="form login-in">

            <form action="/accounts/log-in-post/" method="post">
                {% csrf_token %}
                <h2 style="font-family: fantasy;font-style: italic">{% trans "User LOGIN" %}</h2>
                <!-- Input username start -->

                {% bootstrap_form form %}
                <style>
                    #header {
                        display: none !important;
                    }

                    #divChatLauncherContainer {
                        display: none !important;
                    }

                    .sign-up-form-wrapper::-webkit-scrollbar {
                        width: 16px;
                    }

                    .sign-up-form-wrapper::-webkit-scrollbar-track {
                        background-color: #e4e4e4;
                        border-radius: 100px;
                    }

                    .sign-up-form-wrapper::-webkit-scrollbar-thumb {
                        background-color: #d4aa70;
                        border-radius: 100px;
                    }

                    .invalid-feedback {
                        text-align: center;
                    }

                    .text-muted {
                        text-align: center;
                    }

                    #id_remember_me {
                        appearance: auto;
                        margin-top: 20px;
                    }

                    .form-control {
                        width: 60%;
                        margin: 0% 20%;
                    }
                </style>
                <script>
                    $("#id_remember_me").css("appearance", "auto").css("margin-top", "20px");
                </script>
                {#                <label for="username">{% trans "USERNAME" %}</label>#}
                {#                <label2><input class="username_l" id="username_l" name="email_or_username" required="" type="text"#}
                {#                               value=""></label2>#}
                {##}
                {##}
                {#                <!-- Input username end -->#}
                {##}
                {#                <!-- Input password start -->#}
                {#                <label for="password">{% trans "PASSWORD" %}</label>#}
                {#                <label2><input class="password_l" id="password_l" name="password" required="" type="password"#}
                {#                               value=""></label2>#}
                {##}
                {#                <label>#}
                {#                    Keep Login State (one month)#}
                {#                    <input id="remember_me" name="remember_me" type="checkbox" style="appearance: auto;"#}
                {#                           value="y">#}
                {#                </label>#}
                {#                <!-- Input password end -->#}

                <div class="google-recaptcha-box">
                    <div class="g-recaptcha" data-sitekey="6LdQGcMfAAAAAMxN4glZ_yLLsiUtL-A-n6QDedAW"
                         data-callback="verify_result"></div>
                </div>
                <p> <!-- User Sign in button start -->

                    <button id="submit_l" class="submit google-verify-button-sign-in"
                            data-sitekey="6Ld_CsMfAAAAAH1QfTeJCc0cBprTBIR6YF-ScviX"
                            data-callback='onSubmit'
                            data-action='submit'
                    >Sign In
                    </button>
                    {#                    <button type="submit" id="submit_l" class="submit">{% trans "Sign In" %}</button>#}
                </p>   <!-- User Sign in button end -->

                <!-- User Sign in button end -->
                <div class="switch-to-sign-up">{% trans "Sign Up" %}</div>
                <!-- Visitor Sign in button start -->
                <button type="button" class="visitor_button">
                    <span> Visitors </span>
                    <span>{% trans "entrance" %}</span>
                </button>
                <!-- Visitor Sign in button end -->
                <p></p>
                <p class="college">{% trans "MusicoMo Musical Instrument Online Store" %}</p>
            </form>

        </div>
        <!-- User Loin end -->

        <div class="form sign-up">
            <form action="/accounts/sign-up-post/" method="post">
                {% csrf_token %}
                <h2 style="font-family: fantasy;font-style: italic">{% trans "User REGISTER" %}</h2>
                <div class="sign-up-form-wrapper" style="max-height: 266px;overflow: auto;">
                    {% bootstrap_form form2 %}
                </div>
                {#                <!-- Input username start -->#}
                {#                <label for=" username">{% trans "USERNAME" %}</label>#}
                {#                <label2><input class="username_r" id="username_r" name="username" required="" type="text"#}
                {#                               value=""></label2>#}
                {#                <img id="icon-username" src="/static/images/icon/icon-correct.png" alt="">#}
                {#                <p id="hint" class="limitation_for_username"> 6-16 characters</p>#}
                {#                <!-- Input username end -->#}
                {#                <!-- Input password start -->#}
                {#                <label for="password">{% trans "PASSWORD" %}</label>#}
                {#                <label2><input class="password_r" id="password_r" name="password" required="" type="password"#}
                {#                               value=""></label2>#}
                {#                <img id="icon-password" src="/static/images/icon/icon-correct.png" alt="">#}
                {#                <p id="hint" class="limitation_for_password"> 6-12 characters</p>#}
                {#                <label>#}
                {#                    <span>{% trans "PASSWORD AGAIN" %}</span>#}
                {#                    <input class="password" id="password_r2" type="password" required="">#}
                {#                </label>#}
                {#                <img id="icon-password2" src="/static/images/icon/icon-correct.png" alt="">#}
                {#                <!-- Input password end -->#}
                <p> <!-- User Sign in button start -->
                    <button type="submit" id="submit_r" class="submit"
                            data-sitekey="6Ld_CsMfAAAAAH1QfTeJCc0cBprTBIR6YF-ScviX"
                            data-callback='onSubmit'
                            data-action='submit'>{% trans "Sign Up" %}</button>
                    {#                    <button type="submit" id="submit_r" class="submit">{% trans "Sign In" %}</button>#}
                </p><!-- User Sign in button end -->

                <p>
                </p>
                <div class="information"></div>
                <p></p>
                <div class="switch-to-sign-in">{% trans "Sign In" %}</div>
                <!-- Visitor Sign in button start -->

                <!-- Visitor Sign in button end -->

                <p class="college">{% trans "MusicoMo Musical Instrument Online Store" %}</p>
            </form>
        </div>

        <!-- Sub Content start -->
        <div class="sub-content">
            <!-- image on the right start -->
            <div class="right-img">
                <div class="img__text m--up">
                    <h2>{% trans "Staff ?" %}</h2>
                    <p>{% trans "Publish and manage your products through the Staff portal !" %}</p>
                </div>
                <div class="img__text m--in">
                    <h2>{% trans "Customer ?" %}</h2>
                    <p>{% trans "If you just want to buy an item, please log in as a customer !" %}</p>
                </div>
                <div class="change-way-btn">
                    <span class="m--up">{% trans "Merchant Login" %}</span>
                    <span class="m--in">{% trans "Customer Login" %}</span>
                </div>
            </div>

            <!-- Administrator login start -->
            <div class="form login-in-second">
                <form id="login-form" action="/accounts/log-in-staff-post/" method="post">
                    {% csrf_token %}
                    <h2 style="font-family: fantasy;font-style: italic">{% trans "ADMINISTRATOR LOGIN" %}</h2>
                    <!-- Administrator username start -->
                    {#                    <label>#}
                    {#                        <span>{% trans "USERNAME" %}</span>#}
                    {#                        <input class="username_l2" id="username_l2" name="username" required="" type="text" value="">#}
                    {#                        <p id="p1"></p>#}
                    {#                    </label>#}
                    {#                    <!-- Administrator username end -->#}
                    {##}
                    {#                    <!-- Administrator password start -->#}
                    {#                    <label>#}
                    {#                        <span>{% trans "PASSWORD" %}</span>#}
                    {#                        <input class="password_l2" id="password_l2" name="password" required="" type="password"#}
                    {#                               value="">#}
                    {#                    </label>#}
                    <!-- Administrator password end -->
                    {% bootstrap_form form %}
                    <!-- Administrator sign in button start -->
                    <p>
                        {#                        <button class="g-recaptcha"#}
                        {#                                data-sitekey="reCAPTCHA_site_key"#}
                        {#                                data-callback='onSubmit'#}
                        {#                                data-action='submit'>Submit#}
                        {#                        </button>#}

                        <button type="submit" id="submit_l2" class="submit"
                                data-sitekey="6Ld_CsMfAAAAAH1QfTeJCc0cBprTBIR6YF-ScviX"
                                data-callback='onSubmit'
                                data-action='submit'>{% trans "Sign In" %}</button>
                    </p>
                    <!-- Administrator sign in button end -->
                    <p class="college">{% trans "MusicoMo Musical Instrument Online Store" %}</p>
                </form>
            </div>
            <!-- Administrator login end -->
        </div>
        <!-- Sub Content end -->
    </div>
{% endblock %}
{% block scripts %}

    <script>
        function onSubmit(token) {
            console.log("onSubmit google recaptcha");
            {#document.getElementById("login-form").submit();#}
            return false;
        }


    </script>
    <script>
        $(document).ready(function () {
            $('.submit').css('background', '#5e5e5e');
        });

        function verify_result(token) {
            console.log("verify_result google recaptcha");
            console.log(token);
            $('.submit').css('background', '#e5bb60');
        }

        {#function ButtonClick(e) {#}
        {#    console.log("ButtonClick");#}
        {#  e.preventDefault();#}
        {#  grecaptcha.ready(function() {#}
        {#    grecaptcha.execute('6LdV8cIfAAAAAC7GSGHt1d0bchCsYCqqITTctGIH', {action: 'submit'}).then(function(token) {#}
        {#        // Add your logic to submit to your backend server here.#}
        {#        console.log(token);#}
        {#    });#}
        {#  });#}
        {#$(".submit").on("click", ButtonClick);#}
    </script>


{% endblock %}
